In [21]:
import pandas as pd

In [22]:
import re
contents=[]
with open('am_players_scrape.txt','r',encoding='utf-8') as rf:
    for line in rf:
        cont = re.sub('\s{2,5}',', ',line)
        cont = cont.replace('\n','')
        cont = cont.split(', ')
        contents.append(cont)

In [23]:
contents=contents[:-1]

In [24]:
df = pd.DataFrame(contents,columns=['Name','Location'])

In [25]:
df['Team']='America'

In [27]:
import re
contents=[]
with open('euro_players_scrape.txt','r',encoding='utf-8') as rf:
    for line in rf:
        cont = re.sub('\s{2,5}',', ',line)
        cont = cont.replace('\n','')
        cont = cont.split(', ')
        contents.append(cont)

In [28]:
df2 = pd.DataFrame(contents,columns=['Name','Location'])

In [31]:
df2['Team']='Europe'

In [32]:
df = pd.concat([df,df2])

In [67]:
new=df.set_index('Name')

In [68]:
new.ix['Charlie Williams','Location']='South Korea'
new.ix['Paul Gerni','Location']='New Jersey'

In [70]:
new=new.reset_index()

In [71]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///players.db')
connection = engine.connect()

In [72]:
new.to_sql('players',connection,index=False,if_exists='replace')

In [73]:
res=connection.execute('select * from players')

In [74]:
res.fetchall()

[('Johnny Archer', 'Georgia', 'America'),
 ('Earl Strickland', 'North Carolina', 'America'),
 ('Rodney Morris', 'California', 'America'),
 ('Shane Van Boening', 'South Dakota', 'America'),
 ('Corey Deuel', 'California', 'America'),
 ('Jeremy Jones', 'Texas', 'America'),
 ('Charlie Williams', 'South Korea', 'America'),
 ('Nick Varner', 'Kentucky', 'America'),
 ('Mike Dechaine', 'Maine', 'America'),
 ('Dennis Hatch', 'Michigan', 'America'),
 ('Kim Davenport', 'Oklahoma', 'America'),
 ('Justin Bergman', 'Illinois', 'America'),
 ('James Rempe', 'Pennsylvania', 'America'),
 ('Mark Wilson', 'Missouri', 'America'),
 ('Lou Butera', 'Pennsylvania', 'America'),
 ('Michael Coltrain', 'North Carolina', 'America'),
 ('Shannon Daulton', 'Kentucky', 'America'),
 ('Mike Gulyassy', 'Ohio', 'America'),
 ('Robert Hunter', 'Michigan', 'America'),
 ('Mike Massey', 'Tennessee', 'America'),
 ('Reed Pierce', 'Mississippi', 'America'),
 ('Shawn Putnam', 'Pennsylvania', 'America'),
 ('Tony Robles', 'New York', 'America'),
 ('John Schmidt', 'California', 'America'),
 ('Dallas West', 'Illinois', 'America'),
 ('Skyler Woodward', 'Kentucky', 'America'),
 ('C.J. Wiley', 'Texas', 'America'),
 ('Mike Davis', 'North Carolina', 'America'),
 ('John DiToro', 'Florida', 'America'),
 ('Óscar Domínguez', 'California', 'America'),
 ('Paul Gerni', 'New Jersey', 'America'),
 ('Roger Griffis', 'Texas', 'America'),
 ('Justin Hall', 'Illinois', 'America'),
 ('Danny Harriman', 'Maryland', 'America'),
 ('Allen Hopkins', 'New Jersey', 'America'),
 ('Bobby Hunter', 'Michigan', 'America'),
 ('Jeanette Lee', 'New York', 'America'),
 ('Gabe Owen', 'Kansas', 'America'),
 ('Brandon Shuff', 'Virginia', 'America'),
 ('Vivian Villarreal', 'Texas', 'America'),
 ('Buddy Hall', 'Illinois', 'America'),
 ('Ralf Souquet', 'Germany', 'Europe'),
 ('Mika Immonen', 'Finland', 'Europe'),
 ('Niels Feijen', 'Netherlands', 'Europe'),
 ('Steve Davis', 'England', 'Europe'),
 ('Oliver Ortmann', 'Germany', 'Europe'),
 ('Darren Appleton', 'England', 'Europe'),
 ('Nick van den Berg', 'Netherlands', 'Europe'),
 ('Marcus Chamat', 'Sweden', 'Europe'),
 ('Karl Boyes', 'England', 'Europe'),
 ('Steve Knight', 'England', 'Europe'),
 ('Thomas Engert', 'Germany', 'Europe'),
 ('Mark Gray', 'England', 'Europe'),
 ('Thorsten Hohmann', 'Germany', 'Europe'),
 ('Alex Lely', 'Netherlands', 'Europe'),
 ('Albin Ouschan', 'Austria', 'Europe'),
 ('Tony Drago', 'Malta', 'Europe'),
 ('Nick Ekonomopoulos', 'Greece', 'Europe'),
 ('Chris Melling', 'England', 'Europe'),
 ("Ronnie O'Sullivan", 'England', 'Europe'),
 ('Daryl Peach', 'England', 'Europe'),
 ('Tom Storm', 'Sweden', 'Europe'),
 ('Jimmy White', 'England', 'Europe'),
 ('David Alcaide', 'Spain', 'Europe'),
 ('Tommy Donlon', 'Ireland', 'Europe'),
 ('Vincent Facquet', 'France', 'Europe'),
 ('Allison Fisher', 'England', 'Europe'),
 ('Alex Higgins', 'Northern Ireland', 'Europe'),
 ('Raj Hundal', 'England', 'Europe'),
 ('Lee Kendall', 'England', 'Europe'),
 ('Imran Majid', 'England', 'Europe'),
 ('Fabio Petroni', 'Italy', 'Europe'),
 ('Andy Richardson', 'England', 'Europe'),
 ('Jayson Shaw', 'Scotland', 'Europe'),
 ('Franziska Stark', 'Germany', 'Europe'),
 ('Konstantin Stepanov', 'Russia', 'Europe'),
 ('Lee Tucker', 'England', 'Europe'),
 ('Johan Ruijsink', 'Netherlands', 'Europe')]

In [75]:
# connection.execute('delete from players where Name is Null')

In [76]:
newp=pd.read_sql('players',connection)

In [83]:
connection.close()