### **Purpose: **America's best player, Earl Strickland, has been known to play poorly in the Mosconi Cup. This analysis will dive deeper to see which factors are most important in predicting his success.

In [1]:
import pickle
import pandas as pd

In [2]:
df = pickle.load(open('pkl/allyears_clean_locs','rb'))

In [3]:
df = df[df['American_player'].str.contains('Earl Strickland')]

In [4]:
df['Europe_lost']= ~df['Europe_won']
df = df[['Format', 'European_player', 'European_score', 'American_score',
       'American_player', 'Europe_lost','Europe_won']]
df.columns=['Format', 'European_player', 'European_score', 'American_score',
       'American_player', 'America_won', 'America_lost']

In [5]:
def stats(df):
    loss,win = df['America_won'].value_counts(sort=False)
    mp= win+loss
    wl = 'Win-loss: {}-{}'.format(win,loss)
    pct = win/(win+loss)*100
    pc = round(pct,0)
    return('Matches Played: {}'.format(mp),wl,'Pct: {}'.format(pc))

### Lets have a quick look at Earl's overall stats and check out his singles, doubles, and team stats.

In [6]:
stats(df)

('Matches Played: 69', 'Win-loss: 43-26', 'pct: 62.0')

In [41]:
sing = df[df['Format']=='Singles']
dub = df[df['Format']=='Doubles']
team = df[df['Format']=='Teams']
triples = df[df['Format']=='Triples']

In [8]:
stats(sing)

('Matches Played: 26', 'Win-loss: 14-12', 'pct: 54.0')

In [9]:
stats(dub)

('Matches Played: 36', 'Win-loss: 24-12', 'pct: 67.0')

In [10]:
stats(team)

('Matches Played: 5', 'Win-loss: 3-2', 'pct: 60.0')

In [42]:
stats(triples)

ValueError: not enough values to unpack (expected 2, got 1)

### So he plays slightly better in doubles matches. Let's see if he plays better with certain partners

In [11]:
dub = dub[['European_player','American_player','America_won','America_lost']]
dub['Partner']=dub['American_player'].str.replace('Earl Strickland','')
dub['Partner']=dub['Partner'].str.replace('&','')
dub['Partner']=dub['Partner'].str.strip()

In [26]:
dub.sort_values('Partner')

                                                          European_player  \
Year Location                       Match
1996 Dagenham, London, England      27     Steve Davis Ronnie O'Sullivan
2007 Las Vegas, Nevada, USA         3      Tony Drago Konstantin Stepanov
2000 Bethnal Green, London, England 4            Steve Davis Mika Immonen
                                    2            Steve Davis Steve Knight
2013 Las Vegas, Nevada, USA         10       Darren Appleton Ralf Souquet
1998 Bethnal Green, London, England 3           Mika Immonen Ralf Souquet
1997 Bethnal Green, London, England 2         Oliver Ortmann Steve Davis
1999 Bethnal Green, London, England 1            Oliver Ortmann Alex Lely
                                    4           Steve Knight Mika Immonen
1998 Bethnal Green, London, England 1         Oliver Ortmann Steve Knight
1997 Bethnal Green, London, England 9        Tommy Donlon Oliver Ortmann
                                    4      Steve Davis Ronnie O'Sullivan
2003 Las Vegas, Nevada, USA         3       Steve Davis Nick van den Berg
2002 Bethnal Green, London, England 5       Steve Davis Nick van den Berg
                                    2       Steve Davis Nick van den Berg
                                    10        Oliver Ortmann Ralf Souquet
2001 Bethnal Green, London, England 2            Steve Davis Ralf Souquet
2000 Bethnal Green, London, England 11           Steve Davis Mika Immonen
2001 Bethnal Green, London, England 3            Steve Davis Ralf Souquet
1999 Bethnal Green, London, England 11              Steve Davis Alex Lely
2008 St. Julian's, Malta            3                Tony Drago Mark Gray
1998 Bethnal Green, London, England 10        Steve Knight Oliver Ortmann
2013 Las Vegas, Nevada, USA         1          Darren Appleton Karl Boyes
2008 St. Julian's, Malta            8           Niels Feijen Ralf Souquet
2007 Las Vegas, Nevada, USA         9            Daryl Peach Ralf Souquet
2006 Rotterdam, Netherlands         10         Mika Immonen David Alcaide
2005 Las Vegas, Nevada, USA         12         Marcus Chamat Mika Immonen
                                    9                Alex Lely Raj Hundal
                                    4          Mika Immonen Marcus Chamat
2004 Egmond aan Zee, Netherlands    11         Mika Immonen Marcus Chamat
                                    5        Oliver Ortmann Thomas Engert
2006 Rotterdam, Netherlands         5       Nick van den Berg Imran Majid
2004 Egmond aan Zee, Netherlands    2          Mika Immonen Marcus Chamat
2007 Las Vegas, Nevada, USA         5            Daryl Peach Ralf Souquet
2013 Las Vegas, Nevada, USA         7        Darren Appleton Mika Immonen
2003 Las Vegas, Nevada, USA         6       Steve Davis Nick van den Berg

                                                             American_player  \
Year Location                       Match
1996 Dagenham, London, England      27           Earl Strickland C.J. Wiley
2007 Las Vegas, Nevada, USA         3            Earl Strickland Corey Deuel
2000 Bethnal Green, London, England 4            Earl Strickland Corey Deuel
                                    2            Earl Strickland Corey Deuel
2013 Las Vegas, Nevada, USA         10          Earl Strickland Dennis Hatch
1998 Bethnal Green, London, England 3            James Rempe Earl Strickland
1997 Bethnal Green, London, England 2           Earl Strickland James Rempe
1999 Bethnal Green, London, England 1            Earl Strickland James Rempe
                                    4            Earl Strickland James Rempe
1998 Bethnal Green, London, England 1            James Rempe Earl Strickland
1997 Bethnal Green, London, England 9           Earl Strickland James Rempe
                                    4           Earl Strickland James Rempe
2003 Las Vegas, Nevada, USA         3           Earl Strickland Jeremy Jones
2002 Bethnal Green, London, England 5           Earl Strickland Jeremy Jones
                                    2           Earl Strickland Jeremy Jones
                                    10          Earl Strickland Jeremy Jones
2001 Bethnal Green, London, England 2           Earl Strickland Jeremy Jones
2000 Bethnal Green, London, England 11          Earl Strickland Jeremy Jones
2001 Bethnal Green, London, England 3           Earl Strickland Jeremy Jones
1999 Bethnal Green, London, England 11         Earl Strickland Johnny Archer
2008 St. Julian's, Malta            3          Earl Strickland Johnny Archer
1998 Bethnal Green, London, England 10         Earl Strickland Kim Davenport
2013 Las Vegas, Nevada, USA         1          Rodney Morris Earl Strickland
2008 St. Julian's, Malta            8          Earl Strickland Rodney Morris
2007 Las Vegas, Nevada, USA         9          Rodney Morris Earl Strickland
2006 Rotterdam, Netherlands         10         Rodney Morris Earl Strickland
2005 Las Vegas, Nevada, USA         12         Rodney Morris Earl Strickland
                                    9          Earl Strickland Rodney Morris
                                    4          Earl Strickland Rodney Morris
2004 Egmond aan Zee, Netherlands    11         Earl Strickland Rodney Morris
                                    5          Earl Strickland Rodney Morris
2006 Rotterdam, Netherlands         5          Earl Strickland Rodney Morris
2004 Egmond aan Zee, Netherlands    2          Earl Strickland Rodney Morris
2007 Las Vegas, Nevada, USA         5      Earl Strickland Shane Van Boening
2013 Las Vegas, Nevada, USA         7      Earl Strickland Shane Van Boening
2003 Las Vegas, Nevada, USA         6            Tony Robles Earl Strickland

                                          America_won America_lost  \
Year Location                       Match
1996 Dagenham, London, England      27           True        False
2007 Las Vegas, Nevada, USA         3            True        False
2000 Bethnal Green, London, England 4           False         True
                                    2            True        False
2013 Las Vegas, Nevada, USA         10          False         True
1998 Bethnal Green, London, England 3           False         True
1997 Bethnal Green, London, England 2            True        False
1999 Bethnal Green, London, England 1            True        False
                                    4           False         True
1998 Bethnal Green, London, England 1           False         True
1997 Bethnal Green, London, England 9            True        False
                                    4            True        False
2003 Las Vegas, Nevada, USA         3            True        False
2002 Bethnal Green, London, England 5           False         True
                                    2           False         True
                                    10           True        False
2001 Bethnal Green, London, England 2            True        False
2000 Bethnal Green, London, England 11           True        False
2001 Bethnal Green, London, England 3            True        False
1999 Bethnal Green, London, England 11           True        False
2008 St. Julian's, Malta            3            True        False
1998 Bethnal Green, London, England 10           True        False
2013 Las Vegas, Nevada, USA         1           False         True
2008 St. Julian's, Malta            8           False         True
2007 Las Vegas, Nevada, USA         9            True        False
2006 Rotterdam, Netherlands         10          False         True
2005 Las Vegas, Nevada, USA         12           True        False
                                    9            True        False
                                    4            True        False
2004 Egmond aan Zee, Netherlands    11           True        False
                                    5            True        False
2006 Rotterdam, Netherlands         5           False         True
2004 Egmond aan Zee, Netherlands    2            True        False
2007 Las Vegas, Nevada, USA         5           False         True
2013 Las Vegas, Nevada, USA         7            True        False
2003 Las Vegas, Nevada, USA         6            True        False

                                                     Partner
Year Location                       Match
1996 Dagenham, London, England      27            C.J. Wiley
2007 Las Vegas, Nevada, USA         3            Corey Deuel
2000 Bethnal Green, London, England 4            Corey Deuel
                                    2            Corey Deuel
2013 Las Vegas, Nevada, USA         10          Dennis Hatch
1998 Bethnal Green, London, England 3            James Rempe
1997 Bethnal Green, London, England 2            James Rempe
1999 Bethnal Green, London, England 1            James Rempe
                                    4            James Rempe
1998 Bethnal Green, London, England 1            James Rempe
1997 Bethnal Green, London, England 9            James Rempe
                                    4            James Rempe
2003 Las Vegas, Nevada, USA         3           Jeremy Jones
2002 Bethnal Green, London, England 5           Jeremy Jones
                                    2           Jeremy Jones
                                    10          Jeremy Jones
2001 Bethnal Green, London, England 2           Jeremy Jones
2000 Bethnal Green, London, England 11          Jeremy Jones
2001 Bethnal Green, London, England 3           Jeremy Jones
1999 Bethnal Green, London, England 11         Johnny Archer
2008 St. Julian's, Malta            3          Johnny Archer
1998 Bethnal Green, London, England 10         Kim Davenport
2013 Las Vegas, Nevada, USA         1          Rodney Morris
2008 St. Julian's, Malta            8          Rodney Morris
2007 Las Vegas, Nevada, USA         9          Rodney Morris
2006 Rotterdam, Netherlands         10         Rodney Morris
2005 Las Vegas, Nevada, USA         12         Rodney Morris
                                    9          Rodney Morris
                                    4          Rodney Morris
2004 Egmond aan Zee, Netherlands    11         Rodney Morris
                                    5          Rodney Morris
2006 Rotterdam, Netherlands         5          Rodney Morris
2004 Egmond aan Zee, Netherlands    2          Rodney Morris
2007 Las Vegas, Nevada, USA         5      Shane Van Boening
2013 Las Vegas, Nevada, USA         7      Shane Van Boening
2003 Las Vegas, Nevada, USA         6            Tony Robles

In [27]:
dub.groupby('Partner').sum()

                   America_won  America_lost
Partner
C.J. Wiley                 1.0           0.0
Corey Deuel                2.0           1.0
Dennis Hatch               0.0           1.0
James Rempe                4.0           3.0
Jeremy Jones               5.0           2.0
Johnny Archer              2.0           0.0
Kim Davenport              1.0           0.0
Rodney Morris              7.0           4.0
Shane Van Boening          1.0           1.0
Tony Robles                1.0           0.0

### Looks like he plays best with Johnny (4-1) and Dennis (2-0) and plays poorly with Rodney (1-4)

More questions to answer:
1. Does shane play better or worse against certain opponents?
2. Has shane's performance changed over the years?

In [22]:
sing.groupby('European_player').sum().sort_values('America_won')

                    America_won  America_lost
European_player
Karl Boyes                  0.0           1.0
Oliver Ortmann              0.0           1.0
Oliver Ortmann              0.0           1.0
Ronnie O'Sullivan           0.0           1.0
Steve Davis                 0.0           2.0
Daryl Peach                 1.0           0.0
Mika Immonen                1.0           1.0
Mika Immonen                1.0           0.0
Nick van den Berg           1.0           1.0
Niels Feijen                1.0           0.0
Ralf Souquet                1.0           2.0
Steve Knight                1.0           0.0
Tony Drago                  1.0           0.0
Marcus Chamat               2.0           1.0
Ralf Souquet                2.0           1.0
Thomas Engert               2.0           0.0

## Apparently, he does really poorly against Darren Appleton (1-6) and does well against Nick Van Den Berg (3-0). 
## Lets see what his record was for each year.

In [16]:
lst =df.index.values.tolist() 
years = set([])
for item in lst:
#     print(item[0])
    years.add(item[0])
years=list(years)

In [19]:
yearly=[]
err=[]
for year in years:
    try:
        loss, win = df.loc[year]['America_won'].value_counts(sort=False)
    except:
        print('error in year {}'.format(year))
        err.append(year)
    yearly.append((win,loss))

error in year 1997
error in year 2001
error in year 2005

In [28]:
for year in err:
    df.loc[year]

                                       Format                 European_player  \
Location                       Match
Bethnal Green, London, England 2      Doubles     Oliver Ortmann Steve Davis
                               4      Doubles  Steve Davis Ronnie O'Sullivan
                               8      Singles                   Ralf Souquet
                               9      Doubles    Tommy Donlon Oliver Ortmann
                               17     Singles                   Ralf Souquet

                                     European_score American_score  \
Location                       Match
Bethnal Green, London, England 2                  1              2
                               4                  1              2
                               8                  1              2
                               9                  1              2
                               17                 0              2

                                                   American_player  \
Location                       Match
Bethnal Green, London, England 2      Earl Strickland James Rempe
                               4      Earl Strickland James Rempe
                               8                  Earl Strickland
                               9      Earl Strickland James Rempe
                               17                 Earl Strickland

                                     America_won America_lost
Location                       Match
Bethnal Green, London, England 2            True        False
                               4            True        False
                               8            True        False
                               9            True        False
                               17           True        False

                                       Format           European_player  \
Location                       Match
Bethnal Green, London, England 2      Doubles  Steve Davis Ralf Souquet
                               3      Doubles  Steve Davis Ralf Souquet
                               10     Singles              Niels Feijen

                                     European_score American_score  \
Location                       Match
Bethnal Green, London, England 2                  2              5
                               3                  2              5
                               10                 2              5

                                                   American_player  \
Location                       Match
Bethnal Green, London, England 2      Earl Strickland Jeremy Jones
                               3      Earl Strickland Jeremy Jones
                               10                  Earl Strickland

                                     America_won America_lost
Location                       Match
Bethnal Green, London, England 2            True        False
                               3            True        False
                               10           True        False

                               Format             European_player  \
Location               Match
Las Vegas, Nevada, USA 4      Doubles  Mika Immonen Marcus Chamat
                       9      Doubles        Alex Lely Raj Hundal
                       12     Doubles  Marcus Chamat Mika Immonen
                       13     Singles               Marcus Chamat

                             European_score American_score  \
Location               Match
Las Vegas, Nevada, USA 4                  4              5
                       9                  2              5
                       12                 2              5
                       13                 2              5

                                            American_player America_won  \
Location               Match
Las Vegas, Nevada, USA 4      Earl Strickland Rodney Morris        True
                       9      Earl Strickland Rodney Morris        True
                       12     Rodney Morris Earl Strickland        True
                       13                   Earl Strickland        True

                             America_lost
Location               Match
Las Vegas, Nevada, USA 4            False
                       9            False
                       12           False
                       13           False

In [29]:
#manually insert the year 2016 (since he had zero wins, value_counts could not unpack properly to a tuple)
yr[1997]=(5,0)
yr[2001]=(3,0)
yr[2005]=(4,0)

In [30]:
yr= {}
for k,v in zip(years,yearly):
    yr[k]=v

In [32]:
yr

{1996: (2, 3),
 1997: (2, 3),
 1998: (3, 2),
 1999: (2, 2),
 2000: (4, 1),
 2001: (4, 1),
 2002: (2, 3),
 2003: (3, 1),
 2004: (3, 2),
 2005: (3, 2),
 2006: (5, 3),
 2007: (4, 2),
 2008: (2, 3),
 2013: (1, 4)}

### So his worst years were in 2008 (1-5), 2014 (1-6) and 2016 (0-5), all of which were 'away' games (malta in 08, england in 14&16). Let's dig a bit deeper to see how big of a factor location is for Shane's performance.

## Shane is regarded as a formidable player on US soil, but is also known for underperforming overseas. Let's see if the location is a major factor in the quality of his performance.

## Played 10 years total: 5 home (all vegas), 5 away (4 england, 1 malta)

In [33]:
home = df.loc[(slice(None),'Las Vegas, Nevada, USA'),:]

In [34]:
home['America_won'].value_counts(sort=False)

False     7
True     12
Name: America_won, dtype: int64

In [39]:
locs = pickle.load(open('pkl/dloc','rb'))

In [35]:
#even years are all away matches
away = df.loc[[2008,2010,2012,2014,2016]]

In [36]:
away['America_won'].value_counts(sort=False)

False    3
True     2
Name: America_won, dtype: int64

In [37]:
stats(home)

('Matches Played: 19', 'Win-loss: 12-7', 'pct: 63.0')

In [38]:
stats(away)

('Matches Played: 5', 'Win-loss: 2-3', 'pct: 40.0')

# 57% for home games vs 27% for away games is an *extremely* significant difference!

### Let's drill down a bit further to parse out his singles and doubles matches for both home and away

In [ ]:
hsing = stats(home[home['Format']=='Singles'])

In [ ]:
hdub = stats(home[home['Format']=='Doubles'])

In [ ]:
asing = stats(away[away['Format']=='Singles'])

In [ ]:
adub = stats(away[away['Format']=='Doubles'])

In [ ]:
'Home Singles: {}'.format(hsing)
'Home Doubles: {}'.format(hdub)
'Away Singles: {}'.format(asing)
'Away Doubles: {}'.format(adub)

## Not much variation, but he does better in doubles in both cases.