Copy and pasted locations from https://en.wikipedia.org/wiki/Mosconi_Cup and saved in 'locations.csv'

In [1]:
import pandas as pd

In [4]:
path = 'locations.csv'
locs = pd.read_csv(path)

In [9]:
locs.set_index('Year',inplace=True)

In [16]:
d = pd.DataFrame.to_dict(locs)

In [17]:
d

{'Venue': {1994: 'Romford,\xa0London,\xa0England',
  1995: 'Basildon,\xa0Essex,\xa0England',
  1996: 'Dagenham,\xa0London,\xa0England',
  1997: 'Bethnal Green,\xa0London,\xa0England',
  1998: 'Bethnal Green,\xa0London,\xa0England',
  1999: 'Bethnal Green,\xa0London,\xa0England',
  2000: 'Bethnal Green,\xa0London,\xa0England',
  2001: 'Bethnal Green,\xa0London,\xa0England',
  2002: 'Bethnal Green,\xa0London,\xa0England',
  2003: 'Las Vegas,\xa0Nevada,\xa0USA',
  2004: 'Egmond aan Zee,\xa0Netherlands',
  2005: 'Las Vegas,\xa0Nevada,\xa0USA',
  2006: 'Rotterdam,\xa0Netherlands',
  2007: 'Las Vegas,\xa0Nevada,\xa0USA',
  2008: "St. Julian's,\xa0Malta",
  2009: 'Las Vegas,\xa0Nevada,\xa0USA',
  2010: 'Bethnal Green,\xa0London,\xa0England',
  2011: 'Las Vegas,\xa0Nevada,\xa0USA',
  2012: 'Bethnal Green,\xa0London,\xa0England',
  2013: 'Las Vegas,\xa0Nevada,\xa0USA',
  2014: 'Tower Circus,\xa0Blackpool,\xa0England',
  2015: 'Las Vegas,\xa0Nevada,\xa0USA',
  2016: 'Alexandra Palace,\xa0London,\xa0England'}}

In [27]:
#get rid of outer dictionary
dic={}
for i in range(1994,2017):
#     print(d['Venue'][i])
    dic[i]=d['Venue'][i]
dic

{1994: 'Romford,\xa0London,\xa0England',
 1995: 'Basildon,\xa0Essex,\xa0England',
 1996: 'Dagenham,\xa0London,\xa0England',
 1997: 'Bethnal Green,\xa0London,\xa0England',
 1998: 'Bethnal Green,\xa0London,\xa0England',
 1999: 'Bethnal Green,\xa0London,\xa0England',
 2000: 'Bethnal Green,\xa0London,\xa0England',
 2001: 'Bethnal Green,\xa0London,\xa0England',
 2002: 'Bethnal Green,\xa0London,\xa0England',
 2003: 'Las Vegas,\xa0Nevada,\xa0USA',
 2004: 'Egmond aan Zee,\xa0Netherlands',
 2005: 'Las Vegas,\xa0Nevada,\xa0USA',
 2006: 'Rotterdam,\xa0Netherlands',
 2007: 'Las Vegas,\xa0Nevada,\xa0USA',
 2008: "St. Julian's,\xa0Malta",
 2009: 'Las Vegas,\xa0Nevada,\xa0USA',
 2010: 'Bethnal Green,\xa0London,\xa0England',
 2011: 'Las Vegas,\xa0Nevada,\xa0USA',
 2012: 'Bethnal Green,\xa0London,\xa0England',
 2013: 'Las Vegas,\xa0Nevada,\xa0USA',
 2014: 'Tower Circus,\xa0Blackpool,\xa0England',
 2015: 'Las Vegas,\xa0Nevada,\xa0USA',
 2016: 'Alexandra Palace,\xa0London,\xa0England'}

In [32]:
#string replace to get rid of \xa0
dloc={}
for key,val in dic.items():
    val = val.replace(u'\xa0', u' ')
    dloc[key]=val
dloc

{1994: 'Romford, London, England',
 1995: 'Basildon, Essex, England',
 1996: 'Dagenham, London, England',
 1997: 'Bethnal Green, London, England',
 1998: 'Bethnal Green, London, England',
 1999: 'Bethnal Green, London, England',
 2000: 'Bethnal Green, London, England',
 2001: 'Bethnal Green, London, England',
 2002: 'Bethnal Green, London, England',
 2003: 'Las Vegas, Nevada, USA',
 2004: 'Egmond aan Zee, Netherlands',
 2005: 'Las Vegas, Nevada, USA',
 2006: 'Rotterdam, Netherlands',
 2007: 'Las Vegas, Nevada, USA',
 2008: "St. Julian's, Malta",
 2009: 'Las Vegas, Nevada, USA',
 2010: 'Bethnal Green, London, England',
 2011: 'Las Vegas, Nevada, USA',
 2012: 'Bethnal Green, London, England',
 2013: 'Las Vegas, Nevada, USA',
 2014: 'Tower Circus, Blackpool, England',
 2015: 'Las Vegas, Nevada, USA',
 2016: 'Alexandra Palace, London, England'}

In [33]:
path = 'dloc'
pickle.dump( dloc, open( "dloc", "wb" ) )