In [1]:
import pandas as pd

In [2]:
pkl='pkl/allyears_clean'
df= pd.read_pickle(pkl)

In [5]:
# import sqlite3
# conn=sqlite3.connect('players.db')
# pl=conn.execute('select * from players')

In [3]:
#Create lists of players on each team
with open('euro_players_scrape.txt', 'r') as rf:
    euro_players=[]
    for line in rf:
        n=line.split('  ')
        euro_players.append(n[0])
with open('am_players_scrape.txt', 'r') as rf:
    am_players=[]
    for line in rf:
        n=line.split('  ')
        am_players.append(n[0])
        
#remove non-playing captains and fix oscar's name
am_players.remove('Ã“scar DomÃ\xadnguez')
am_players.append('Óscar Domínguez')
am_players.remove('Buddy Hall')
am_players.remove('Don Wardell ')
euro_players.remove('Johan Ruijsink')

#create player dictionary to boolean index df by player
#*note: str.contains allows matches for when there are other characters as well, such as in doubles 
d={}
for player in am_players:
    d[player] = df['American_player'].str.contains(player)
for player in euro_players:
    d[player] = df['European_player'].str.contains(player)

In [4]:
d={}
for player in am_players:
    d[player] = df['American_player'].str.contains(player)
for player in euro_players:
    d[player] = df['European_player'].str.contains(player)

In [5]:
import pickle
pickle.dump(d,open('pkl/d','wb'))

In [6]:
#Create function for boolean indexing the dataframe
#will eventually use this to try out decorators to simplify the win loss code
def boolind(df = df, d = d,**kwargs):
    if 'form' in kwargs.keys():
        df = df[df['Format']==kwargs['form']]
    if 'Europe_won' in kwargs.keys():
        df = df [df['Europe_won']==kwargs['Europe_won']]
    if 'player' in kwargs.keys():
        df = df [d [  kwargs['player']  ] ]
    if 'year' in kwargs.keys():
        df = df.loc[kwargs['year']]
    return(df)

In [7]:
#Create shorthands for boolean indexing the dataframe
singles = df['Format']=='Singles'
doubles = df['Format']=='Doubles'
teams = df['Format']=='Teams'
triples = df['Format']=='Triples'
europe_won = df['Europe_won'] == True
america_won = df['Europe_won'] == False

In [8]:
def winloss(player, country):
    
    #singles
    if 'a' in country:
        swin=df[america_won&singles&d[player]].shape[0]
        sloss=df[d[player]&~america_won&singles].shape[0]
    else:
        sloss=df[d[player]&america_won&singles].shape[0]
        swin=df[d[player]&~america_won&singles].shape[0]        
    swl='{}-{}'.format(swin,sloss)
    spct=round(swin*100/(swin+sloss),2)

    #doubles
    if 'a' in country:
        dwin=df[d[player]&america_won&doubles].shape[0]
        dloss=df[d[player]&~america_won&doubles].shape[0]
    else:
        dloss=df[d[player]&america_won&doubles].shape[0]
        dwin=df[d[player]&~america_won&doubles].shape[0] 
    dwl='{}-{}'.format(dwin,dloss)
    dpct=round(dwin*100/(dwin+dloss),2)
    
        #triples
    if 'a' in country:
        trwin=df[d[player]&america_won&triples].shape[0]
        trloss=df[d[player]&~america_won&triples].shape[0]
    else:
        trloss=df[d[player]&america_won&triples].shape[0]
        trwin=df[d[player]&~america_won&triples].shape[0] 
    trwl='{}-{}'.format(trwin,trloss)
    trpct=round(trwin*100/(trwin+trloss),2)
    
    #teams
    if 'a' in country:
        twin=df[d[player]&america_won&teams].shape[0]
        tloss=df[d[player]&~america_won&teams].shape[0]
    else:
        tloss=df[d[player]&america_won&teams].shape[0]
        twin=df[d[player]&~america_won&teams].shape[0] 
    twl='{}-{}'.format(twin,tloss)
    tpct=round(twin*100/(twin+tloss),2)
    
    #combined
    
    cwin=dwin+swin
    closs=dloss+sloss
    cwl='{}-{}'.format(cwin,closs)
    cpct=round(cwin*100/(cwin+closs),2)
    print("singles: {}   spct:{}%   doubles: {}  dpct:{}% twl: {} trwl:{}   combined: {}  cpct:{}%".format(swl,spct,dwl,dpct,twl,trwl,cwl,cpct))
    return(swl,dwl,cwl)

In [9]:
winloss('Earl Strickland','am')

singles: 14-12   spct:53.85%   doubles: 24-12  dpct:66.67% twl: 3-2 trwl:2-0   combined: 38-24  cpct:61.29%

('14-12', '24-12', '38-24')

In [10]:
def winlosslist(player, country, df=df):
    
    #singles
    if 'a' in country:
        swin=df[america_won&singles&d[player]].shape[0]
        sloss=df[d[player]&~america_won&singles].shape[0]
        smp=swin+sloss
    else:
        sloss=df[d[player]&america_won&singles].shape[0]
        swin=df[d[player]&~america_won&singles].shape[0]    
        smp=swin+sloss
    swl='{}-{}'.format(swin,sloss)
    try:
        spct=swin*100/(swin+sloss)
    except:
        spct=0
    
    #doubles
    if 'a' in country:
        dwin=df[d[player]&america_won&doubles].shape[0]
        dloss=df[d[player]&~america_won&doubles].shape[0]
        dmp=dwin+dloss
    else:
        dloss=df[d[player]&america_won&doubles].shape[0]
        dwin=df[d[player]&~america_won&doubles].shape[0] 
        dmp=dwin+dloss
    dwl='{}-{}'.format(dwin,dloss)
    try:
        dpct=dwin*100/(dwin+dloss)   
    except:
        dpct=0
    
        #teams
    if 'a' in country:
        twin=df[d[player]&america_won&teams].shape[0]
        tloss=df[d[player]&~america_won&teams].shape[0]
        tmp=twin+tloss
    else:
        tloss=df[d[player]&america_won&teams].shape[0]
        twin=df[d[player]&~america_won&teams].shape[0] 
        tmp=twin+tloss
    twl='{}-{}'.format(twin,tloss)
    try:
        tpct=twin*100/(twin+tloss)   
    except:
        tpct=0
        
        #triples
    if 'a' in country:
        trwin=df[d[player]&america_won&triples].shape[0]
        trloss=df[d[player]&~america_won&triples].shape[0]
        trmp=trwin+trloss
    else:
        trloss=df[d[player]&america_won&triples].shape[0]
        trwin=df[d[player]&~america_won&triples].shape[0] 
        trmp=trwin+trloss
    trwl='{}-{}'.format(trwin,trloss)
    try:
        trpct=round(trwin*100/(trwin+trloss),2)        
    except:
        trpct=0

    #combined
    cwin=dwin+swin+twin+trwin
    closs=dloss+sloss+tloss+trloss
    cmp=cwin+closs
    cwl='{}-{}'.format(cwin,closs)
    cpct=cwin*100/(cwin+closs)
    l=[player,country,smp,swin,sloss,swl,round(spct,2),dmp,dwin,dloss,dwl,round(dpct,2), twl,trwl,cmp, cwin,closs,cwl,round(cpct,2)]
    return(l)

In [11]:
#prepare list of winlosslists for each player to create player stats dataframe
L=[]
for player in am_players:
    try:
        lst = winlosslist(player,'America')
        L.append(lst)
    except: #Zerodivision error:
        print('failure- am: ', player)
#         pass
for player in euro_players:
    try:
        lst = winlosslist(player,'Europe')
        L.append(lst)
    except: #Zerodivision error:
        print('failure -eu ', player)
#         pass

In [12]:
#create player_stats dataframe
import pandas as pd
colz = 'Player,Team,Smp,Swin,Sloss,Swl,Spct,Dmp,Dwin,Dloss,Dwl,Dpct,Twl,Trwl,Cmp,Cwin,Closs,Cwl,Cpct'.split(',')
player_stats = pd.DataFrame(L, columns = colz)
player_stats.head()

,Player,Team,Smp,Swin,Sloss,Swl,Spct,Dmp,Dwin,Dloss,Dwl,Dpct,Twl,Trwl,Cmp,Cwin,Closs,Cwl,Cpct
0,Johnny Archer,America,30,17,13,17-13,56.67,50,27,23,27-23,54.00,5-4,1-1,91,50,41,50-41,54.95
1,Earl Strickland,America,26,14,12,14-12,53.85,36,24,12,24-12,66.67,3-2,2-0,69,43,26,43-26,62.32
2,Rodney Morris,America,18,10,8,10-8,55.56,29,12,17,12-17,41.38,3-5,2-0,57,27,30,27-30,47.37
3,Shane Van Boening,America,25,10,15,10-15,40.00,25,11,14,11-14,44.00,4-6,0-0,60,25,35,25-35,41.67
4,Corey Deuel,America,13,7,6,7-6,53.85,25,13,12,13-12,52.00,5-2,2-0,47,27,20,27-20,57.45

In [13]:
import pickle
pd.to_pickle(player_stats,'pkl/player_stats')

In [14]:
def playerinfo(player,country):
    '''Get list of info about a particular player's player stats and output every match he or she played'''
    wl=winlosslist(player,country)
    frame=df[d[player]]
    print((winlosslist(player,country)))
    return(frame)

Data including 2016

Team USA
• Shane Van Boening (10 years -- 2007-2016) ..... 10-15 singles, 11-14 doubles, 4-6 teams, 25-35 total (winning percentage of 42%)

• Rodney Morris (10 years -- 2003-2008, 2010-2011, 2013, 2016) ..... 10-8 singles, 12-17 doubles, 2-0 trebles, 3-5 teams, 27-30 total (47%)

• Mike Dechaine (4 years -- 2011-2012, 2015-2016) ..... 1-6 singles, 2-8 doubles, 2-2 teams, 5-16 total (24%)

• Justin Bergman (3 years -- 2014-2016) ..... 1-5 singles, 4-3 doubles, 1-2 teams, 6-10 total (38%)

• Skyler Woodward (2 years -- 2015-2016) ..... 0-3 singles, 3-3 doubles, 1-1 teams, 4-7 total (36%)

• Team USA Total ..... 22-37 singles, 32-45 doubles, 2-0 trebles, 11-16 teams, 67-98 total (41%)

Team Europe
• Niels Feijen (12 years -- 2001, 2004-2005, 2007-2009, 2011-2016) ..... 12-8 singles, 24-9 doubles, 5-4 teams, 41-21 total (66%)

• Darren Appleton (8 years -- 2009-2016) ..... 10-4 singles, 10-15 doubles, 5-3 teams, 25-22 total (53%)

• Mark Gray (3 years -- 2008, 2014, 2016) ..... 1-1 singles, 4-5 doubles, 3-0 teams, 8-6 total (57%)

• Albin Ouschan (2 years -- 2015-2016) ..... 3-0 singles, 5-1 doubles, 1-1 teams, 9-2 total (82%)

• Jayson Shaw (1 year -- 2016) ..... 1-1 singles, 1-1 doubles, 1-0 teams, 3-2 total (60%)

• Team Europe Total ..... 27-14 singles, 44-31 doubles, 15-8 teams, 86-53 total (62%)

In [15]:
usa = ['Shane Van Boening', 'Rodney Morris', 'Mike Dechaine', 'Justin Bergman', 'Skyler Woodward']
for player in usa:
    print(winlosslist(player, 'am'))

['Shane Van Boening', 'am', 25, 10, 15, '10-15', 40.0, 25, 11, 14, '11-14', 44.0, '4-6', '0-0', 60, 25, 35, '25-35', 41.67]
['Rodney Morris', 'am', 18, 10, 8, '10-8', 55.56, 29, 12, 17, '12-17', 41.38, '3-5', '2-0', 57, 27, 30, '27-30', 47.37]
['Mike Dechaine', 'am', 7, 1, 6, '1-6', 14.29, 10, 2, 8, '2-8', 20.0, '2-2', '0-0', 21, 5, 16, '5-16', 23.81]
['Justin Bergman', 'am', 6, 1, 5, '1-5', 16.67, 7, 4, 3, '4-3', 57.14, '1-2', '0-0', 16, 6, 10, '6-10', 37.5]
['Skyler Woodward', 'am', 3, 0, 3, '0-3', 0.0, 6, 3, 3, '3-3', 50.0, '1-1', '0-0', 11, 4, 7, '4-7', 36.36]

Team USA
• Shane Van Boening 10-15 singles, 11-14 doubles, 4-6 teams, 25-35 total (42%)

• Rodney Morris 10-8 singles, 12-17 doubles, 2-0 trebles, 3-5 teams, 27-30 total (47%)

• Mike Dechaine 1-6 singles, 2-8 doubles, 2-2 teams, 5-16 total (24%)

• Justin Bergman  1-5 singles, 4-3 doubles, 1-2 teams, 6-10 total (38%)

• Skyler Woodward  0-3 singles, 3-3 doubles, 1-1 teams, 4-7 total (36%)


Team Europe
• Niels Feijen 12-8 singles, 24-9 doubles, 5-4 teams, 41-21 total (66%)

• Darren Appleton  10-4 singles, 10-15 doubles, 5-3 teams, 25-22 total (53%)

• Mark Gray   1-1 singles, 4-5 doubles, 3-0 teams, 8-6 total (57%)

• Albin Ouschan  3-0 singles, 5-1 doubles, 1-1 teams, 9-2 total (82%)

• Jayson Shaw 1-1 singles, 1-1 doubles, 1-0 teams, 3-2 total (60%)

In [16]:
eu = ['Darren Appleton', 'Mark Gray', 'Albin Ouschan', 'Niels Feijen']
for player in eu:
    print(winlosslist(player, 'u'))

['Darren Appleton', 'u', 14, 10, 4, '10-4', 71.43, 25, 10, 15, '10-15', 40.0, '5-3', '0-0', 47, 25, 22, '25-22', 53.19]
['Mark Gray', 'u', 2, 1, 1, '1-1', 50.0, 9, 4, 5, '4-5', 44.44, '3-0', '0-0', 14, 8, 6, '8-6', 57.14]
['Albin Ouschan', 'u', 3, 3, 0, '3-0', 100.0, 6, 5, 1, '5-1', 83.33, '1-1', '0-0', 11, 9, 2, '9-2', 81.82]
['Niels Feijen', 'u', 20, 12, 8, '12-8', 60.0, 33, 24, 9, '24-9', 72.73, '5-4', '0-0', 62, 41, 21, '41-21', 66.13]

#More info to verify:
• Johnny Archer (17 years) ..... 18-13 singles, 26-23 doubles, 0-2 trebles, 5-4 teams, 49-42 total (winning percentage of 54%)
• Earl Strickland (14 years) ..... 14-12 singles, 24-12 doubles, 1-1 trebles, 3-2 teams, 42-27 total (61%)
• Corey Deuel (9 years) ..... 7-6 singles, 13-12 doubles, 2-0 trebles, 5-2 teams, 27-20 total (57%)
And more:
Dennis Hatch (4 years -- 2009, 2010, 2012, 2013) ..... 4-3 singles, 5-7 doubles, 2-2 teams, 11-12 total (winning percentage 48%)

In [17]:
pl=['Johnny Archer','Earl Strickland','Corey Deuel','Dennis Hatch']
for player in pl:
    print(winlosslist(player,'am'))

['Johnny Archer', 'am', 30, 17, 13, '17-13', 56.67, 50, 27, 23, '27-23', 54.0, '5-4', '1-1', 91, 50, 41, '50-41', 54.95]
['Earl Strickland', 'am', 26, 14, 12, '14-12', 53.85, 36, 24, 12, '24-12', 66.67, '3-2', '2-0', 69, 43, 26, '43-26', 62.32]
['Corey Deuel', 'am', 13, 7, 6, '7-6', 53.85, 25, 13, 12, '13-12', 52.0, '5-2', '2-0', 47, 27, 20, '27-20', 57.45]
['Dennis Hatch', 'am', 7, 4, 3, '4-3', 57.14, 12, 5, 7, '5-7', 41.67, '2-2', '0-0', 23, 11, 12, '11-12', 47.83]

In [18]:
df[d['Shane Van Boening']].loc[2015]

,Format,European_player,European_score,American_score,American_player,Europe_won
Match,,,,,,
0,Teams,"Nick van den Berg, Niels Feijen, Darren Applet...",4,5,"Justin Bergman, Skyler Woodward, Corey Deuel, ...",False
3,Doubles,Darren Appleton Albin Ouschan,1,5,Shane Van Boening Skyler Woodward,False
4,Singles,Darren Appleton,5,1,Shane Van Boening,True
7,Doubles,Darren Appleton Karl Boyes,5,2,Shane Van Boening Corey Deuel,True
9,Doubles,Darren Appleton Nick van den Berg,4,5,Shane Van Boening Mike Dechaine,False
13,Singles,Niels Feijen,5,4,Shane Van Boening,True
16,Singles,Karl Boyes,4,5,Shane Van Boening,False

# note: archer and strickland are off by one (too many wins) 
The source on AZ billiards has got the wrong triples info. Only triples matches occured in 2006 and johnny was 1-1 earl was 2-0 (source wikipedia)

In [19]:
import pickle

In [20]:
pickle.dump(winlosslist, open('winlosspkl','wb'))

# Data Analysis

In [21]:
#Most singles wins
sing = player_stats[['Player','Swl','Swin']].sort_values('Swin',ascending=False).head(11).reset_index(drop=True)

#Best singles win percentage
singpct = player_stats[player_stats['Swin']>5][['Player','Swin','Swl','Spct']].sort_values(['Spct','Swin'],ascending=[False,False]).head(10).reset_index(drop=True)

#Most doubles wins
doub = player_stats[['Player','Dwl','Dwin']].sort_values('Dwin',ascending=False).reset_index(drop=True).head(10)

#Best doubles win percentage
doubpct = player_stats[player_stats['Dwin']>5][['Player','Dwl','Dwin','Dpct']].sort_values('Dpct',ascending=False).reset_index(drop=True).head(10)

#Most combined wins
comb = player_stats[['Player','Cwl','Cwin']].sort_values('Cwin',ascending=False).reset_index(drop=True).head(10)

#Best combined percentage
combpct = player_stats[player_stats['Cwin']>5][['Player','Cwl','Cpct']].sort_values('Cpct',ascending=False).head(11).reset_index(drop=True)

In [28]:
combpct

              Player    Cwl   Cpct
0      Albin Ouschan    9-2  81.82
1         Karl Boyes   17-5  77.27
2    Shannon Daulton    7-3  70.00
3       Niels Feijen  41-21  66.13
4          Tom Storm    7-4  63.64
5    Earl Strickland  43-26  62.32
6      Kim Davenport    9-6  60.00
7       Ralf Souquet  52-35  59.77
8      Chris Melling    7-5  58.33
9        Corey Deuel  27-20  57.45
10  Charlie Williams   12-9  57.14

In [29]:
player_stats.nlargest(5,'Cwin')

,Player,Team,Smp,Swin,Sloss,Swl,Spct,Dmp,Dwin,Dloss,Dwl,Dpct,Twl,Trwl,Cmp,Cwin,Closs,Cwl,Cpct
40,Ralf Souquet,Europe,33,20,13,20-13,60.61,44,27,17,27-17,61.36,4-4,1-1,87,52,35,52-35,59.77
0,Johnny Archer,America,30,17,13,17-13,56.67,50,27,23,27-23,54.00,5-4,1-1,91,50,41,50-41,54.95
1,Earl Strickland,America,26,14,12,14-12,53.85,36,24,12,24-12,66.67,3-2,2-0,69,43,26,43-26,62.32
41,Mika Immonen,Europe,33,16,17,16-17,48.48,39,22,17,22-17,56.41,3-3,1-1,80,42,38,42-38,52.50
42,Niels Feijen,Europe,20,12,8,12-8,60.00,33,24,9,24-9,72.73,5-4,0-0,62,41,21,41-21,66.13

In [23]:
# df2=df.copy()
# df2['str_split']=df2.European_player.str.split(n=1)
# df2['euro_first']=df2.str_split.str.get(0)
# df2['str_split_am']=df2.American_player.str.split(n=1)
# df2['am_first']=df2.str_split_am.str.get(0)
# df2.drop(['str_split','str_split_am'],1,inplace=True)