Copy and pasted locations from https://en.wikipedia.org/wiki/Mosconi_Cup and saved in 'locations.csv'

In [11]:
import pandas as pd

In [12]:
path = 'locations.csv'
locs = pd.read_csv(path)

In [13]:
locs.set_index('Year',inplace=True)

In [14]:
d = pd.DataFrame.to_dict(locs)

In [15]:
d

{'Venue': {1994: 'Romford,\xa0London,\xa0England',
  1995: 'Basildon,\xa0Essex,\xa0England',
  1996: 'Dagenham,\xa0London,\xa0England',
  1997: 'Bethnal Green,\xa0London,\xa0England',
  1998: 'Bethnal Green,\xa0London,\xa0England',
  1999: 'Bethnal Green,\xa0London,\xa0England',
  2000: 'Bethnal Green,\xa0London,\xa0England',
  2001: 'Bethnal Green,\xa0London,\xa0England',
  2002: 'Bethnal Green,\xa0London,\xa0England',
  2003: 'Las Vegas,\xa0Nevada,\xa0USA',
  2004: 'Egmond aan Zee,\xa0Netherlands',
  2005: 'Las Vegas,\xa0Nevada,\xa0USA',
  2006: 'Rotterdam,\xa0Netherlands',
  2007: 'Las Vegas,\xa0Nevada,\xa0USA',
  2008: "St. Julian's,\xa0Malta",
  2009: 'Las Vegas,\xa0Nevada,\xa0USA',
  2010: 'Bethnal Green,\xa0London,\xa0England',
  2011: 'Las Vegas,\xa0Nevada,\xa0USA',
  2012: 'Bethnal Green,\xa0London,\xa0England',
  2013: 'Las Vegas,\xa0Nevada,\xa0USA',
  2014: 'Tower Circus,\xa0Blackpool,\xa0England',
  2015: 'Las Vegas,\xa0Nevada,\xa0USA',
  2016: 'Alexandra Palace,\xa0London,\xa0England'}}

In [16]:
#get rid of outer dictionary
dic={}
for i in range(1994,2017):
#     print(d['Venue'][i])
    dic[i]=d['Venue'][i]
dic

{1994: 'Romford,\xa0London,\xa0England',
 1995: 'Basildon,\xa0Essex,\xa0England',
 1996: 'Dagenham,\xa0London,\xa0England',
 1997: 'Bethnal Green,\xa0London,\xa0England',
 1998: 'Bethnal Green,\xa0London,\xa0England',
 1999: 'Bethnal Green,\xa0London,\xa0England',
 2000: 'Bethnal Green,\xa0London,\xa0England',
 2001: 'Bethnal Green,\xa0London,\xa0England',
 2002: 'Bethnal Green,\xa0London,\xa0England',
 2003: 'Las Vegas,\xa0Nevada,\xa0USA',
 2004: 'Egmond aan Zee,\xa0Netherlands',
 2005: 'Las Vegas,\xa0Nevada,\xa0USA',
 2006: 'Rotterdam,\xa0Netherlands',
 2007: 'Las Vegas,\xa0Nevada,\xa0USA',
 2008: "St. Julian's,\xa0Malta",
 2009: 'Las Vegas,\xa0Nevada,\xa0USA',
 2010: 'Bethnal Green,\xa0London,\xa0England',
 2011: 'Las Vegas,\xa0Nevada,\xa0USA',
 2012: 'Bethnal Green,\xa0London,\xa0England',
 2013: 'Las Vegas,\xa0Nevada,\xa0USA',
 2014: 'Tower Circus,\xa0Blackpool,\xa0England',
 2015: 'Las Vegas,\xa0Nevada,\xa0USA',
 2016: 'Alexandra Palace,\xa0London,\xa0England'}

In [17]:
#string replace to get rid of \xa0
dloc={}
for key,val in dic.items():
    val = val.replace(u'\xa0', u' ')
    dloc[key]=val
dloc

{1994: 'Romford, London, England',
 1995: 'Basildon, Essex, England',
 1996: 'Dagenham, London, England',
 1997: 'Bethnal Green, London, England',
 1998: 'Bethnal Green, London, England',
 1999: 'Bethnal Green, London, England',
 2000: 'Bethnal Green, London, England',
 2001: 'Bethnal Green, London, England',
 2002: 'Bethnal Green, London, England',
 2003: 'Las Vegas, Nevada, USA',
 2004: 'Egmond aan Zee, Netherlands',
 2005: 'Las Vegas, Nevada, USA',
 2006: 'Rotterdam, Netherlands',
 2007: 'Las Vegas, Nevada, USA',
 2008: "St. Julian's, Malta",
 2009: 'Las Vegas, Nevada, USA',
 2010: 'Bethnal Green, London, England',
 2011: 'Las Vegas, Nevada, USA',
 2012: 'Bethnal Green, London, England',
 2013: 'Las Vegas, Nevada, USA',
 2014: 'Tower Circus, Blackpool, England',
 2015: 'Las Vegas, Nevada, USA',
 2016: 'Alexandra Palace, London, England'}

In [18]:
import pickle
path = 'dloc'
pickle.dump( dloc, open( "dloc", "wb" ) )

In [19]:
dloc[1994]

'Romford, London, England'

In [20]:
df = pickle.load(open('pkl/allyears_with_teams','rb'))

In [21]:
df.index.get_level_values('Year')

Int64Index([1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994, 1994,
            ...
            2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016],
           dtype='int64', name='Year', length=457)

In [22]:
df['Year']= df.index.get_level_values('Year')
df['Location'] = df['Year'].apply(lambda x: dloc[x])

In [23]:
df

             Format                                    European_player  \
Year Match
1994 0      Singles                                         Tom Storm
     1      Singles                                    Oliver Ortmann
     2      Singles                                        Lee Tucker
     3      Singles                                    Allison Fisher
     4      Singles                                       Steve Davis
     5      Singles                                         Tom Storm
     6      Doubles                      Ralf Souquet Franziska Stark
     7      Singles                                        Lee Tucker
     8      Singles                                   Franziska Stark
     9      Singles                                      Ralf Souquet
     10     Doubles                     Oliver Ortmann Allison Fisher
     11     Singles                                         Tom Storm
     12     Singles                                       Jimmy White
     13     Doubles                    Franziska Stark Allison Fisher
     14     Singles                                      Ralf Souquet
     15     Singles                                       Steve Davis
     16     Singles                                   Franziska Stark
     17     Singles                                       Jimmy White
     18     Singles                                       Steve Davis
     19     Singles                                        Lee Tucker
     20     Singles                                       Steve Davis
     21     Singles                                    Oliver Ortmann
     22     Singles                                         Tom Storm
     23     Singles                                    Oliver Ortmann
     24     Singles                                       Jimmy White
     25     Doubles                      Ralf Souquet Franziska Stark
     26     Singles                                        Lee Tucker
     27     Doubles                           Jimmy White Steve Davis
1995 0      Singles                                       Steve Davis
     1      Singles                                       Daryl Peach
...             ...                                                ...
2015 2      Singles                                       Niels Feijen
     3      Doubles                      Darren Appleton Albin Ouschan
     4      Singles                                    Darren Appleton
     5      Doubles                     Niels Feijen Nick van den Berg
     6      Singles                                      Albin Ouschan
     7      Doubles                         Darren Appleton Karl Boyes
     8      Singles                                         Karl Boyes
     9      Doubles                  Darren Appleton Nick van den Berg
     10     Doubles                         Niels Feijen Albin Ouschan
     11     Singles                                  Nick van den Berg
     12     Doubles                           Karl Boyes Albin Ouschan
     13     Singles                                       Niels Feijen
     14     Singles                                    Darren Appleton
     15     Singles                                       Niels Feijen
     16     Singles                                         Karl Boyes
     17     Singles                                      Albin Ouschan
2016 0        Teams  Niels Feijen, Albin Ouschan, Jayson Shaw, Mark...
     1      Doubles                            Mark Gray Albin Ouschan
     2      Singles                                       Niels Feijen
     3      Doubles                        Jayson Shaw Darren Appleton
     4      Singles                                    Darren Appleton
     5      Doubles                             Niels Feijen Mark Gray
     6      Singles                                        Jayson Shaw
     7      Doubles                      Albin Ouschan Darren Appleton
     8      Singles                                          Mark Gray
     9      Doubles                       Darren Appleton Niels Feijen
     10     Doubles                          Jayson Shaw Albin Ouschan
     11     Singles                                      Albin Ouschan
     12     Doubles                          Mark Gray Darren Appleton
     13     Singles                                        Jayson Shaw

           European_score American_score  \
Year Match
1994 0                  2              0
     1                  2              0
     2                  1              2
     3                  0              2
     4                  2              1
     5                  2              0
     6                  0              2
     7                  2              0
     8                  1              2
     9                  2              0
     10                 0              2
     11                 2              1
     12                 2              0
     13                 0              2
     14                 2              0
     15                 1              2
     16                 0              2
     17                 0              2
     18                 1              2
     19                 0              2
     20                 2              1
     21                 1              2
     22                 0              2
     23                 2              0
     24                 1              2
     25                 1              2
     26                 2              0
     27                 0              2
1995 0                  2              0
     1                  1              2
...                   ...            ...
2015 2                  5              2
     3                  1              5
     4                  5              1
     5                  3              5
     6                  5              3
     7                  5              2
     8                  5              3
     9                  4              5
     10                 5              1
     11                 4              5
     12                 5              2
     13                 5              4
     14                 2              5
     15                 5              4
     16                 4              5
     17                 5              4
2016 0                  5              2
     1                  5              2
     2                  5              2
     3                  1              5
     4                  5              3
     5                  5              2
     6                  3              5
     7                  5              4
     8                  5              1
     9                  5              2
     10                 5              3
     11                 5              4
     12                 4              5
     13                 5              1

                                              American_player Europe_won  \
Year Match
1994 0                                          Bobby Hunter        True
     1                                           Mark Wilson        True
     2                                            Lou Butera       False
     3                                     Vivian Villarreal       False
     4                                         Mike Gulyassy        True
     5                                            Lou Butera        True
     6                         Dallas West Vivian Villarreal       False
     7                                           Mark Wilson        True
     8                                     Vivian Villarreal       False
     9                                           Dallas West        True
     10                            Bobby Hunter Jeanette Lee       False
     11                                          Dallas West        True
     12                                           Paul Gerni        True
     13                       Jeanette Lee Vivian Villarreal       False
     14                                         Bobby Hunter        True
     15                                           Lou Butera       False
     16                                         Jeanette Lee       False
     17                                           Lou Butera       False
     18                                         Jeanette Lee       False
     19                                    Vivian Villarreal       False
     20                                           Paul Gerni        True
     21                                          Dallas West       False
     22                                          Mark Wilson       False
     23                                         Bobby Hunter        True
     24                                        Mike Gulyassy       False
     25                            Bobby Hunter Jeanette Lee       False
     26                                           Paul Gerni        True
     27                               Mark Wilson Lou Butera       False
1995 0                                           Mike Massey        True
     1                                         Robert Hunter       False
...                                                       ...        ...
2015 2                                         Justin Bergman       True
     3                      Shane Van Boening Skyler Woodward      False
     4                                      Shane Van Boening       True
     5                         Justin Bergman Skyler Woodward      False
     6                                          Mike Dechaine       True
     7                          Shane Van Boening Corey Deuel       True
     8                                        Skyler Woodward       True
     9                        Shane Van Boening Mike Dechaine      False
     10                            Justin Bergman Corey Deuel       True
     11                                           Corey Deuel      False
     12                         Mike Dechaine Skyler Woodward       True
     13                                     Shane Van Boening       True
     14                                        Justin Bergman      False
     15                                        Justin Bergman       True
     16                                     Shane Van Boening      False
     17                                       Skyler Woodward       True
2016 0      Mike Dechaine, Shane Van Boening, Rodney Morri...       True
     1                        Shane Van Boening Rodney Morris       True
     2                                          Mike Dechaine       True
     3                         Skyler Woodward Justin Bergman      False
     4                                      Shane Van Boening       True
     5                      Shane Van Boening Skyler Woodward       True
     6                                          Rodney Morris      False
     7                           Mike Dechaine Justin Bergman       True
     8                                         Justin Bergman       True
     9                        Mike Dechaine Shane Van Boening       True
     10                         Rodney Morris Skyler Woodward       True
     11                                       Skyler Woodward       True
     12                          Justin Bergman Rodney Morris      False
     13                                         Mike Dechaine       True

            Year                           Location
Year Match
1994 0      1994           Romford, London, England
     1      1994           Romford, London, England
     2      1994           Romford, London, England
     3      1994           Romford, London, England
     4      1994           Romford, London, England
     5      1994           Romford, London, England
     6      1994           Romford, London, England
     7      1994           Romford, London, England
     8      1994           Romford, London, England
     9      1994           Romford, London, England
     10     1994           Romford, London, England
     11     1994           Romford, London, England
     12     1994           Romford, London, England
     13     1994           Romford, London, England
     14     1994           Romford, London, England
     15     1994           Romford, London, England
     16     1994           Romford, London, England
     17     1994           Romford, London, England
     18     1994           Romford, London, England
     19     1994           Romford, London, England
     20     1994           Romford, London, England
     21     1994           Romford, London, England
     22     1994           Romford, London, England
     23     1994           Romford, London, England
     24     1994           Romford, London, England
     25     1994           Romford, London, England
     26     1994           Romford, London, England
     27     1994           Romford, London, England
1995 0      1995           Basildon, Essex, England
     1      1995           Basildon, Essex, England
...          ...                                ...
2015 2      2015             Las Vegas, Nevada, USA
     3      2015             Las Vegas, Nevada, USA
     4      2015             Las Vegas, Nevada, USA
     5      2015             Las Vegas, Nevada, USA
     6      2015             Las Vegas, Nevada, USA
     7      2015             Las Vegas, Nevada, USA
     8      2015             Las Vegas, Nevada, USA
     9      2015             Las Vegas, Nevada, USA
     10     2015             Las Vegas, Nevada, USA
     11     2015             Las Vegas, Nevada, USA
     12     2015             Las Vegas, Nevada, USA
     13     2015             Las Vegas, Nevada, USA
     14     2015             Las Vegas, Nevada, USA
     15     2015             Las Vegas, Nevada, USA
     16     2015             Las Vegas, Nevada, USA
     17     2015             Las Vegas, Nevada, USA
2016 0      2016  Alexandra Palace, London, England
     1      2016  Alexandra Palace, London, England
     2      2016  Alexandra Palace, London, England
     3      2016  Alexandra Palace, London, England
     4      2016  Alexandra Palace, London, England
     5      2016  Alexandra Palace, London, England
     6      2016  Alexandra Palace, London, England
     7      2016  Alexandra Palace, London, England
     8      2016  Alexandra Palace, London, England
     9      2016  Alexandra Palace, London, England
     10     2016  Alexandra Palace, London, England
     11     2016  Alexandra Palace, London, England
     12     2016  Alexandra Palace, London, England
     13     2016  Alexandra Palace, London, England

[457 rows x 8 columns]

In [24]:
df.drop('Year', axis=1, inplace=True)

In [25]:
df

             Format                                    European_player  \
Year Match
1994 0      Singles                                         Tom Storm
     1      Singles                                    Oliver Ortmann
     2      Singles                                        Lee Tucker
     3      Singles                                    Allison Fisher
     4      Singles                                       Steve Davis
     5      Singles                                         Tom Storm
     6      Doubles                      Ralf Souquet Franziska Stark
     7      Singles                                        Lee Tucker
     8      Singles                                   Franziska Stark
     9      Singles                                      Ralf Souquet
     10     Doubles                     Oliver Ortmann Allison Fisher
     11     Singles                                         Tom Storm
     12     Singles                                       Jimmy White
     13     Doubles                    Franziska Stark Allison Fisher
     14     Singles                                      Ralf Souquet
     15     Singles                                       Steve Davis
     16     Singles                                   Franziska Stark
     17     Singles                                       Jimmy White
     18     Singles                                       Steve Davis
     19     Singles                                        Lee Tucker
     20     Singles                                       Steve Davis
     21     Singles                                    Oliver Ortmann
     22     Singles                                         Tom Storm
     23     Singles                                    Oliver Ortmann
     24     Singles                                       Jimmy White
     25     Doubles                      Ralf Souquet Franziska Stark
     26     Singles                                        Lee Tucker
     27     Doubles                           Jimmy White Steve Davis
1995 0      Singles                                       Steve Davis
     1      Singles                                       Daryl Peach
...             ...                                                ...
2015 2      Singles                                       Niels Feijen
     3      Doubles                      Darren Appleton Albin Ouschan
     4      Singles                                    Darren Appleton
     5      Doubles                     Niels Feijen Nick van den Berg
     6      Singles                                      Albin Ouschan
     7      Doubles                         Darren Appleton Karl Boyes
     8      Singles                                         Karl Boyes
     9      Doubles                  Darren Appleton Nick van den Berg
     10     Doubles                         Niels Feijen Albin Ouschan
     11     Singles                                  Nick van den Berg
     12     Doubles                           Karl Boyes Albin Ouschan
     13     Singles                                       Niels Feijen
     14     Singles                                    Darren Appleton
     15     Singles                                       Niels Feijen
     16     Singles                                         Karl Boyes
     17     Singles                                      Albin Ouschan
2016 0        Teams  Niels Feijen, Albin Ouschan, Jayson Shaw, Mark...
     1      Doubles                            Mark Gray Albin Ouschan
     2      Singles                                       Niels Feijen
     3      Doubles                        Jayson Shaw Darren Appleton
     4      Singles                                    Darren Appleton
     5      Doubles                             Niels Feijen Mark Gray
     6      Singles                                        Jayson Shaw
     7      Doubles                      Albin Ouschan Darren Appleton
     8      Singles                                          Mark Gray
     9      Doubles                       Darren Appleton Niels Feijen
     10     Doubles                          Jayson Shaw Albin Ouschan
     11     Singles                                      Albin Ouschan
     12     Doubles                          Mark Gray Darren Appleton
     13     Singles                                        Jayson Shaw

           European_score American_score  \
Year Match
1994 0                  2              0
     1                  2              0
     2                  1              2
     3                  0              2
     4                  2              1
     5                  2              0
     6                  0              2
     7                  2              0
     8                  1              2
     9                  2              0
     10                 0              2
     11                 2              1
     12                 2              0
     13                 0              2
     14                 2              0
     15                 1              2
     16                 0              2
     17                 0              2
     18                 1              2
     19                 0              2
     20                 2              1
     21                 1              2
     22                 0              2
     23                 2              0
     24                 1              2
     25                 1              2
     26                 2              0
     27                 0              2
1995 0                  2              0
     1                  1              2
...                   ...            ...
2015 2                  5              2
     3                  1              5
     4                  5              1
     5                  3              5
     6                  5              3
     7                  5              2
     8                  5              3
     9                  4              5
     10                 5              1
     11                 4              5
     12                 5              2
     13                 5              4
     14                 2              5
     15                 5              4
     16                 4              5
     17                 5              4
2016 0                  5              2
     1                  5              2
     2                  5              2
     3                  1              5
     4                  5              3
     5                  5              2
     6                  3              5
     7                  5              4
     8                  5              1
     9                  5              2
     10                 5              3
     11                 5              4
     12                 4              5
     13                 5              1

                                              American_player Europe_won  \
Year Match
1994 0                                          Bobby Hunter        True
     1                                           Mark Wilson        True
     2                                            Lou Butera       False
     3                                     Vivian Villarreal       False
     4                                         Mike Gulyassy        True
     5                                            Lou Butera        True
     6                         Dallas West Vivian Villarreal       False
     7                                           Mark Wilson        True
     8                                     Vivian Villarreal       False
     9                                           Dallas West        True
     10                            Bobby Hunter Jeanette Lee       False
     11                                          Dallas West        True
     12                                           Paul Gerni        True
     13                       Jeanette Lee Vivian Villarreal       False
     14                                         Bobby Hunter        True
     15                                           Lou Butera       False
     16                                         Jeanette Lee       False
     17                                           Lou Butera       False
     18                                         Jeanette Lee       False
     19                                    Vivian Villarreal       False
     20                                           Paul Gerni        True
     21                                          Dallas West       False
     22                                          Mark Wilson       False
     23                                         Bobby Hunter        True
     24                                        Mike Gulyassy       False
     25                            Bobby Hunter Jeanette Lee       False
     26                                           Paul Gerni        True
     27                               Mark Wilson Lou Butera       False
1995 0                                           Mike Massey        True
     1                                         Robert Hunter       False
...                                                       ...        ...
2015 2                                         Justin Bergman       True
     3                      Shane Van Boening Skyler Woodward      False
     4                                      Shane Van Boening       True
     5                         Justin Bergman Skyler Woodward      False
     6                                          Mike Dechaine       True
     7                          Shane Van Boening Corey Deuel       True
     8                                        Skyler Woodward       True
     9                        Shane Van Boening Mike Dechaine      False
     10                            Justin Bergman Corey Deuel       True
     11                                           Corey Deuel      False
     12                         Mike Dechaine Skyler Woodward       True
     13                                     Shane Van Boening       True
     14                                        Justin Bergman      False
     15                                        Justin Bergman       True
     16                                     Shane Van Boening      False
     17                                       Skyler Woodward       True
2016 0      Mike Dechaine, Shane Van Boening, Rodney Morri...       True
     1                        Shane Van Boening Rodney Morris       True
     2                                          Mike Dechaine       True
     3                         Skyler Woodward Justin Bergman      False
     4                                      Shane Van Boening       True
     5                      Shane Van Boening Skyler Woodward       True
     6                                          Rodney Morris      False
     7                           Mike Dechaine Justin Bergman       True
     8                                         Justin Bergman       True
     9                        Mike Dechaine Shane Van Boening       True
     10                         Rodney Morris Skyler Woodward       True
     11                                       Skyler Woodward       True
     12                          Justin Bergman Rodney Morris      False
     13                                         Mike Dechaine       True

                                     Location
Year Match
1994 0               Romford, London, England
     1               Romford, London, England
     2               Romford, London, England
     3               Romford, London, England
     4               Romford, London, England
     5               Romford, London, England
     6               Romford, London, England
     7               Romford, London, England
     8               Romford, London, England
     9               Romford, London, England
     10              Romford, London, England
     11              Romford, London, England
     12              Romford, London, England
     13              Romford, London, England
     14              Romford, London, England
     15              Romford, London, England
     16              Romford, London, England
     17              Romford, London, England
     18              Romford, London, England
     19              Romford, London, England
     20              Romford, London, England
     21              Romford, London, England
     22              Romford, London, England
     23              Romford, London, England
     24              Romford, London, England
     25              Romford, London, England
     26              Romford, London, England
     27              Romford, London, England
1995 0               Basildon, Essex, England
     1               Basildon, Essex, England
...                                       ...
2015 2                 Las Vegas, Nevada, USA
     3                 Las Vegas, Nevada, USA
     4                 Las Vegas, Nevada, USA
     5                 Las Vegas, Nevada, USA
     6                 Las Vegas, Nevada, USA
     7                 Las Vegas, Nevada, USA
     8                 Las Vegas, Nevada, USA
     9                 Las Vegas, Nevada, USA
     10                Las Vegas, Nevada, USA
     11                Las Vegas, Nevada, USA
     12                Las Vegas, Nevada, USA
     13                Las Vegas, Nevada, USA
     14                Las Vegas, Nevada, USA
     15                Las Vegas, Nevada, USA
     16                Las Vegas, Nevada, USA
     17                Las Vegas, Nevada, USA
2016 0      Alexandra Palace, London, England
     1      Alexandra Palace, London, England
     2      Alexandra Palace, London, England
     3      Alexandra Palace, London, England
     4      Alexandra Palace, London, England
     5      Alexandra Palace, London, England
     6      Alexandra Palace, London, England
     7      Alexandra Palace, London, England
     8      Alexandra Palace, London, England
     9      Alexandra Palace, London, England
     10     Alexandra Palace, London, England
     11     Alexandra Palace, London, England
     12     Alexandra Palace, London, England
     13     Alexandra Palace, London, England

[457 rows x 7 columns]

In [29]:
df.set_index('Location', append=True, inplace=True).sort_index()

AttributeError: 'NoneType' object has no attribute 'sort_index'

In [30]:
df.head()

                                      Format  European_player European_score  \
Year Match Location
1994 0     Romford, London, England  Singles       Tom Storm               2
     1     Romford, London, England  Singles  Oliver Ortmann               2
     2     Romford, London, England  Singles      Lee Tucker               1
     3     Romford, London, England  Singles  Allison Fisher               0
     4     Romford, London, England  Singles     Steve Davis               2

                                    American_score     American_player  \
Year Match Location
1994 0     Romford, London, England              0       Bobby Hunter
     1     Romford, London, England              0        Mark Wilson
     2     Romford, London, England              2         Lou Butera
     3     Romford, London, England              2  Vivian Villarreal
     4     Romford, London, England              1      Mike Gulyassy

                                    Europe_won
Year Match Location
1994 0     Romford, London, England       True
     1     Romford, London, England       True
     2     Romford, London, England      False
     3     Romford, London, England      False
     4     Romford, London, England       True

In [35]:
df = df.reorder_levels([0,2,1])

In [36]:
path = 'pkl/allyears_clean_locs'
df.to_pickle(path)