## Goals: 
1. Clean 'allyears' data to add in the names of players on the team rather than eg. 'Team Europe' for the teams matches
2. Reformat 'trebles' data to be of format 'triples'

In [32]:
import pickle
import pandas as pd
import os

In [33]:
cwd = os.getcwd()
dr = '{}\\pkl'.format(cwd)
filename = 'allyears'

In [34]:
path = os.path.join(dr,filename)

In [35]:
df = pickle.load(open(path,'rb'))

In [36]:
#see which years have teams matches
df[df['Format']=='Teams']

           Format European_player European_score American_score  \
Year Match
2006 0      Teams     Team Europe              5              6
     15     Teams     Team Europe              3              6
2007 0      Teams     Team Europe              4              6
2008 0      Teams     Team Europe              5              3
2009 0      Teams     Team Europe              4              6
2010 0      Teams     Team Europe              6              5
2011 0      Teams     Team Europe              6              3
2012 0      Teams     Team Europe              3              5
2013 0      Teams     Team Europe              6              3
2014 0      Teams     Team Europe              5              1
2015 0      Teams     Team Europe              4              5
2016 0      Teams     Team Europe              5              2

           American_player Europe_won
Year Match
2006 0            Team USA      False
     15           Team USA      False
2007 0            Team USA      False
2008 0            Team USA       True
2009 0            Team USA      False
2010 0            Team USA       True
2011 0            Team USA       True
2012 0            Team USA      False
2013 0            Team USA       True
2014 0            Team USA       True
2015 0            Team USA      False
2016 0            Team USA       True

In [37]:
#years that have teams matches
yrs =[ i for i in range(2006,2017)]

In [38]:
df.loc[2008]['American_player']

Match
0                            Team USA
1     Shane Van Boening Rodney Morris
2                        Jeremy Jones
3       Earl Strickland Johnny Archer
4     Shane Van Boening Rodney Morris
5                     Earl Strickland
6          Johnny Archer Jeremy Jones
7                     Earl Strickland
8       Earl Strickland Rodney Morris
9                   Shane Van Boening
10         Johnny Archer Jeremy Jones
11                      Rodney Morris
12                  Shane Van Boening
13                       Jeremy Jones
14         Rodney Morris Jeremy Jones
15                  Shane Van Boening
Name: American_player, dtype: object

In [39]:
#form method for particular year to change 'Team Europe' and 'Team America' to contain all the players' names
for year in yrs:
    dfnew = df.loc[year]
    dfn = dfnew[dfnew.Format == 'Singles'] 
    #europe
    lst = dfn.European_player[:].tolist()
    s = set(lst)
    team_europe = list(s)
    euro = ', '.join(team_europe)
    df.loc[(year,0),'European_player'] = euro
    #america
    lst = dfn.American_player[:].tolist()
    s = set(lst)
    team_usa = list(s)
    us = ', '.join(team_usa)
    df.loc[(year,0),'American_player'] = us

In [40]:
#override errors created by those players not having played any singles matches
df.loc[(2008,0),'American_player'] = 'Earl Strickland, Jeremy Jones, Rodney Morris, Shane Van Boening, Johnny Archer'
df.loc[(2008,0),'European_player'] = 'Niels Feijen, Tony Drago, Mika Immonen, Ralf Souquet, Mark Gray'
df.loc[(2006,15),'American_player'] = df.loc[2006]['American_player'][0]
df.loc[(2006,15),'European_player'] = df.loc[2006]['European_player'][0]

In [41]:
#there were two matches in 2006
df.loc[2006]['American_player'][15]

'Rodney Morris, Mike Davis, Earl Strickland, Johnny Archer, Corey Deuel, John Schmidt'

## Now to fix triples data

In [42]:
df[df['Format']=='Triples']

             Format                              European_player  \
Year Match
2006 16     Triples  Imran Majid Thomas Engert Nick van den Berg
     17     Triples      Ralf Souquet Mika Immonen David Alcaide

           European_score American_score  \
Year Match
2006 16                 5              6
     17                 1              6

                                     American_player Europe_won
Year Match
2006 16     Corey Deuel Earl Strickland John Schmidt      False
     17       Johnny Archer Rodney Morris Mike Davis      False

In [43]:
df[df['Format']=='Trebles']

             Format                              European_player  \
Year Match
2006 1      Trebles      Mika Immonen David Alcaide Ralf Souquet
     2      Trebles  Imran Majid Thomas Engert Nick van den Berg

           European_score American_score  \
Year Match
2006 1                  6              3
     2                  2              6

                                      American_player Europe_won
Year Match
2006 1          Johnny Archer John Schmidt Mike Davis       True
     2      Corey Deuel Earl Strickland Rodney Morris      False

In [44]:
#change trebles to triples
df.loc[(2006,1),'Format']='Triples'
df.loc[(2006,2),'Format']='Triples'

In [45]:
path = 'allyears_clean'
df.to_pickle(path)

## Now let's try to save the dataframe to a sql database

In [46]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///allyears_clean.sqlite')
connection = engine.connect()

In [57]:
df.to_sql('allyears_clean.sqlite', if_exists= 'replace', con = connection)

In [54]:
query = 'allyears_clean.sqlite'

In [55]:
dataf= pd.read_sql(query,connection)

In [56]:
dataf

,Year,Match,Format,European_player,European_score,American_score,American_player,Europe_won
0,1994,0,Singles,Tom Storm,2,0,Bobby Hunter,True
1,1994,1,Singles,Oliver Ortmann,2,0,Mark Wilson,True
2,1994,2,Singles,Lee Tucker,1,2,Lou Butera,False
3,1994,3,Singles,Allison Fisher,0,2,Vivian Villarreal,False
4,1994,4,Singles,Steve Davis,2,1,Mike Gulyassy,True
5,1994,5,Singles,Tom Storm,2,0,Lou Butera,True
6,1994,6,Doubles,Ralf Souquet Franziska Stark,0,2,Dallas West Vivian Villarreal,False
7,1994,7,Singles,Lee Tucker,2,0,Mark Wilson,True
8,1994,8,Singles,Franziska Stark,1,2,Vivian Villarreal,False
9,1994,9,Singles,Ralf Souquet,2,0,Dallas West,True
10,1994,10,Doubles,Oliver Ortmann Allison Fisher,0,2,Bobby Hunter Jeanette Lee,False
11,1994,11,Singles,Tom Storm,2,1,Dallas West,True
12,1994,12,Singles,Jimmy White,2,0,Paul Gerni,True
13,1994,13,Doubles,Franziska Stark Allison Fisher,0,2,Jeanette Lee Vivian Villarreal,False
14,1994,14,Singles,Ralf Souquet,2,0,Bobby Hunter,True
15,1994,15,Singles,Steve Davis,1,2,Lou Butera,False
16,1994,16,Singles,Franziska Stark,0,2,Jeanette Lee,False
17,1994,17,Singles,Jimmy White,0,2,Lou Butera,False
18,1994,18,Singles,Steve Davis,1,2,Jeanette Lee,False
19,1994,19,Singles,Lee Tucker,0,2,Vivian Villarreal,False
20,1994,20,Singles,Steve Davis,2,1,Paul Gerni,True
21,1994,21,Singles,Oliver Ortmann,1,2,Dallas West,False
22,1994,22,Singles,Tom Storm,0,2,Mark Wilson,False
23,1994,23,Singles,Oliver Ortmann,2,0,Bobby Hunter,True
24,1994,24,Singles,Jimmy White,1,2,Mike Gulyassy,False
25,1994,25,Doubles,Ralf Souquet Franziska Stark,1,2,Bobby Hunter Jeanette Lee,False
26,1994,26,Singles,Lee Tucker,2,0,Paul Gerni,True
27,1994,27,Doubles,Jimmy White Steve Davis,0,2,Mark Wilson Lou Butera,False
28,1995,0,Singles,Steve Davis,2,0,Mike Massey,True
29,1995,1,Singles,Daryl Peach,1,2,Robert Hunter,False
...,...,...,...,...,...,...,...,...
427,2015,2,Singles,Niels Feijen,5,2,Justin Bergman,True
428,2015,3,Doubles,Darren Appleton Albin Ouschan,1,5,Shane Van Boening Skyler Woodward,False
429,2015,4,Singles,Darren Appleton,5,1,Shane Van Boening,True
430,2015,5,Doubles,Niels Feijen Nick van den Berg,3,5,Justin Bergman Skyler Woodward,False
431,2015,6,Singles,Albin Ouschan,5,3,Mike Dechaine,True
432,2015,7,Doubles,Darren Appleton Karl Boyes,5,2,Shane Van Boening Corey Deuel,True
433,2015,8,Singles,Karl Boyes,5,3,Skyler Woodward,True
434,2015,9,Doubles,Darren Appleton Nick van den Berg,4,5,Shane Van Boening Mike Dechaine,False
435,2015,10,Doubles,Niels Feijen Albin Ouschan,5,1,Justin Bergman Corey Deuel,True
436,2015,11,Singles,Nick van den Berg,4,5,Corey Deuel,False
437,2015,12,Doubles,Karl Boyes Albin Ouschan,5,2,Mike Dechaine Skyler Woodward,True
438,2015,13,Singles,Niels Feijen,5,4,Shane Van Boening,True
439,2015,14,Singles,Darren Appleton,2,5,Justin Bergman,False
440,2015,15,Singles,Niels Feijen,5,4,Justin Bergman,True
441,2015,16,Singles,Karl Boyes,4,5,Shane Van Boening,False
442,2015,17,Singles,Albin Ouschan,5,4,Skyler Woodward,True
443,2016,0,Teams,"Darren Appleton, Niels Feijen, Albin Ouschan, ...",5,2,"Rodney Morris, Justin Bergman, Skyler Woodward...",True
444,2016,1,Doubles,Mark Gray Albin Ouschan,5,2,Shane Van Boening Rodney Morris,True
445,2016,2,Singles,Niels Feijen,5,2,Mike Dechaine,True
446,2016,3,Doubles,Jayson Shaw Darren Appleton,1,5,Skyler Woodward Justin Bergman,False
447,2016,4,Singles,Darren Appleton,5,3,Shane Van Boening,True
448,2016,5,Doubles,Niels Feijen Mark Gray,5,2,Shane Van Boening Skyler Woodward,True
449,2016,6,Singles,Jayson Shaw,3,5,Rodney Morris,False
450,2016,7,Doubles,Albin Ouschan Darren Appleton,5,4,Mike Dechaine Justin Bergman,True
451,2016,8,Singles,Mark Gray,5,1,Justin Bergman,True
452,2016,9,Doubles,Darren Appleton Niels Feijen,5,2,Mike Dechaine Shane Van Boening,True
453,2016,10,Doubles,Jayson Shaw Albin Ouschan,5,3,Rodney Morris Skyler Woodward,True
454,2016,11,Singles,Albin Ouschan,5,4,Skyler Woodward,True
455,2016,12,Doubles,Mark Gray Darren Appleton,4,5,Justin Bergman Rodney Morris,False
456,2016,13,Singles,Jayson Shaw,5,1,Mike Dechaine,True

In [60]:
connection.close()