### **Purpose: **Europe's Niels Fiejen is perhaps the most successful player in Mosconi Cup history, with a record 4 MVP awards. This analysis will dive deeper to see which factors are most important in predicting his success.

In [1]:
import pickle
import pandas as pd

In [8]:
df = pickle.load(open('pkl/allyears_clean_locs','rb'))

In [9]:
df = df[df['European_player'].str.contains('Niels Feijen')]

In [10]:
df['Europe_lost']= ~df['Europe_won']
df = df[['Format', 'European_player', 'European_score', 'American_score',
       'American_player', 'Europe_won','Europe_lost']]

In [11]:
def stats(df):
    loss,win = df['Europe_won'].value_counts(sort=False)
    mp= win+loss
    wl = 'Win-loss: {}-{}'.format(win,loss)
    pct = win/(win+loss)*100
    pc = round(pct,0)
    return('Matches Played: {}'.format(mp),wl,'pct: {}'.format(pc))

### Lets have a quick look at Niels' overall stats and check out his singles, doubles, and team stats.

In [12]:
stats(df)

('Matches Played: 62', 'Win-loss: 41-21', 'pct: 66.0')

### Now for a quick look at his results for each format.

In [14]:
sing = df[df['Format']=='Singles']
dub = df[df['Format']=='Doubles']
team = df[df['Format']=='Teams']

In [15]:
stats(sing)

('Matches Played: 20', 'Win-loss: 12-8', 'pct: 60.0')

In [16]:
stats(dub)

('Matches Played: 33', 'Win-loss: 24-9', 'pct: 73.0')

In [17]:
stats(team)

('Matches Played: 9', 'Win-loss: 5-4', 'pct: 56.0')

### So he plays *incredibly* well in doubles matches (73%). Let's see if he plays better with certain partners.

In [22]:
dub = dub[['European_player','American_player','Europe_won','Europe_lost']]
dub['Partner']=dub['European_player'].str.replace('Niels Feijen','')
dub['Partner']=dub['Partner'].str.replace('&','')
dub['Partner']=dub['Partner'].str.strip()

In [23]:
dub.sort_values('Partner')

                                                                 European_player  \
Year Location                          Match
2015 Las Vegas, Nevada, USA            10             Niels Feijen Albin Ouschan
2005 Las Vegas, Nevada, USA            10                 Niels Feijen Alex Lely
2016 Alexandra Palace, London, England 9            Darren Appleton Niels Feijen
2012 Bethnal Green, London, England    9            Darren Appleton Niels Feijen
2011 Las Vegas, Nevada, USA            10           Darren Appleton Niels Feijen
2009 Las Vegas, Nevada, USA            1            Niels Feijen Darren Appleton
2013 Las Vegas, Nevada, USA            5                 Karl Boyes Niels Feijen
2007 Las Vegas, Nevada, USA            7        Konstantin Stepanov Niels Feijen
                                       10       Konstantin Stepanov Niels Feijen
2014 Tower Circus, Blackpool, England  5                Niels Feijen & Mark Gray
2016 Alexandra Palace, London, England 5                  Niels Feijen Mark Gray
2013 Las Vegas, Nevada, USA            12              Mika Immonen Niels Feijen
2001 Bethnal Green, London, England    0               Niels Feijen Mika Immonen
                                       4               Niels Feijen Mika Immonen
2012 Bethnal Green, London, England    12        Nick Ekonomopoulos Niels Feijen
2015 Las Vegas, Nevada, USA            5          Niels Feijen Nick van den Berg
2011 Las Vegas, Nevada, USA            5          Nick van den Berg Niels Feijen
2012 Bethnal Green, London, England    7          Niels Feijen Nick van den Berg
2014 Tower Circus, Blackpool, England  3      Niels Feijen & Nikos Ekonomopoulos
2008 St. Julian's, Malta               8               Niels Feijen Ralf Souquet
2013 Las Vegas, Nevada, USA            3               Niels Feijen Ralf Souquet
2008 St. Julian's, Malta               4               Niels Feijen Ralf Souquet
2009 Las Vegas, Nevada, USA            5               Ralf Souquet Niels Feijen
2007 Las Vegas, Nevada, USA            1               Niels Feijen Ralf Souquet
2008 St. Julian's, Malta               1               Niels Feijen Ralf Souquet
                                       14              Niels Feijen Ralf Souquet
2011 Las Vegas, Nevada, USA            12              Ralf Souquet Niels Feijen
2004 Egmond aan Zee, Netherlands       10               Steve Davis Niels Feijen
                                       4                Steve Davis Niels Feijen
                                       0                Steve Davis Niels Feijen
2005 Las Vegas, Nevada, USA            5           Thorsten Hohmann Niels Feijen
2009 Las Vegas, Nevada, USA            9           Niels Feijen Thorsten Hohmann
2005 Las Vegas, Nevada, USA            0           Thorsten Hohmann Niels Feijen

                                                                 American_player  \
Year Location                          Match
2015 Las Vegas, Nevada, USA            10             Justin Bergman Corey Deuel
2005 Las Vegas, Nevada, USA            10          Charlie Williams Shaun Putnam
2016 Alexandra Palace, London, England 9         Mike Dechaine Shane Van Boening
2012 Bethnal Green, London, England    9         Shane Van Boening Johnny Archer
2011 Las Vegas, Nevada, USA            10             Shawn Putnam Mike Dechaine
2009 Las Vegas, Nevada, USA            1              Johnny Archer Dennis Hatch
2013 Las Vegas, Nevada, USA            5             Johnny Archer Rodney Morris
2007 Las Vegas, Nevada, USA            7               Corey Deuel Johnny Archer
                                       10              Corey Deuel Johnny Archer
2014 Tower Circus, Blackpool, England  5            Justin Hall & Justin Bergman
2016 Alexandra Palace, London, England 5       Shane Van Boening Skyler Woodward
2013 Las Vegas, Nevada, USA            12             Dennis Hatch Rodney Morris
2001 Bethnal Green, London, England    0               Nick Varner Johnny Archer
                                       4               Nick Varner Johnny Archer
2012 Bethnal Green, London, England    12             Dennis Hatch Mike Dechaine
2015 Las Vegas, Nevada, USA            5          Justin Bergman Skyler Woodward
2011 Las Vegas, Nevada, USA            5         Shane Van Boening Johnny Archer
2012 Bethnal Green, London, England    7              Dennis Hatch Brandon Shuff
2014 Tower Circus, Blackpool, England  3      Shane Van Boening & Justin Bergman
2008 St. Julian's, Malta               8           Earl Strickland Rodney Morris
2013 Las Vegas, Nevada, USA            3              Johnny Archer Dennis Hatch
2008 St. Julian's, Malta               4         Shane Van Boening Rodney Morris
2009 Las Vegas, Nevada, USA            5         Shane Van Boening Johnny Archer
2007 Las Vegas, Nevada, USA            1             Johnny Archer Rodney Morris
2008 St. Julian's, Malta               1         Shane Van Boening Rodney Morris
                                       14             Rodney Morris Jeremy Jones
2011 Las Vegas, Nevada, USA            12            Johnny Archer Rodney Morris
2004 Egmond aan Zee, Netherlands       10           Charlie Williams Tony Robles
                                       4                 Johnny Archer Gabe Owen
                                       0            Charlie Williams Tony Robles
2005 Las Vegas, Nevada, USA            5           Charlie Williams Shaun Putnam
2009 Las Vegas, Nevada, USA            9                Dennis Hatch Corey Deuel
2005 Las Vegas, Nevada, USA            0              Johnny Archer Jeremy Jones

                                             Europe_won Europe_lost  \
Year Location                          Match
2015 Las Vegas, Nevada, USA            10          True       False
2005 Las Vegas, Nevada, USA            10          True       False
2016 Alexandra Palace, London, England 9           True       False
2012 Bethnal Green, London, England    9          False        True
2011 Las Vegas, Nevada, USA            10          True       False
2009 Las Vegas, Nevada, USA            1          False        True
2013 Las Vegas, Nevada, USA            5           True       False
2007 Las Vegas, Nevada, USA            7           True       False
                                       10          True       False
2014 Tower Circus, Blackpool, England  5          False        True
2016 Alexandra Palace, London, England 5           True       False
2013 Las Vegas, Nevada, USA            12          True       False
2001 Bethnal Green, London, England    0           True       False
                                       4          False        True
2012 Bethnal Green, London, England    12          True       False
2015 Las Vegas, Nevada, USA            5          False        True
2011 Las Vegas, Nevada, USA            5          False        True
2012 Bethnal Green, London, England    7           True       False
2014 Tower Circus, Blackpool, England  3           True       False
2008 St. Julian's, Malta               8           True       False
2013 Las Vegas, Nevada, USA            3           True       False
2008 St. Julian's, Malta               4           True       False
2009 Las Vegas, Nevada, USA            5          False        True
2007 Las Vegas, Nevada, USA            1           True       False
2008 St. Julian's, Malta               1           True       False
                                       14          True       False
2011 Las Vegas, Nevada, USA            12          True       False
2004 Egmond aan Zee, Netherlands       10         False        True
                                       4           True       False
                                       0           True       False
2005 Las Vegas, Nevada, USA            5          False        True
2009 Las Vegas, Nevada, USA            9           True       False
2005 Las Vegas, Nevada, USA            0           True       False

                                                          Partner
Year Location                          Match
2015 Las Vegas, Nevada, USA            10           Albin Ouschan
2005 Las Vegas, Nevada, USA            10               Alex Lely
2016 Alexandra Palace, London, England 9          Darren Appleton
2012 Bethnal Green, London, England    9          Darren Appleton
2011 Las Vegas, Nevada, USA            10         Darren Appleton
2009 Las Vegas, Nevada, USA            1          Darren Appleton
2013 Las Vegas, Nevada, USA            5               Karl Boyes
2007 Las Vegas, Nevada, USA            7      Konstantin Stepanov
                                       10     Konstantin Stepanov
2014 Tower Circus, Blackpool, England  5                Mark Gray
2016 Alexandra Palace, London, England 5                Mark Gray
2013 Las Vegas, Nevada, USA            12            Mika Immonen
2001 Bethnal Green, London, England    0             Mika Immonen
                                       4             Mika Immonen
2012 Bethnal Green, London, England    12      Nick Ekonomopoulos
2015 Las Vegas, Nevada, USA            5        Nick van den Berg
2011 Las Vegas, Nevada, USA            5        Nick van den Berg
2012 Bethnal Green, London, England    7        Nick van den Berg
2014 Tower Circus, Blackpool, England  3      Nikos Ekonomopoulos
2008 St. Julian's, Malta               8             Ralf Souquet
2013 Las Vegas, Nevada, USA            3             Ralf Souquet
2008 St. Julian's, Malta               4             Ralf Souquet
2009 Las Vegas, Nevada, USA            5             Ralf Souquet
2007 Las Vegas, Nevada, USA            1             Ralf Souquet
2008 St. Julian's, Malta               1             Ralf Souquet
                                       14            Ralf Souquet
2011 Las Vegas, Nevada, USA            12            Ralf Souquet
2004 Egmond aan Zee, Netherlands       10             Steve Davis
                                       4              Steve Davis
                                       0              Steve Davis
2005 Las Vegas, Nevada, USA            5         Thorsten Hohmann
2009 Las Vegas, Nevada, USA            9         Thorsten Hohmann
2005 Las Vegas, Nevada, USA            0         Thorsten Hohmann

In [24]:
dub.groupby('Partner').sum().sort_values('Europe_won')

                     Europe_won  Europe_lost
Partner
Albin Ouschan               1.0          0.0
Alex Lely                   1.0          0.0
Karl Boyes                  1.0          0.0
Mark Gray                   1.0          1.0
Nick Ekonomopoulos          1.0          0.0
Nick van den Berg           1.0          2.0
Nikos Ekonomopoulos         1.0          0.0
Darren Appleton             2.0          2.0
Konstantin Stepanov         2.0          0.0
Mika Immonen                2.0          1.0
Steve Davis                 2.0          1.0
Thorsten Hohmann            2.0          1.0
Ralf Souquet                7.0          1.0

### Looks like Niels plays best with Ralf Souquet (7-1) by a huge margin!

More questions to answer:
1. Does he play better or worse against certain opponents?
2. Has his performance changed over the years?

In [26]:
sing.groupby('American_player').sum().sort_values('Europe_won')

                   Europe_won  Europe_lost
American_player
Charlie Williams          0.0          2.0
Dennis Hatch              0.0          2.0
Earl Strickland           0.0          1.0
Shane Van Boening         1.0          0.0
Johnny Archer             2.0          1.0
Mike Dechaine             2.0          0.0
Rodney Morris             3.0          2.0
Justin Bergman            4.0          0.0

## Apparently, Niels does poorly against Hatch and Earl, and does very well against Bergman.
## Lets see what Niels' record was for each year.

In [83]:
lst =df.index.values.tolist() 
years = set([])
for item in lst:
    years.add(item[0])
years=sorted(list(years))

In [86]:
yearly=[]
err=[]
for year in years:
    try:
        loss, win = df.loc[year]['Europe_won'].value_counts(sort=False)
    except:
        print('error in year {}'.format(year))
        err.append(year)
    yearly.append((win,loss))

error in year 2013
error in year 2016

In [88]:
for year in err:
    print(year)
    df.loc[year]

2013

                               Format  \
Location               Match
Las Vegas, Nevada, USA 0        Teams
                       3      Doubles
                       5      Doubles
                       8      Singles
                       12     Doubles

                                                                European_player  \
Location               Match
Las Vegas, Nevada, USA 0      Karl Boyes, Niels Feijen, Ralf Souquet, Mika I...
                       3                              Niels Feijen Ralf Souquet
                       5                                Karl Boyes Niels Feijen
                       8                                           Niels Feijen
                       12                             Mika Immonen Niels Feijen

                             European_score American_score  \
Location               Match
Las Vegas, Nevada, USA 0                  6              3
                       3                  6              3
                       5                  6              4
                       8                  6              0
                       12                 6              4

                                                                American_player  \
Location               Match
Las Vegas, Nevada, USA 0      Dennis Hatch, Earl Strickland, Shane Van Boeni...
                       3                             Johnny Archer Dennis Hatch
                       5                            Johnny Archer Rodney Morris
                       8                                          Johnny Archer
                       12                            Dennis Hatch Rodney Morris

                             Europe_won Europe_lost
Location               Match
Las Vegas, Nevada, USA 0           True       False
                       3           True       False
                       5           True       False
                       8           True       False
                       12          True       False

2016

                                          Format  \
Location                          Match
Alexandra Palace, London, England 0        Teams
                                  2      Singles
                                  5      Doubles
                                  9      Doubles

                                                                           European_player  \
Location                          Match
Alexandra Palace, London, England 0      Niels Feijen, Albin Ouschan, Jayson Shaw, Mark...
                                  2                                           Niels Feijen
                                  5                                 Niels Feijen Mark Gray
                                  9                           Darren Appleton Niels Feijen

                                        European_score American_score  \
Location                          Match
Alexandra Palace, London, England 0                  5              2
                                  2                  5              2
                                  5                  5              2
                                  9                  5              2

                                                                           American_player  \
Location                          Match
Alexandra Palace, London, England 0      Mike Dechaine, Shane Van Boening, Rodney Morri...
                                  2                                          Mike Dechaine
                                  5                      Shane Van Boening Skyler Woodward
                                  9                        Mike Dechaine Shane Van Boening

                                        Europe_won Europe_lost
Location                          Match
Alexandra Palace, London, England 0           True       False
                                  2           True       False
                                  5           True       False
                                  9           True       False

In [106]:
yr= {}
#manually insert the years 2013 & 2016 (since he had zero losses, value_counts could not unpack properly to a tuple)
yr[2016]=(4,0)
yr[2013]=(5,0)

for k,v in zip(years,yearly):
    yr[k]=v

In [107]:
yr

{2001: (1, 2),
 2004: (3, 2),
 2005: (2, 2),
 2007: (4, 2),
 2008: (5, 1),
 2009: (1, 5),
 2011: (5, 1),
 2012: (3, 3),
 2013: (3, 3),
 2014: (4, 1),
 2015: (4, 2),
 2016: (4, 2)}

### Worst years: 2001 (1-2), 2009 (1-5), one home, one away. 
### Best years: 2008 (5-1), 2011 (5-1) 2013 (5-0), 2014 (4-1), 2016: (4-0), 3/4 of which were 'home' games.

## Let's see if the location is a major factor in the quality of his performance.

In [91]:
years

[2001, 2004, 2005, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015, 2016]

In [60]:
locs = pickle.load(open('pkl/dloc','rb'))

In [66]:
hm=[]
aw=[]
for year in years:
    if 'USA' in locs[year]:
        aw.append(year)
    else:
        hm.append(year)

In [71]:
away= df.loc[aw]

In [94]:
home= df.loc[hm]

In [97]:
home['Europe_won'].value_counts(sort=False)

False     9
True     20
Name: Europe_won, dtype: int64

In [98]:
away['Europe_won'].value_counts(sort=False)

False    12
True     21
Name: Europe_won, dtype: int64

In [99]:
stats(home)

('Matches Played: 29', 'Win-loss: 20-9', 'pct: 69.0')

In [100]:
stats(away)

('Matches Played: 33', 'Win-loss: 21-12', 'pct: 64.0')

### Let's drill down a bit further to parse out his singles and doubles matches for both home and away

In [101]:
hsing = stats(home[home['Format']=='Singles'])

In [102]:
hdub = stats(home[home['Format']=='Doubles'])

In [103]:
asing = stats(away[away['Format']=='Singles'])

In [104]:
adub = stats(away[away['Format']=='Doubles'])

In [105]:
'Home Singles: {}'.format(hsing)
'Home Doubles: {}'.format(hdub)
'Away Singles: {}'.format(asing)
'Away Doubles: {}'.format(adub)

"Home Singles: ('Matches Played: 9', 'Win-loss: 5-4', 'pct: 56.0')"

"Home Doubles: ('Matches Played: 16', 'Win-loss: 12-4', 'pct: 75.0')"

"Away Singles: ('Matches Played: 11', 'Win-loss: 7-4', 'pct: 64.0')"

"Away Doubles: ('Matches Played: 17', 'Win-loss: 12-5', 'pct: 71.0')"

## Not much variation, but he does better in doubles in both cases.