In [3]:
import pandas as pd
import pickle

In [4]:
df = pickle.load(open('pkl/allyears_clean','rb'))

Let see how the teams matches went each year according to who was home and who was away

In [30]:
yearly = pd.read_csv('yearly.csv','rb')

c:\users\andrew\appdata\local\programs\python\python35\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [31]:
yearly

                  Year,Venue,Victors,Score,Losers,MVP
0   1994,"Romford, London, England", USA,16–12, Eu...
1   1995,"Basildon, Essex, England", Europe,16–15,...
2   1996,"Dagenham, London, England", USA,15–13, E...
3   1997,"Bethnal Green, London, England", USA,13–...
4   1998,"Bethnal Green, London, England", USA,13–...
5   1999,"Bethnal Green, London, England", USA,12–...
6   2000,"Bethnal Green, London, England", USA,12–...
7   2001,"Bethnal Green, London, England", USA,12–...
8   2002,"Bethnal Green, London, England", Europe,...
9   2003,"Las Vegas, Nevada, USA", USA,11–9, Europ...
10  2004,"Egmond aan Zee, Netherlands", USA,12–9, ...
11  2005,"Las Vegas, Nevada, USA", USA,11–6, Europ...
12  2006,"Rotterdam, Netherlands", Tied,12–12, Tie...
13  2007,"Las Vegas, Nevada, USA", Europe,11–8, US...
14  2008,"St. Julian's, Malta", Europe,11–5, USA,F...
15  2009,"Las Vegas, Nevada, USA", USA,11–7, Europ...
16  2010,"Bethnal Green, London, England", Europe,...
17  2011,"Las Vegas, Nevada, USA", Europe,11–7, US...
18  2012,"Bethnal Green, London, England", Europe,...
19  2013,"Las Vegas, Nevada, USA", Europe,11–2, US...
20  2014,"Tower Circus, Blackpool, England", Europ...
21  2015,"Las Vegas, Nevada, USA", Europe,11–7, US...
22  2016,"Alexandra Palace, London, England", Euro...