## Purpose
### America's best player, Shane Van Boening, has been known to play poorly in the Mosconi Cup. This analysis will put this theory to the test and try to see which factors are most important in predicting his success.

In [23]:
import pickle
import pandas as pd

In [46]:
df = pickle.load(open('pkl/allyears_clean_locs','rb'))

In [47]:
df = df[df['American_player'].str.contains('Shane Van Boening')]

## Played 10 years: 5 home (all vegas), 5 away (4 england, 1 malta)

In [94]:
def stats(df):
    loss,win = df['Europe_won'].value_counts()
    mp= win+loss
    wl = 'Win-loss: {}-{}'.format(win,loss)
    pct = win/(win+loss)*100
    pc = round(pct,0)
    return('Matches Played: {}'.format(mp),wl,'pct: {}'.format(pc))

In [107]:
#Overall Stats
stats(df)

('Matches Played: 60', 'Win-loss: 25-35', 'pct: 42.0')

## Shane is regarded as a formidable player on US soil, but is also known for underperforming overseas. Let's see if the location is a major factor in the quality of his performance.

In [84]:
home = df.loc[(slice(None),'Las Vegas, Nevada, USA'),:]

In [108]:
stats(home)

('Matches Played: 30', 'Win-loss: 13-17', 'pct: 43.0')

In [102]:
away = df.loc[[2008,2010,2012,2014,2016]]

In [109]:
stats(away)

('Matches Played: 30', 'Win-loss: 8-22', 'pct: 27.0')

In [111]:
away

                                               Format  \
Year Location                          Match
2008 St. Julian's, Malta               0        Teams
                                       1      Doubles
                                       4      Doubles
                                       9      Singles
                                       12     Singles
                                       15     Singles
2010 Bethnal Green, London, England    0        Teams
                                       3      Doubles
                                       6      Singles
                                       10     Doubles
                                       13     Doubles
                                       17     Singles
2012 Bethnal Green, London, England    0        Teams
                                       3      Doubles
                                       6      Singles
                                       9      Doubles
                                       14     Singles
                                       17     Singles
2014 Tower Circus, Blackpool, England  0        Teams
                                       3      Doubles
                                       4      Singles
                                       7      Doubles
                                       9      Doubles
                                       14     Singles
                                       15     Singles
2016 Alexandra Palace, London, England 0        Teams
                                       1      Doubles
                                       4      Singles
                                       5      Doubles
                                       9      Doubles

                                                                                European_player  \
Year Location                          Match
2008 St. Julian's, Malta               0      Niels Feijen, Tony Drago, Mika Immonen, Ralf S...
                                       1                              Niels Feijen Ralf Souquet
                                       4                              Niels Feijen Ralf Souquet
                                       9                                             Tony Drago
                                       12                                          Ralf Souquet
                                       15                                          Mika Immonen
2010 Bethnal Green, London, England    0      Nick van den Berg, Karl Boyes, Darren Appleton...
                                       3                             Darren Appleton Karl Boyes
                                       6                                      Nick van den Berg
                                       10                     Darren Appleton Nick van den Berg
                                       13                        Mika Immonen Nick van den Berg
                                       17                                       Darren Appleton
2012 Bethnal Green, London, England    0      Nick van den Berg, Niels Feijen, Nick Ekonomop...
                                       3                     Darren Appleton Nick Ekonomopoulos
                                       6                                     Nick Ekonomopoulos
                                       9                           Darren Appleton Niels Feijen
                                       14                                       Darren Appleton
                                       17                                       Darren Appleton
2014 Tower Circus, Blackpool, England  0      Karl Boyes, Niels Feijen, Nikos Ekonomopoulos,...
                                       3                     Niels Feijen & Nikos Ekonomopoulos
                                       4                                        Darren Appleton
                                       7                  Darren Appleton & Nikos Ekonomopoulos
                                       9                            Darren Appleton & Mark Gray
                                       14                                       Darren Appleton
                                       15                                   Nikos Ekonomopoulos
2016 Alexandra Palace, London, England 0      Niels Feijen, Albin Ouschan, Jayson Shaw, Mark...
                                       1                                Mark Gray Albin Ouschan
                                       4                                        Darren Appleton
                                       5                                 Niels Feijen Mark Gray
                                       9                           Darren Appleton Niels Feijen

                                             European_score American_score  \
Year Location                          Match
2008 St. Julian's, Malta               0                  5              3
                                       1                  5              3
                                       4                  5              3
                                       9                  2              5
                                       12                 5              2
                                       15                 5              3
2010 Bethnal Green, London, England    0                  6              5
                                       3                  6              3
                                       6                  5              6
                                       10                 4              5
                                       13                 5              1
                                       17                 6              2
2012 Bethnal Green, London, England    0                  3              5
                                       3                  4              5
                                       6                  5              3
                                       9                  4              5
                                       14                 5              0
                                       17                 1              5
2014 Tower Circus, Blackpool, England  0                  5              1
                                       3                  5              1
                                       4                  5              3
                                       7                  5              2
                                       9                  4              5
                                       14                 5              2
                                       15                 5              2
2016 Alexandra Palace, London, England 0                  5              2
                                       1                  5              2
                                       4                  5              3
                                       5                  5              2
                                       9                  5              2

                                                                                American_player  \
Year Location                          Match
2008 St. Julian's, Malta               0      Earl Strickland, Jeremy Jones, Rodney Morris, ...
                                       1                        Shane Van Boening Rodney Morris
                                       4                        Shane Van Boening Rodney Morris
                                       9                                      Shane Van Boening
                                       12                                     Shane Van Boening
                                       15                                     Shane Van Boening
2010 Bethnal Green, London, England    0      Corey Deuel, Shane Van Boening, Rodney Morris,...
                                       3                        Johnny Archer Shane Van Boening
                                       6                                      Shane Van Boening
                                       10                        Shane Van Boening Dennis Hatch
                                       13                         Shane Van Boening Corey Deuel
                                       17                                     Shane Van Boening
2012 Bethnal Green, London, England    0      Dennis Hatch, Mike Dechaine, Brandon Shuff, Sh...
                                       3                         Dennis Hatch Shane Van Boening
                                       6                                      Shane Van Boening
                                       9                        Shane Van Boening Johnny Archer
                                       14                                     Shane Van Boening
                                       17                                     Shane Van Boening
2014 Tower Circus, Blackpool, England  0      Corey Deuel, Shane Van Boening, Justin Bergman...
                                       3                     Shane Van Boening & Justin Bergman
                                       4                                      Shane Van Boening
                                       7                       Shane Van Boening & John Schmidt
                                       9                        Shane Van Boening & Corey Deuel
                                       14                                     Shane Van Boening
                                       15                                     Shane Van Boening
2016 Alexandra Palace, London, England 0      Mike Dechaine, Shane Van Boening, Rodney Morri...
                                       1                        Shane Van Boening Rodney Morris
                                       4                                      Shane Van Boening
                                       5                      Shane Van Boening Skyler Woodward
                                       9                        Mike Dechaine Shane Van Boening

                                             Europe_won
Year Location                          Match
2008 St. Julian's, Malta               0           True
                                       1           True
                                       4           True
                                       9          False
                                       12          True
                                       15          True
2010 Bethnal Green, London, England    0           True
                                       3           True
                                       6          False
                                       10         False
                                       13          True
                                       17          True
2012 Bethnal Green, London, England    0          False
                                       3          False
                                       6           True
                                       9          False
                                       14          True
                                       17         False
2014 Tower Circus, Blackpool, England  0           True
                                       3           True
                                       4           True
                                       7           True
                                       9          False
                                       14          True
                                       15          True
2016 Alexandra Palace, London, England 0           True
                                       1           True
                                       4           True
                                       5           True
                                       9           True

#### 30 matches played, 12-17 win loss, 43%

## 43% vs 27% is a pretty significant difference! 
### Let's check out his singles, doubles, and team stats.

In [97]:
stats(df[df['Format']=='Singles'])

('Matches Played: 25', 'Win-loss: 10-15', 'pct: 40.0')

In [96]:
stats(df[df['Format']=='Doubles'])

('Matches Played: 25', 'Win-loss: 11-14', 'pct: 44.0')

In [98]:
stats(df[df['Format']=='Teams'])

('Matches Played: 10', 'Win-loss: 4-6', 'pct: 40.0')