In [1]:
import pickle
import pandas as pd
import os

In [2]:
cwd = os.getcwd()
filename = 'allyears'

In [3]:
path = os.path.join(cwd,filename)

In [4]:
df = pickle.load(open(path,'rb'))

In [9]:
#see which years have teams matches
df[df['Format']=='Teams']

           Format European_player European_score American_score  \
Year Match
2006 0      Teams     Team Europe              5              6
     15     Teams     Team Europe              3              6
2007 0      Teams     Team Europe              4              6
2008 0      Teams     Team Europe              5              3
2009 0      Teams     Team Europe              4              6
2010 0      Teams     Team Europe              6              5
2011 0      Teams     Team Europe              6              3
2012 0      Teams     Team Europe              3              5
2013 0      Teams     Team Europe              6              3
2014 0      Teams     Team Europe              5              1
2015 0      Teams     Team Europe              4              5
2016 0      Teams     Team Europe              5              2

           American_player Europe_won
Year Match
2006 0            Team USA      False
     15           Team USA      False
2007 0            Team USA      False
2008 0            Team USA       True
2009 0            Team USA      False
2010 0            Team USA       True
2011 0            Team USA       True
2012 0            Team USA      False
2013 0            Team USA       True
2014 0            Team USA       True
2015 0            Team USA      False
2016 0            Team USA       True

In [11]:
#years that have teams matches
yrs =[ i for i in range(2006,2017)]

In [92]:
#form method for particular year to change 'Team Europe' and 'Team America' to contain all the players' names
for year in yrs:
    dfnew = df.loc[year]
    dfn = dfnew[dfnew.Format == 'Singles'] 
    #europe
    lst = dfn.European_player[1:].tolist()
    s = set(lst)
    team_europe = list(s)
    euro = ' '.join(team_europe)
    df.loc[(year,0),'European_player'] = euro
    #america
    lst = dfn.American_player[1:].tolist()
    s = set(lst)
    team_usa = list(s)
    us = ' '.join(team_usa)
    df.loc[(year,0),'American_player'] = us

In [95]:
df.loc[2014]

,Format,European_player,European_score,American_score,American_player,Europe_won
Match,,,,,,
0,Teams,Darren Appleton Niels Feijen Nikos Ekonomopoul...,5,1,Corey Deuel Justin Bergman Shane Van Boening J...,True
1,Doubles,Darren Appleton & Karl Boyes,3,5,Corey Deuel & Justin Hall,False
2,Singles,Mark Gray,3,5,John Schmidt,False
3,Doubles,Niels Feijen & Nikos Ekonomopoulos,5,1,Shane Van Boening & Justin Bergman,True
4,Singles,Darren Appleton,5,3,Shane Van Boening,True
5,Doubles,Niels Feijen & Mark Gray,2,5,Justin Hall & Justin Bergman,False
6,Singles,Karl Boyes,5,2,Corey Deuel,True
7,Doubles,Darren Appleton & Nikos Ekonomopoulos,5,2,Shane Van Boening & John Schmidt,True
8,Singles,Niels Feijen,5,3,Justin Bergman,True
9,Doubles,Darren Appleton & Mark Gray,4,5,Shane Van Boening & Corey Deuel,False
10,Doubles,Nikos Ekonomopoulos & Karl Boyes,5,3,John Schmidt & Justin Hall,True
11,Singles,Nikos Ekonomopoulos,3,5,Justin Hall,False
12,Doubles,Mark Gray & Karl Boyes,5,3,Corey Deuel & John Schmidt,True
13,Singles,Niels Feijen,5,2,Justin Bergman,True
14,Singles,Darren Appleton,5,2,Shane Van Boening,True
15,Singles,Nikos Ekonomopoulos,5,2,Shane Van Boening,True

In [97]:
path = 'allyears_with_teams'
df.to_pickle(path)