In [1]:
import pickle
import pandas as pd
import os

In [2]:
cwd = os.getcwd()
filename = 'allyears'

In [3]:
path = os.path.join(cwd,filename)

In [4]:
df = pickle.load(open(path,'rb'))

In [9]:
#see which years have teams matches
df[df['Format']=='Teams']

           Format European_player European_score American_score  \
Year Match
2006 0      Teams     Team Europe              5              6
     15     Teams     Team Europe              3              6
2007 0      Teams     Team Europe              4              6
2008 0      Teams     Team Europe              5              3
2009 0      Teams     Team Europe              4              6
2010 0      Teams     Team Europe              6              5
2011 0      Teams     Team Europe              6              3
2012 0      Teams     Team Europe              3              5
2013 0      Teams     Team Europe              6              3
2014 0      Teams     Team Europe              5              1
2015 0      Teams     Team Europe              4              5
2016 0      Teams     Team Europe              5              2

           American_player Europe_won
Year Match
2006 0            Team USA      False
     15           Team USA      False
2007 0            Team USA      False
2008 0            Team USA       True
2009 0            Team USA      False
2010 0            Team USA       True
2011 0            Team USA       True
2012 0            Team USA      False
2013 0            Team USA       True
2014 0            Team USA       True
2015 0            Team USA      False
2016 0            Team USA       True

In [11]:
#years that have teams matches
yrs =[ i for i in range(2006,2017)]

In [92]:
#form method for particular year to change 'Team Europe' and 'Team America' to contain all the players' names
for year in yrs:
    dfnew = df.loc[year]
    dfn = dfnew[dfnew.Format == 'Singles'] 
    #europe
    lst = dfn.European_player[1:].tolist()
    s = set(lst)
    team_europe = list(s)
    euro = ' '.join(team_europe)
    df.loc[(year,0),'European_player'] = euro
    #america
    lst = dfn.American_player[1:].tolist()
    s = set(lst)
    team_usa = list(s)
    us = ' '.join(team_usa)
    df.loc[(year,0),'American_player'] = us

In [95]:
df.loc[2014]

,Format,European_player,European_score,American_score,American_player,Europe_won
Match,,,,,,
0,Teams,Darren Appleton Niels Feijen Nikos Ekonomopoul...,5,1,Corey Deuel Justin Bergman Shane Van Boening J...,True
1,Doubles,Darren Appleton & Karl Boyes,3,5,Corey Deuel & Justin Hall,False
2,Singles,Mark Gray,3,5,John Schmidt,False
3,Doubles,Niels Feijen & Nikos Ekonomopoulos,5,1,Shane Van Boening & Justin Bergman,True
4,Singles,Darren Appleton,5,3,Shane Van Boening,True
5,Doubles,Niels Feijen & Mark Gray,2,5,Justin Hall & Justin Bergman,False
6,Singles,Karl Boyes,5,2,Corey Deuel,True
7,Doubles,Darren Appleton & Nikos Ekonomopoulos,5,2,Shane Van Boening & John Schmidt,True
8,Singles,Niels Feijen,5,3,Justin Bergman,True
9,Doubles,Darren Appleton & Mark Gray,4,5,Shane Van Boening & Corey Deuel,False
10,Doubles,Nikos Ekonomopoulos & Karl Boyes,5,3,John Schmidt & Justin Hall,True
11,Singles,Nikos Ekonomopoulos,3,5,Justin Hall,False
12,Doubles,Mark Gray & Karl Boyes,5,3,Corey Deuel & John Schmidt,True
13,Singles,Niels Feijen,5,2,Justin Bergman,True
14,Singles,Darren Appleton,5,2,Shane Van Boening,True
15,Singles,Nikos Ekonomopoulos,5,2,Shane Van Boening,True

In [96]:
path 
df.to_pickle(path)

             Format                                    European_player  \
Year Match
1994 0      Singles                                         Tom Storm
     1      Singles                                    Oliver Ortmann
     2      Singles                                        Lee Tucker
     3      Singles                                    Allison Fisher
     4      Singles                                       Steve Davis
     5      Singles                                         Tom Storm
     6      Doubles                      Ralf Souquet Franziska Stark
     7      Singles                                        Lee Tucker
     8      Singles                                   Franziska Stark
     9      Singles                                      Ralf Souquet
     10     Doubles                     Oliver Ortmann Allison Fisher
     11     Singles                                         Tom Storm
     12     Singles                                       Jimmy White
     13     Doubles                    Franziska Stark Allison Fisher
     14     Singles                                      Ralf Souquet
     15     Singles                                       Steve Davis
     16     Singles                                   Franziska Stark
     17     Singles                                       Jimmy White
     18     Singles                                       Steve Davis
     19     Singles                                        Lee Tucker
     20     Singles                                       Steve Davis
     21     Singles                                    Oliver Ortmann
     22     Singles                                         Tom Storm
     23     Singles                                    Oliver Ortmann
     24     Singles                                       Jimmy White
     25     Doubles                      Ralf Souquet Franziska Stark
     26     Singles                                        Lee Tucker
     27     Doubles                           Jimmy White Steve Davis
1995 0      Singles                                       Steve Davis
     1      Singles                                       Daryl Peach
...             ...                                                ...
2015 2      Singles                                       Niels Feijen
     3      Doubles                      Darren Appleton Albin Ouschan
     4      Singles                                    Darren Appleton
     5      Doubles                     Niels Feijen Nick van den Berg
     6      Singles                                      Albin Ouschan
     7      Doubles                         Darren Appleton Karl Boyes
     8      Singles                                         Karl Boyes
     9      Doubles                  Darren Appleton Nick van den Berg
     10     Doubles                         Niels Feijen Albin Ouschan
     11     Singles                                  Nick van den Berg
     12     Doubles                           Karl Boyes Albin Ouschan
     13     Singles                                       Niels Feijen
     14     Singles                                    Darren Appleton
     15     Singles                                       Niels Feijen
     16     Singles                                         Karl Boyes
     17     Singles                                      Albin Ouschan
2016 0        Teams  Darren Appleton Mark Gray Albin Ouschan Jayson...
     1      Doubles                            Mark Gray Albin Ouschan
     2      Singles                                       Niels Feijen
     3      Doubles                        Jayson Shaw Darren Appleton
     4      Singles                                    Darren Appleton
     5      Doubles                             Niels Feijen Mark Gray
     6      Singles                                        Jayson Shaw
     7      Doubles                      Albin Ouschan Darren Appleton
     8      Singles                                          Mark Gray
     9      Doubles                       Darren Appleton Niels Feijen
     10     Doubles                          Jayson Shaw Albin Ouschan
     11     Singles                                      Albin Ouschan
     12     Doubles                          Mark Gray Darren Appleton
     13     Singles                                        Jayson Shaw

           European_score American_score  \
Year Match
1994 0                  2              0
     1                  2              0
     2                  1              2
     3                  0              2
     4                  2              1
     5                  2              0
     6                  0              2
     7                  2              0
     8                  1              2
     9                  2              0
     10                 0              2
     11                 2              1
     12                 2              0
     13                 0              2
     14                 2              0
     15                 1              2
     16                 0              2
     17                 0              2
     18                 1              2
     19                 0              2
     20                 2              1
     21                 1              2
     22                 0              2
     23                 2              0
     24                 1              2
     25                 1              2
     26                 2              0
     27                 0              2
1995 0                  2              0
     1                  1              2
...                   ...            ...
2015 2                  5              2
     3                  1              5
     4                  5              1
     5                  3              5
     6                  5              3
     7                  5              2
     8                  5              3
     9                  4              5
     10                 5              1
     11                 4              5
     12                 5              2
     13                 5              4
     14                 2              5
     15                 5              4
     16                 4              5
     17                 5              4
2016 0                  5              2
     1                  5              2
     2                  5              2
     3                  1              5
     4                  5              3
     5                  5              2
     6                  3              5
     7                  5              4
     8                  5              1
     9                  5              2
     10                 5              3
     11                 5              4
     12                 4              5
     13                 5              1

                                              American_player Europe_won
Year Match
1994 0                                          Bobby Hunter        True
     1                                           Mark Wilson        True
     2                                            Lou Butera       False
     3                                     Vivian Villarreal       False
     4                                         Mike Gulyassy        True
     5                                            Lou Butera        True
     6                         Dallas West Vivian Villarreal       False
     7                                           Mark Wilson        True
     8                                     Vivian Villarreal       False
     9                                           Dallas West        True
     10                            Bobby Hunter Jeanette Lee       False
     11                                          Dallas West        True
     12                                           Paul Gerni        True
     13                       Jeanette Lee Vivian Villarreal       False
     14                                         Bobby Hunter        True
     15                                           Lou Butera       False
     16                                         Jeanette Lee       False
     17                                           Lou Butera       False
     18                                         Jeanette Lee       False
     19                                    Vivian Villarreal       False
     20                                           Paul Gerni        True
     21                                          Dallas West       False
     22                                          Mark Wilson       False
     23                                         Bobby Hunter        True
     24                                        Mike Gulyassy       False
     25                            Bobby Hunter Jeanette Lee       False
     26                                           Paul Gerni        True
     27                               Mark Wilson Lou Butera       False
1995 0                                           Mike Massey        True
     1                                         Robert Hunter       False
...                                                       ...        ...
2015 2                                         Justin Bergman       True
     3                      Shane Van Boening Skyler Woodward      False
     4                                      Shane Van Boening       True
     5                         Justin Bergman Skyler Woodward      False
     6                                          Mike Dechaine       True
     7                          Shane Van Boening Corey Deuel       True
     8                                        Skyler Woodward       True
     9                        Shane Van Boening Mike Dechaine      False
     10                            Justin Bergman Corey Deuel       True
     11                                           Corey Deuel      False
     12                         Mike Dechaine Skyler Woodward       True
     13                                     Shane Van Boening       True
     14                                        Justin Bergman      False
     15                                        Justin Bergman       True
     16                                     Shane Van Boening      False
     17                                       Skyler Woodward       True
2016 0      Justin Bergman Shane Van Boening Skyler Woodwa...       True
     1                        Shane Van Boening Rodney Morris       True
     2                                          Mike Dechaine       True
     3                         Skyler Woodward Justin Bergman      False
     4                                      Shane Van Boening       True
     5                      Shane Van Boening Skyler Woodward       True
     6                                          Rodney Morris      False
     7                           Mike Dechaine Justin Bergman       True
     8                                         Justin Bergman       True
     9                        Mike Dechaine Shane Van Boening       True
     10                         Rodney Morris Skyler Woodward       True
     11                                       Skyler Woodward       True
     12                          Justin Bergman Rodney Morris      False
     13                                         Mike Dechaine       True

[457 rows x 6 columns]