In [2]:
import pickle
import pandas as pd
import os

In [8]:
cwd = os.getcwd()
filename = 'allyears'

In [9]:
path = os.path.join(cwd,filename)

In [11]:
df = pickle.load(open(path,'rb'))

In [36]:
df[df['Format']=='Teams']

           Format European_player European_score American_score  \
Year Match
2006 0      Teams     Team Europe              5              6
     15     Teams     Team Europe              3              6
2007 0      Teams     Team Europe              4              6
2008 0      Teams     Team Europe              5              3
2009 0      Teams     Team Europe              4              6
2010 0      Teams     Team Europe              6              5
2011 0      Teams     Team Europe              6              3
2012 0      Teams     Team Europe              3              5
2013 0      Teams     Team Europe              6              3
2014 0      Teams     Team Europe              5              1
2015 0      Teams     Team Europe              4              5
2016 0      Teams     Team Europe              5              2

           American_player Europe_won
Year Match
2006 0            Team USA      False
     15           Team USA      False
2007 0            Team USA      False
2008 0            Team USA       True
2009 0            Team USA      False
2010 0            Team USA       True
2011 0            Team USA       True
2012 0            Team USA      False
2013 0            Team USA       True
2014 0            Team USA       True
2015 0            Team USA      False
2016 0            Team USA       True