In [82]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [83]:
url = 'https://en.wikipedia.org/wiki/2018_Mosconi_Cup'
res = requests.get(url)
soup = BeautifulSoup(res.text,'lxml')
tables = soup.find_all('table')
tables = tables[4:-1]

In [84]:
table=tables[0]

In [134]:
rows = table.find_all('tr')[1:-2]
form=[]
am_player=[]
am_score=[]
eu_score=[]
eu_player=[]

In [140]:
row=rows[1]

In [142]:
row

<tr>
<td align="center">Doubles<br/><a href="/wiki/Albin_Ouschan" title="Albin Ouschan">Albin Ouschan</a><br/>Jayson Shaw
</td>
<td align="center"><b>5</b>–1
</td>
<td align="center">Doubles<br/>Billy Thorpe<br/>Skyler Woodward
</td></tr>

In [225]:
i=0
for td in tds:
    i+=1
    if i==3:
        print(td.text)

DoublesBilly ThorpeSkyler Woodward

In [189]:
l=['a','b']

In [190]:
type(l)

list

In [141]:
tds = row.find_all('td')
i=0
for td in tds:
        i+=1
        if i==1:
            form.append(td.contents[0])
            eu_player.append(td.a.text)
        elif i==2:
            eu,am = (td.text.replace('\n','').split('–'))
            eu_score.append(a)
            am_score.append(b)
        elif i==3:
            am_player.append(td.a.text)

AttributeError: 'NoneType' object has no attribute 'text'

In [138]:
df = pd.DataFrame({'Format':form,'American_player':am_player[:],
           'American_score':am_score,'European_score':eu_score,
           'European_player':eu_player[:]})

In [139]:
df

  Format American_player American_score European_score European_player
0  Teams        Team USA              1              5     Team Europe

In [133]:
for row in rows:
    tds = row.find_all('td')
    i=0
    for td in tds:
        i+=1
        if i==1:
            form.append(td.contents[0])
            eu_player.append(td.a.text)
        elif i==2:
            eu,am = (td.text.replace('\n','').split('–'))
            eu_score.append(a)
            am_score.append(b)
        elif i==3:
            am_player.append(td.a.text)
        else:
            pass

AttributeError: 'NoneType' object has no attribute 'text'

In [73]:
# I had already did a trial run to get the first table's info into an initial dataframe, now i'm looping the logic
for table in tables[1:]:
    rows = table.find_all('tr')[1:-2]
    form=[]
    am_player=[]
    am_score=[]
    eu_score=[]
    eu_player=[]
    for row in rows:
        tds = row.find_all('td')
        i=0
        for td in tds:
            x=td.text.split('\n')
            i+=1
            if i==1:
                form.append(x[0])
                am_player.append(x[1:])
            elif i==2:
                a,b=x[0].split('–')
                am_score.append(a)
                eu_score.append(b)
            elif i==3:
                eu_player.append(x[1:])
    df1 = pd.DataFrame({'Format':form,'American_player':am_player[:],
               'American_score':am_score,'European_score':eu_score,
               'European_player':eu_player[:]})
    df=pd.concat([df,df1])

In [74]:
df

,Format,American_player,American_score,European_score,European_player
0,TeamsTeam Europe,[],5,4,[]
1,DoublesAlbin OuschanJayson Shaw,[],5,1,[]
2,SinglesNiels Feijen,[],3,5,[]
3,DoublesEklent KaciAlexander Kazakis,[],1,5,[]
4,SinglesJayson Shaw,[],0,5,[]
0,SinglesJayson Shaw,[],5,2,[]
1,DoublesNiels FeijenAlexander Kazakis,[],3,5,[]
2,SinglesAlbin Ouschan,[],5,3,[]
3,DoublesEklent KaciJayson Shaw,[],2,5,[]
4,SinglesEklent Kaci,[],3,5,[]
0,DoublesNiels FeijenAlbin Ouschan,[],4,5,[]
1,SinglesAlexander Kazakis,[],3,5,[]
2,DoublesEklent KaciNiels Feijen,[],5,4,[]
3,SinglesJayson Shaw,[],4,5,[]
4,DoublesAlexander KazakisAlbin Ouschan,[],5,1,[]
0,SinglesAlbin Ouschan,[],4,5,[]
1,SinglesJayson Shaw,[],5,3,[]
2,SinglesNiels Feijen,[],5,1,[]
3,SinglesEklent Kaci,[],5,2,[]
4,SinglesAlexander Kazakis,[],3,5,[]

Now just need to clean up the [] and make a multiindex

In [8]:
df['American_player'] = df['American_player'].apply(lambda x: ', '.join(x))
df['European_player'] = df['European_player'].apply(lambda x: ', '.join(x))

In [9]:
df.reset_index(inplace=True,drop=True)

In [10]:
df.drop('index',axis=1,inplace=True)

KeyError: "['index'] not found in axis"

In [ ]:
df['year']='2017'

In [ ]:
df.index.rename('Match',inplace=True)

In [ ]:
df.rename(columns={'year':'Year'},inplace=True)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df = df[['Year','Match', 'Format', 'European_player', 'European_score',
       'American_score', 'American_player']]

In [ ]:
df

Make europe_won column

In [ ]:
df['Europe_won']=df['European_score']>df['American_score']

In [ ]:
df['Europe_won'] = df['Europe_won'].map({True:1,False:0})

In [ ]:
df

Instead of team usa put all team members

In [ ]:
euro = set(df[df.Format=='Singles']['European_player'])
eu = ', '.join(euro)
df.loc[0,'European_player']=eu

In [ ]:
amer = set(df[df.Format=='Singles']['American_player'])
am = ', '.join(amer)
df.loc[0,'American_player']=am

In [175]:
df

,Year,Match,Format,European_player,European_score,American_score,American_player,Europe_won
0,2017,0,Teams,"Nick van den Berg, Jayson Shaw, David Alcaide,...",5,3,"Dennis Hatch, Billy Thorpe, Shane Van Boening,...",1
1,2017,1,Doubles,"David Alcaide, Jayson Shaw",5,3,"Billy Thorpe, Skyler Woodward",1
2,2017,2,Singles,Joshua Filler,5,4,Dennis Hatch,1
3,2017,3,Doubles,"Ralf Souquet, Nick van den Berg",5,3,"Shane Van Boening, Oscar Dominguez",1
4,2017,4,Singles,Jayson Shaw,1,5,Shane Van Boening,0
5,2017,5,Doubles,"David Alcaide, Nick van den Berg",4,5,"Dennis Hatch, Billy Thorpe",0
6,2017,6,Singles,Ralf Souquet,5,3,Oscar Dominguez,1
7,2017,7,Doubles,"Joshua Filler, Jayson Shaw",5,1,"Shane Van Boening, Skyler Woodward",1
8,2017,8,Singles,David Alcaide,5,1,Skyler Woodward,1
9,2017,9,Doubles,"Joshua Filler, Nick van den Berg",5,0,"Shane Van Boening, Billy Thorpe",1
10,2017,10,Doubles,"Jayson Shaw, Ralf Souquet",4,5,"Oscar Dominguez, Dennis Hatch",0
11,2017,11,Singles,Nick van den Berg,4,5,Billy Thorpe,0
12,2017,12,Doubles,"David Alcaide, Ralf Souquet",5,2,"Skyler Woodward, Oscar Dominguez",1
13,2017,13,Singles,Jayson Shaw,5,4,Shane Van Boening,1
14,2017,14,Singles,Joshua Filler,5,3,Dennis Hatch,1

Ready to concatenate to other years

In [132]:
import sqlite3

In [133]:
con = sqlite3.connect('../players.db')

In [134]:
sql='select * from results'

In [135]:
frame = pd.read_sql(sql,con)

f = pd.concat([frame,df])

f.reset_index(drop=True,inplace=True)

f.to_sql('results',con,if_exists='replace')