In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [7]:
url = 'https://en.wikipedia.org/wiki/2017_Mosconi_Cup'
res = requests.get(url)
soup = BeautifulSoup(res.text,'lxml')
tables = soup.find_all('table')
tables = tables[4:-1]

In [ ]:
table=tables[0]

In [ ]:
rows = table.find_all('tr')[1:-2]
form=[]
am_player=[]
am_score=[]
eu_score=[]
eu_player=[]
for row in rows:
    tds = row.find_all('td')
    i=0
    for td in tds:
        x=td.text.split('\n')
        i+=1
        if i==1:
            form.append(x[0])
            am_player.append(x[1:])
        elif i==2:
            a,b=x[0].split('â€“')
            am_score.append(a)
            eu_score.append(b)
        elif i==3:
            eu_player.append(x[1:])
df = pd.DataFrame({'Format':form,'American_player':am_player[:],
           'American_score':am_score,'European_score':eu_score,
           'European_player':eu_player[:]})

In [66]:
df

,Format,American_player,American_score,European_score,European_player
0,Teams,[Team USA],3,5,[Team Europe]
1,Doubles,"[Billy Thorpe, Skyler Woodward]",3,5,"[David Alcaide, Jayson Shaw]"
2,Singles,[Dennis Hatch],4,5,[Joshua Filler]
3,Doubles,"[Shane Van Boening, Oscar Dominguez]",3,5,"[Ralf Souquet, Nick van den Berg]"
4,Singles,[Shane Van Boening],5,1,[Jayson Shaw]

In [80]:
# I had already did a trial run to get the first table's info into an initial dataframe, now i'm looping the logic
for table in tables[1:]:
    rows = table.find_all('tr')[1:-2]
    form=[]
    am_player=[]
    am_score=[]
    eu_score=[]
    eu_player=[]
    for row in rows:
        tds = row.find_all('td')
        i=0
        for td in tds:
            x=td.text.split('\n')
            i+=1
            if i==1:
                form.append(x[0])
                am_player.append(x[1:])
            elif i==2:
                a,b=x[0].split('â€“')
                am_score.append(a)
                eu_score.append(b)
            elif i==3:
                eu_player.append(x[1:])
    df1 = pd.DataFrame({'Format':form,'American_player':am_player[:],
               'American_score':am_score,'European_score':eu_score,
               'European_player':eu_player[:]})
    df=pd.concat([df,df1])

,Format,American_player,American_score,European_score,European_player
0,Doubles,"[Dennis Hatch, Billy Thorpe]",5,4,"[David Alcaide, Nick van den Berg]"
1,Singles,[Oscar Dominguez],3,5,[Ralf Souquet]
2,Doubles,"[Shane Van Boening, Skyler Woodward]",1,5,"[Joshua Filler, Jayson Shaw]"
3,Singles,[Skyler Woodward],1,5,[David Alcaide]
4,Doubles,"[Shane Van Boening, Billy Thorpe]",0,5,"[Joshua Filler, Nick van den Berg]"

,Format,American_player,American_score,European_score,European_player
0,Doubles,"[Oscar Dominguez, Dennis Hatch]",5,4,"[Jayson Shaw, Ralf Souquet]"
1,Singles,[Billy Thorpe],5,4,[Nick van den Berg]
2,Doubles,"[Skyler Woodward, Oscar Dominguez]",2,5,"[David Alcaide, Ralf Souquet]"
3,Singles,[Shane Van Boening],4,5,[Jayson Shaw]

    Format American_player American_score European_score  European_player
0  Singles  [Dennis Hatch]              3              5  [Joshua Filler]

In [81]:
df

,Format,American_player,American_score,European_score,European_player
0,Teams,[Team USA],3,5,[Team Europe]
1,Doubles,"[Billy Thorpe, Skyler Woodward]",3,5,"[David Alcaide, Jayson Shaw]"
2,Singles,[Dennis Hatch],4,5,[Joshua Filler]
3,Doubles,"[Shane Van Boening, Oscar Dominguez]",3,5,"[Ralf Souquet, Nick van den Berg]"
4,Singles,[Shane Van Boening],5,1,[Jayson Shaw]
0,Doubles,"[Dennis Hatch, Billy Thorpe]",5,4,"[David Alcaide, Nick van den Berg]"
1,Singles,[Oscar Dominguez],3,5,[Ralf Souquet]
2,Doubles,"[Shane Van Boening, Skyler Woodward]",1,5,"[Joshua Filler, Jayson Shaw]"
3,Singles,[Skyler Woodward],1,5,[David Alcaide]
4,Doubles,"[Shane Van Boening, Billy Thorpe]",0,5,"[Joshua Filler, Nick van den Berg]"
0,Doubles,"[Oscar Dominguez, Dennis Hatch]",5,4,"[Jayson Shaw, Ralf Souquet]"
1,Singles,[Billy Thorpe],5,4,[Nick van den Berg]
2,Doubles,"[Skyler Woodward, Oscar Dominguez]",2,5,"[David Alcaide, Ralf Souquet]"
3,Singles,[Shane Van Boening],4,5,[Jayson Shaw]
0,Singles,[Dennis Hatch],3,5,[Joshua Filler]

Now just need to clean up the [] and make a multiindex

In [89]:
df['American_player'] = df['American_player'].apply(lambda x: ', '.join(x))
df['European_player'] = df['European_player'].apply(lambda x: ', '.join(x))

In [94]:
df.reset_index(inplace=True,drop=True)

In [97]:
df.drop('index',axis=1,inplace=True)

In [103]:
df['year']='2017'

In [112]:
df.index.rename('Match',inplace=True)

In [117]:
df.rename(columns={'year':'Year'},inplace=True)

In [121]:
df.reset_index(inplace=True)

In [137]:
df = df[['Year','Match', 'Format', 'European_player', 'European_score',
       'American_score', 'American_player']]

In [138]:
df

,Year,Match,Format,European_player,European_score,American_score,American_player
0,2017,0,Teams,Team Europe,5,3,Team USA
1,2017,1,Doubles,"David Alcaide, Jayson Shaw",5,3,"Billy Thorpe, Skyler Woodward"
2,2017,2,Singles,Joshua Filler,5,4,Dennis Hatch
3,2017,3,Doubles,"Ralf Souquet, Nick van den Berg",5,3,"Shane Van Boening, Oscar Dominguez"
4,2017,4,Singles,Jayson Shaw,1,5,Shane Van Boening
5,2017,5,Doubles,"David Alcaide, Nick van den Berg",4,5,"Dennis Hatch, Billy Thorpe"
6,2017,6,Singles,Ralf Souquet,5,3,Oscar Dominguez
7,2017,7,Doubles,"Joshua Filler, Jayson Shaw",5,1,"Shane Van Boening, Skyler Woodward"
8,2017,8,Singles,David Alcaide,5,1,Skyler Woodward
9,2017,9,Doubles,"Joshua Filler, Nick van den Berg",5,0,"Shane Van Boening, Billy Thorpe"
10,2017,10,Doubles,"Jayson Shaw, Ralf Souquet",4,5,"Oscar Dominguez, Dennis Hatch"
11,2017,11,Singles,Nick van den Berg,4,5,Billy Thorpe
12,2017,12,Doubles,"David Alcaide, Ralf Souquet",5,2,"Skyler Woodward, Oscar Dominguez"
13,2017,13,Singles,Jayson Shaw,5,4,Shane Van Boening
14,2017,14,Singles,Joshua Filler,5,3,Dennis Hatch

Make europe_won column

In [145]:
df['Europe_won']=df['European_score']>df['American_score']

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [148]:
df['Europe_won'] = df['Europe_won'].map({True:1,False:0})

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [149]:
df

,Year,Match,Format,European_player,European_score,American_score,American_player,Europe_won
0,2017,0,Teams,Team Europe,5,3,Team USA,1
1,2017,1,Doubles,"David Alcaide, Jayson Shaw",5,3,"Billy Thorpe, Skyler Woodward",1
2,2017,2,Singles,Joshua Filler,5,4,Dennis Hatch,1
3,2017,3,Doubles,"Ralf Souquet, Nick van den Berg",5,3,"Shane Van Boening, Oscar Dominguez",1
4,2017,4,Singles,Jayson Shaw,1,5,Shane Van Boening,0
5,2017,5,Doubles,"David Alcaide, Nick van den Berg",4,5,"Dennis Hatch, Billy Thorpe",0
6,2017,6,Singles,Ralf Souquet,5,3,Oscar Dominguez,1
7,2017,7,Doubles,"Joshua Filler, Jayson Shaw",5,1,"Shane Van Boening, Skyler Woodward",1
8,2017,8,Singles,David Alcaide,5,1,Skyler Woodward,1
9,2017,9,Doubles,"Joshua Filler, Nick van den Berg",5,0,"Shane Van Boening, Billy Thorpe",1
10,2017,10,Doubles,"Jayson Shaw, Ralf Souquet",4,5,"Oscar Dominguez, Dennis Hatch",0
11,2017,11,Singles,Nick van den Berg,4,5,Billy Thorpe,0
12,2017,12,Doubles,"David Alcaide, Ralf Souquet",5,2,"Skyler Woodward, Oscar Dominguez",1
13,2017,13,Singles,Jayson Shaw,5,4,Shane Van Boening,1
14,2017,14,Singles,Joshua Filler,5,3,Dennis Hatch,1

Instead of team usa put all team members

In [158]:
euro = set(df[df.Format=='Singles']['European_player'])
eu = ', '.join(euro)
df.loc[0,'European_player']=eu

In [174]:
amer = set(df[df.Format=='Singles']['American_player'])
am = ', '.join(amer)
df.loc[0,'American_player']=am

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [175]:
df

,Year,Match,Format,European_player,European_score,American_score,American_player,Europe_won
0,2017,0,Teams,"Nick van den Berg, Jayson Shaw, David Alcaide,...",5,3,"Dennis Hatch, Billy Thorpe, Shane Van Boening,...",1
1,2017,1,Doubles,"David Alcaide, Jayson Shaw",5,3,"Billy Thorpe, Skyler Woodward",1
2,2017,2,Singles,Joshua Filler,5,4,Dennis Hatch,1
3,2017,3,Doubles,"Ralf Souquet, Nick van den Berg",5,3,"Shane Van Boening, Oscar Dominguez",1
4,2017,4,Singles,Jayson Shaw,1,5,Shane Van Boening,0
5,2017,5,Doubles,"David Alcaide, Nick van den Berg",4,5,"Dennis Hatch, Billy Thorpe",0
6,2017,6,Singles,Ralf Souquet,5,3,Oscar Dominguez,1
7,2017,7,Doubles,"Joshua Filler, Jayson Shaw",5,1,"Shane Van Boening, Skyler Woodward",1
8,2017,8,Singles,David Alcaide,5,1,Skyler Woodward,1
9,2017,9,Doubles,"Joshua Filler, Nick van den Berg",5,0,"Shane Van Boening, Billy Thorpe",1
10,2017,10,Doubles,"Jayson Shaw, Ralf Souquet",4,5,"Oscar Dominguez, Dennis Hatch",0
11,2017,11,Singles,Nick van den Berg,4,5,Billy Thorpe,0
12,2017,12,Doubles,"David Alcaide, Ralf Souquet",5,2,"Skyler Woodward, Oscar Dominguez",1
13,2017,13,Singles,Jayson Shaw,5,4,Shane Van Boening,1
14,2017,14,Singles,Joshua Filler,5,3,Dennis Hatch,1

Ready to concatenate to other years

In [132]:
import sqlite3

In [133]:
con = sqlite3.connect('../players.db')

In [134]:
sql='select * from results'

In [135]:
frame = pd.read_sql(sql,con)

In [190]:
f = pd.concat([frame,df])

In [192]:
f.reset_index(drop=True,inplace=True)

In [194]:
f.to_sql('results',con,if_exists='replace')