# Purpose: find the winningest teams in mosconi cup history

In [1]:
import os
os.getcwd()

'C:\\Users\\andrew\\Desktop\\mosconi\\3- Data Analysis\\In_depth_Player_Performance_Analysis'

In [2]:
path='C:\\Users\\andrew\\Desktop\\mosconi\\'

In [3]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///'+path+'players.db')
connection = engine.connect()

In [4]:
pl = pd.read_sql('select * from players',connection)

In [5]:
from perf_mod import *

In [6]:
am_players = list(pl[pl['Team']=='America']['Name'])

In [7]:
euro_players = list(pl[pl['Team']=='Europe']['Name'])

In [8]:
team = 'a'
for player in am_players:
    print(player)
    df = setup_df(player,team)[0]
    try:
        newframe = partners_2(overall_stats_2(df, team)[1],player)
    except:
        pass
    newframe

Johnny Archer

             America_won  America_lost
Partner
Nick Varner          5.0           4.0

Earl Strickland

               America_won  America_lost
Partner
Rodney Morris          7.0           4.0

Rodney Morris

                 America_won  America_lost
Partner
Earl Strickland          7.0           4.0

Shane Van Boening

               America_won  America_lost
Partner
Johnny Archer          4.0           1.0

Corey Deuel

                  America_won  America_lost
Partner
Charlie Williams          3.0           2.0
Johnny Archer             3.0           2.0

Jeremy Jones

                 America_won  America_lost
Partner
Earl Strickland          5.0           2.0

Charlie Williams

             America_won  America_lost
Partner
Corey Deuel          3.0           2.0

Nick Varner

               America_won  America_lost
Partner
Johnny Archer          5.0           4.0

Mike Dechaine

                   America_won  America_lost
Partner
Shane Van Boening          1.0           2.0
Johnny Archer              1.0           0.0

Dennis Hatch

                   America_won  America_lost
Partner
Shane Van Boening          2.0           0.0

Kim Davenport

                 America_won  America_lost
Partner
Johnny Archer            1.0           3.0
Reed Pierce              1.0           1.0
Earl Strickland          1.0           0.0
James Rempe              1.0           0.0

Justin Bergman

                 America_won  America_lost
Partner
Skyler Woodward          2.0           0.0

James Rempe

                 America_won  America_lost
Partner
Earl Strickland          4.0           3.0

Mark Wilson

                 America_won  America_lost
Partner
Earl Strickland          4.0           3.0

Lou Butera

                 America_won  America_lost
Partner
Earl Strickland          4.0           3.0

Michael Coltrain

              America_won  America_lost
Partner
Jeremy Jones          2.0           3.0

Shannon Daulton

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Mike Gulyassy

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Robert Hunter

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Mike Massey

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Reed Pierce

               America_won  America_lost
Partner
Kim Davenport          1.0           1.0

Shawn Putnam

               America_won  America_lost
Partner
Kim Davenport          1.0           1.0

Tony Robles

                  America_won  America_lost
Partner
Charlie Williams          1.0           3.0
Earl Strickland           1.0           0.0

John Schmidt

                  America_won  America_lost
Partner
Charlie Williams          1.0           3.0
Earl Strickland           1.0           0.0

Dallas West

                  America_won  America_lost
Partner
Charlie Williams          1.0           3.0
Earl Strickland           1.0           0.0

Skyler Woodward

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

C.J. Wiley

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Mike Davis

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

John DiToro

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Óscar Domínguez

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Paul Gerni

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Roger Griffis

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Justin Hall

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Danny Harriman

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Allen Hopkins

                America_won  America_lost
Partner
Justin Bergman          2.0           0.0

Bobby Hunter

              America_won  America_lost
Partner
Jeanette Lee          2.0           0.0

Jeanette Lee

              America_won  America_lost
Partner
Bobby Hunter          2.0           0.0

Gabe Owen

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Brandon Shuff

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Vivian Villarreal

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Buddy Hall

               America_won  America_lost
Partner
Johnny Archer          2.0           1.0

Earl Strickland and Rodney Morris are 7-4

In [9]:
team = 'e'
for player in euro_players:
    print(player)
    df = setup_df(player,team)[0]
    try:
        newframe = partners_2(overall_stats_2(df, team)[1],player)
    except:
        pass
    newframe

Ralf Souquet

C:\Users\andrew\Desktop\mosconi\3- Data Analysis\In_depth_Player_Performance_Analysis\perf_mod.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dub['Partner']=dub['European_player'].str.replace(player,'')
C:\Users\andrew\Desktop\mosconi\3- Data Analysis\In_depth_Player_Performance_Analysis\perf_mod.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dub['Partner']=dub['Partner'].str.replace('&','')
C:\Users\andrew\Desktop\mosconi\3- Data Analysis\In_depth_Player_Performance_Analysis\perf_mod.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dub['Partner']=dub['Partner'].str.strip()

              Europe_won  Europe_lost
Partner
Niels Feijen         7.0          1.0

Mika Immonen

               Europe_won  Europe_lost
Partner
Marcus Chamat         6.0          6.0

Niels Feijen

              Europe_won  Europe_lost
Partner
Ralf Souquet         7.0          1.0

Steve Davis

                   Europe_won  Europe_lost
Partner
Nick van den Berg         2.0          3.0
Niels Feijen              2.0          1.0

Oliver Ortmann

              Europe_won  Europe_lost
Partner
Ralf Souquet         4.0          3.0

Darren Appleton

              Europe_won  Europe_lost
Partner
Karl Boyes           3.0          1.0
Ralf Souquet         3.0          0.0

Nick van den Berg

             Europe_won  Europe_lost
Partner
Steve Davis         2.0          3.0

Marcus Chamat

              Europe_won  Europe_lost
Partner
Mika Immonen         6.0          6.0

Karl Boyes

                 Europe_won  Europe_lost
Partner
Darren Appleton         3.0          1.0

Steve Knight

                Europe_won  Europe_lost
Partner
Oliver Ortmann         2.0          1.0

Thomas Engert

              Europe_won  Europe_lost
Partner
Ralf Souquet         3.0          1.0

Mark Gray

               Europe_won  Europe_lost
Partner
Mika Immonen          1.0          1.0
Niels Feijen          1.0          1.0
Albin Ouschan         1.0          0.0
Karl Boyes            1.0          0.0

Thorsten Hohmann

              Europe_won  Europe_lost
Partner
Niels Feijen         2.0          1.0

Alex Lely

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          1.0
Niels Feijen         1.0          0.0

Albin Ouschan

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          1.0
Niels Feijen         1.0          0.0

Tony Drago

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          1.0
Niels Feijen         1.0          0.0

Nick Ekonomopoulos

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          1.0
Niels Feijen         1.0          0.0

Chris Melling

              Europe_won  Europe_lost
Partner
Ralf Souquet         1.0          0.0

Ronnie O'Sullivan

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          2.0
Ralf Souquet         1.0          0.0

Daryl Peach

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          2.0
Ralf Souquet         1.0          0.0

Tom Storm

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          2.0
Ralf Souquet         1.0          0.0

Jimmy White

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          2.0
Ralf Souquet         1.0          0.0

David Alcaide

              Europe_won  Europe_lost
Partner
Steve Davis          1.0          2.0
Ralf Souquet         1.0          0.0

Tommy Donlon

              Europe_won  Europe_lost
Partner
Mika Immonen         2.0          0.0

Vincent Facquet

              Europe_won  Europe_lost
Partner
Mika Immonen         2.0          0.0

Allison Fisher

              Europe_won  Europe_lost
Partner
Mika Immonen         2.0          0.0

Alex Higgins

              Europe_won  Europe_lost
Partner
Mika Immonen         2.0          0.0

Raj Hundal

                  Europe_won  Europe_lost
Partner
Alex Lely                0.0          2.0
Thorsten Hohmann         0.0          1.0

Lee Kendall

                  Europe_won  Europe_lost
Partner
Alex Lely                0.0          2.0
Thorsten Hohmann         0.0          1.0

Imran Majid

                  Europe_won  Europe_lost
Partner
Alex Lely                0.0          2.0
Thorsten Hohmann         0.0          1.0

Fabio Petroni

             Europe_won  Europe_lost
Partner
Steve Davis         1.0          2.0

Andy Richardson

             Europe_won  Europe_lost
Partner
Steve Davis         1.0          2.0

Jayson Shaw

             Europe_won  Europe_lost
Partner
Steve Davis         1.0          2.0

Franziska Stark

                Europe_won  Europe_lost
Partner
Ralf Souquet           0.0          2.0
Allison Fisher         0.0          1.0

Konstantin Stepanov

              Europe_won  Europe_lost
Partner
Niels Feijen         2.0          0.0

Lee Tucker

              Europe_won  Europe_lost
Partner
Niels Feijen         2.0          0.0

Johan Ruijsink

              Europe_won  Europe_lost
Partner
Niels Feijen         2.0          0.0

Niels Feijen and Ralf Souquet are 7-1