In [1]:
import os

In [10]:
parent=os.path.abspath('../..')

In [13]:
path=os.path.join(parent,'players.db')

In [14]:
import sqlite3

In [15]:
con = sqlite3.connect(path)

In [16]:
import pandas as pd

In [17]:
sql='select * from results'

In [20]:
df = pd.read_sql(sql,con,index_col=['Year','Match'])

In [21]:
df.head()

             Format  European_player European_score American_score  \
Year Match
1994 0      Singles       Tom Storm               2              0
     1      Singles  Oliver Ortmann               2              0
     2      Singles      Lee Tucker               1              2
     3      Singles  Allison Fisher               0              2
     4      Singles     Steve Davis               2              1

               American_player  Europe_won
Year Match
1994 0           Bobby Hunter            1
     1            Mark Wilson            1
     2             Lou Butera            0
     3      Vivian Villarreal            0
     4          Mike Gulyassy            1

In [23]:
matchups = df.groupby(['European_player','American_player'])

In [28]:
matchups.get_group(('Darren Appleton','Shane Van Boening'))

           American_score  Europe_won European_score   Format
Year Match
2010 17                 2           1              6  Singles
2012 14                 0           1              5  Singles
     17                 5           0              1  Singles
2014 4                  3           1              5  Singles
     14                 2           1              5  Singles
2015 4                  1           1              5  Singles
2016 4                  3           1              5  Singles