# Purpose: find the winningest singles matchups in mosconi cup history

In [1]:
import os
os.getcwd()

'C:\\Users\\andrew\\Desktop\\mosconi\\3- Data Analysis\\In_depth_Player_Performance_Analysis'

In [2]:
path='C:\\Users\\andrew\\Desktop\\mosconi\\'

In [3]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///'+path+'players.db')
connection = engine.connect()

In [4]:
pl = pd.read_sql('select * from players',connection)

In [5]:
connection.close()

In [6]:
from perf_mod import *

In [12]:
# am_players = list(pl[pl['Team']=='America']['Name'])
am_players = list(pl.loc[pl['Team']=='America','Name'])

In [14]:
euro_players = list(pl.loc[pl['Team']=='Europe','Name'])

In [11]:
team = 'a'
for player in am_players:
    print(player)
    df = setup_df(player,team)[0]
    try:
        newframe = opponents_2(overall_stats_2(df, team)[0])
    except:
        pass
    newframe

Johnny Archer

                 America_won  America_lost
European_player
Oliver Ortmann           3.0           1.0

Earl Strickland

                 America_won  America_lost
European_player
Marcus Chamat            2.0           1.0
Ralf Souquet             2.0           1.0
Thomas Engert            2.0           0.0

Rodney Morris

                 America_won  America_lost
European_player
Mika Immonen             2.0           1.0
Niels Feijen             2.0           3.0

Shane Van Boening

                   America_won  America_lost
European_player
Nick van den Berg          3.0           0.0

Corey Deuel

                   America_won  America_lost
European_player
Nick van den Berg          2.0           1.0

Jeremy Jones

                 America_won  America_lost
European_player
Marcus Chamat            2.0           1.0
Mika Immonen             2.0           2.0

Charlie Williams

                 America_won  America_lost
European_player
Niels Feijen             2.0           0.0

Nick Varner

                    America_won  America_lost
European_player
Ronnie O'Sullivan           2.0           0.0

Mike Dechaine

                 America_won  America_lost
European_player
Ralf Souquet             1.0           0.0

Dennis Hatch

                 America_won  America_lost
European_player
Niels Feijen             2.0           0.0

Kim Davenport

                 America_won  America_lost
European_player
Niels Feijen             2.0           0.0

Justin Bergman

                 America_won  America_lost
European_player
Darren Appleton          1.0           0.0

James Rempe

                 America_won  America_lost
European_player
Darren Appleton          1.0           0.0

Mark Wilson

                 America_won  America_lost
European_player
Lee Kendall              1.0           0.0
Tom Storm                1.0           1.0

Lou Butera

                 America_won  America_lost
European_player
Daryl Peach              1.0           0.0
Jimmy White              1.0           1.0
Lee Tucker               1.0           0.0
Steve Davis              1.0           1.0

Michael Coltrain

                 America_won  America_lost
European_player
Marcus Chamat            1.0           0.0

Shannon Daulton

                 America_won  America_lost
European_player
Marcus Chamat            1.0           0.0

Mike Gulyassy

                 America_won  America_lost
European_player
Marcus Chamat            1.0           0.0

Robert Hunter

                 America_won  America_lost
European_player
Marcus Chamat            1.0           0.0

Mike Massey

                    America_won  America_lost
European_player
Ronnie O'Sullivan           1.0           0.0
Tom Storm                   1.0           0.0

Reed Pierce

                 America_won  America_lost
European_player
Tommy Donlon             2.0           0.0

Shawn Putnam

                 America_won  America_lost
European_player
Tommy Donlon             2.0           0.0

Tony Robles

                 America_won  America_lost
European_player
Tommy Donlon             2.0           0.0

John Schmidt

                 America_won  America_lost
European_player
Tommy Donlon             2.0           0.0

Dallas West

                 America_won  America_lost
European_player
Tommy Donlon             2.0           0.0

Skyler Woodward

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

C.J. Wiley

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Mike Davis

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

John DiToro

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Óscar Domínguez

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Paul Gerni

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Roger Griffis

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Justin Hall

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Danny Harriman

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Allen Hopkins

                 America_won  America_lost
European_player
Albin Ouschan            0.0           2.0
Karl Boyes               0.0           1.0

Bobby Hunter

                 America_won  America_lost
European_player
Alex Higgins             1.0           0.0
Lee Kendall              1.0           0.0

Jeanette Lee

                 America_won  America_lost
European_player
Alex Higgins             1.0           0.0
Lee Kendall              1.0           0.0

Gabe Owen

                 America_won  America_lost
European_player
Alex Higgins             1.0           0.0
Lee Kendall              1.0           0.0

Brandon Shuff

                 America_won  America_lost
European_player
Chris Melling            0.0           2.0
Darren Appleton          0.0           1.0

Vivian Villarreal

                 America_won  America_lost
European_player
Chris Melling            0.0           2.0
Darren Appleton          0.0           1.0

Buddy Hall

                 America_won  America_lost
European_player
Chris Melling            0.0           2.0
Darren Appleton          0.0           1.0

# Shane van Boening ahead of Nick van den Berg 3-0

In [12]:
team = 'e'
for player in euro_players:
    print(player)
    df = setup_df(player,team)[0]
    try:
        newframe = opponents_2(overall_stats_2(df, team)[0])
    except:
        pass
    newframe

Ralf Souquet

                   Europe_won  Europe_lost
American_player
Johnny Archer             2.0          2.0
Shane Van Boening         2.0          1.0
Corey Deuel               2.0          0.0
Earl Strickland           2.0          1.0
Jeremy Jones              2.0          1.0

Mika Immonen

                 Europe_won  Europe_lost
American_player
Johnny Archer           4.0          2.0

Niels Feijen

                 Europe_won  Europe_lost
American_player
Justin Bergman          4.0          0.0

Steve Davis

                 Europe_won  Europe_lost
American_player
Earl Strickland         2.0          0.0
Mike Massey             2.0          0.0

Oliver Ortmann

                 Europe_won  Europe_lost
American_player
Bobby Hunter            2.0          0.0
Mark Wilson             2.0          0.0

Darren Appleton

                   Europe_won  Europe_lost
American_player
Shane Van Boening         6.0          1.0

Nick van den Berg

                 Europe_won  Europe_lost
American_player
Corey Deuel             1.0          2.0
Earl Strickland         1.0          1.0
Johnny Archer           1.0          1.0
Mike Davis              1.0          0.0
Mike Dechaine           1.0          0.0
Tony Robles             1.0          0.0

Marcus Chamat

                 Europe_won  Europe_lost
American_player
Earl Strickland         1.0          2.0
Jeremy Jones            1.0          2.0
Nick Varner             1.0          0.0
Tony Robles             1.0          0.0

Karl Boyes

                 Europe_won  Europe_lost
American_player
Earl Strickland         1.0          2.0
Jeremy Jones            1.0          2.0
Nick Varner             1.0          0.0
Tony Robles             1.0          0.0

Steve Knight

                  Europe_won  Europe_lost
American_player
Michael Coltrain         2.0          0.0

Thomas Engert

                 Europe_won  Europe_lost
American_player
John Schmidt            1.0          0.0

Mark Gray

                 Europe_won  Europe_lost
American_player
John Schmidt            1.0          0.0

Thorsten Hohmann

                 Europe_won  Europe_lost
American_player
John Schmidt            1.0          0.0

Alex Lely

                 Europe_won  Europe_lost
American_player
John Schmidt            1.0          0.0

Albin Ouschan

                 Europe_won  Europe_lost
American_player
Skyler Woodward         2.0          0.0

Tony Drago

                 Europe_won  Europe_lost
American_player
Skyler Woodward         2.0          0.0

Nick Ekonomopoulos

                 Europe_won  Europe_lost
American_player
Skyler Woodward         2.0          0.0

Chris Melling

                 Europe_won  Europe_lost
American_player
Brandon Shuff           2.0          0.0

Ronnie O'Sullivan

                  Europe_won  Europe_lost
American_player
Allen Hopkins            1.0          0.0
Earl Strickland          1.0          0.0

Daryl Peach

                  Europe_won  Europe_lost
American_player
Allen Hopkins            1.0          0.0
Earl Strickland          1.0          0.0

Tom Storm

                 Europe_won  Europe_lost
American_player
Lou Butera              2.0          0.0

Jimmy White

                 Europe_won  Europe_lost
American_player
Lou Butera              2.0          0.0

David Alcaide

                 Europe_won  Europe_lost
American_player
Lou Butera              2.0          0.0

Tommy Donlon

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Vincent Facquet

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Allison Fisher

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Alex Higgins

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Raj Hundal

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Lee Kendall

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Imran Majid

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Fabio Petroni

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Andy Richardson

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Jayson Shaw

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Franziska Stark

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Konstantin Stepanov

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Lee Tucker

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

Johan Ruijsink

                 Europe_won  Europe_lost
American_player
Reed Pierce             0.0          2.0

# Niels 4-0 against Bergman
# Darren 6-1 against Shane