In [56]:
import pandas as pd

In [57]:
import sqlite3

In [58]:
con = sqlite3.connect('../players.db')

In [59]:
sql = 'select * from results'
df = pd.read_sql(sql,con,index_col=['Year'])

In [60]:
sql = 'select * from yearly'
yearly = pd.read_sql(sql,con,index_col='Year')
yearly.drop('index',axis=1,inplace=True)

In [61]:
sql = 'select * from player'
players = pd.read_sql(sql,con)

In [62]:
am = list(players[players['Team']=='America']['Name'])

In [63]:
eu = list(players[players['Team']=='Europe']['Name'])

In [64]:
am_years = list(yearly[yearly['Victors'].str.contains('USA')].index)
eu_years = list(yearly[yearly['Victors'].str.contains('Europe')].index)

For each player, loop through results to find out which years that they played.

Should also find the american and european rosters for each year and add that to the yearly table

In [65]:
d={}

In [66]:
for player in am:
    s = set(df[df['American_player'].str.contains(player)].index)
    d[player]= s

In [67]:
for player in eu:
    s = set(df[df['European_player'].str.contains(player)].index)
    d[player]= s

In [68]:
players['Years']=players['Name'].apply(lambda x: d[x])

In [69]:
players['Appearances'] = players['Years'].apply(lambda x: len(x))

In [70]:
players

,Name,Location,Team,Appearances,Years
0,Johnny Archer,Georgia,America,17,"{2011, 1999, 2005, 2000, 2001, 2006, 2007, 200..."
1,Earl Strickland,North Carolina,America,14,"{1999, 2005, 2000, 2001, 2006, 2007, 2013, 199..."
2,Shane Van Boening,South Dakota,America,11,"{2014, 2011, 2015, 2007, 2009, 2013, 2017, 201..."
3,Rodney Morris,California,America,10,"{2011, 2005, 2006, 2007, 2013, 2010, 2016, 200..."
4,Corey Deuel,California,America,9,"{2014, 2015, 2006, 2000, 2007, 2001, 2009, 201..."
5,Jeremy Jones,Texas,America,7,"{1999, 2005, 2000, 2001, 2003, 2008, 2002}"
6,Charlie Williams,South Korea,America,5,"{2005, 2001, 2003, 2004, 2002}"
7,Dennis Hatch,New York,America,5,"{2013, 2009, 2017, 2010, 2012}"
8,Nick Varner,Kentucky,America,4,"{1998, 2001, 2002, 1997}"
9,Mike Dechaine,Maine,America,4,"{2016, 2012, 2011, 2015}"
10,Kim Davenport,Oklahoma,America,3,"{1998, 1999, 1997}"
11,Justin Bergman,Illinois,America,3,"{2016, 2014, 2015}"
12,James Rempe,Pennsylvania,America,3,"{1998, 1999, 1997}"
13,Skyler Woodward,Kentucky,America,3,"{2016, 2017, 2015}"
14,Mark Wilson,Missouri,America,2,"{1995, 1994}"
15,Lou Butera,Pennsylvania,America,2,"{1995, 1994}"
16,Michael Coltrain,North Carolina,America,2,"{2000, 1999}"
17,Shannon Daulton,Kentucky,America,2,"{2000, 1996}"
18,Mike Gulyassy,Ohio,America,2,"{1995, 1994}"
19,Bobby Hunter,Michigan,America,2,"{1995, 1994}"
20,Mike Massey,Tennessee,America,2,"{1995, 1996}"
21,Reed Pierce,Mississippi,America,2,"{1998, 1997}"
22,Shawn Putnam,Pennsylvania,America,1,{2011}
23,Tony Robles,New York,America,2,"{2003, 2004}"
24,John Schmidt,California,America,2,"{2006, 2014}"
25,Dallas West,Illinois,America,2,"{1995, 1994}"
26,Oscar Dominguez,California,America,2,"{2009, 2017}"
27,C.J. Wiley,Texas,America,1,{1996}
28,Mike Davis,North Carolina,America,1,{2006}
29,John DiToro,Florida,America,1,{1995}
...,...,...,...,...,...
47,Marcus Chamat,Sweden,Europe,6,"{2005, 2000, 2001, 2003, 2004, 2002}"
48,Karl Boyes,England,Europe,4,"{2010, 2014, 2013, 2015}"
49,Steve Knight,England,Europe,4,"{1998, 2000, 2001, 1999}"
50,Thomas Engert,Germany,Europe,3,"{2006, 2000, 2004}"
51,Mark Gray,England,Europe,3,"{2016, 2014, 2008}"
52,Thorsten Hohmann,Germany,Europe,3,"{2003, 2009, 2005}"
53,Alex Lely,Netherlands,Europe,2,"{2005, 1999}"
54,Albin Ouschan,Austria,Europe,2,"{2016, 2015}"
55,Tony Drago,Malta,Europe,2,"{2008, 2007}"
56,Nick Ekonomopoulos,Greece,Europe,1,{2012}
57,Chris Melling,England,Europe,2,"{2012, 2011}"
58,Ronnie O'Sullivan,England,Europe,2,"{1996, 1997}"
59,Daryl Peach,England,Europe,2,"{1995, 2007}"
60,Tom Storm,Sweden,Europe,2,"{1995, 1994}"
61,Jimmy White,England,Europe,2,"{1995, 1994}"
62,David Alcaide,Spain,Europe,2,"{2006, 2017}"
63,Jayson Shaw,Scotland,Europe,2,"{2016, 2017}"
64,Tommy Donlon,Ireland,Europe,1,{1997}
65,Vincent Facquet,France,Europe,1,{1996}
66,Allison Fisher,England,Europe,1,{1994}
67,Alex Higgins,Northern Ireland,Europe,1,{1995}
68,Raj Hundal,England,Europe,1,{2005}
69,Lee Kendall,England,Europe,1,{1995}
70,Imran Majid,England,Europe,1,{2006}
71,Fabio Petroni,Italy,Europe,1,{1998}
72,Andy Richardson,England,Europe,1,{1996}
73,Franziska Stark,Germany,Europe,1,{1994}
74,Konstantin Stepanov,Russia,Europe,1,{2007}
75,Lee Tucker,England,Europe,1,{1994}
76,Joshua Filler,Germany,Europe,1,{2017}

In [71]:
am_years = [str(x) for x in am_years]

In [72]:
eu_years = [str(x) for x in eu_years]

In [73]:
dic={}
for item in d.items():
    player = item[0]
    player
    if player in am:
        wc,lc,tc = 0,0,0
        for year in item[1]:
            year
            type(year)
            if year in am_years:
                wc += 1
                print(year,': win')
            elif year in eu_years:
                lc += 1
                print(year,': loss')
            else:
                tc += 1
                print(year,": tie")
        out = '{}-{}-{}'.format(wc,lc,tc)
        dic[player]= out
        out
    else:
        wc,lc,tc = 0,0,0
        for year in item[1]:
            if year in eu_years:
                wc += 1
                print(year,': win')
            elif year in am_years:
                lc += 1
                print(year,': loss')
            else:
                tc += 1
                print(year,": tie")
        out = '{}-{}-{}'.format(wc,lc,tc)
        dic[player]= out
        out

'Johnny Archer'

'2011'

str

2011 : loss

'1999'

str

1999 : win

'2005'

str

2005 : win

'2000'

str

2000 : win

'2001'

str

2001 : win

'2006'

str

2006 : tie

'2007'

str

2007 : loss

'2009'

str

2009 : win

'2013'

str

2013 : loss

'2010'

str

2010 : loss

'1998'

str

1998 : win

'2003'

str

2003 : win

'2012'

str

2012 : loss

'2004'

str

2004 : win

'2008'

str

2008 : loss

'2002'

str

2002 : loss

'1997'

str

1997 : win

'9-7-1'

'Earl Strickland'

'1999'

str

1999 : win

'2005'

str

2005 : win

'2000'

str

2000 : win

'2001'

str

2001 : win

'2006'

str

2006 : tie

'2007'

str

2007 : loss

'2013'

str

2013 : loss

'1998'

str

1998 : win

'2003'

str

2003 : win

'1996'

str

1996 : win

'2004'

str

2004 : win

'2008'

str

2008 : loss

'2002'

str

2002 : loss

'1997'

str

1997 : win

'9-4-1'

'Shane Van Boening'

'2014'

str

2014 : loss

'2011'

str

2011 : loss

'2015'

str

2015 : loss

'2007'

str

2007 : loss

'2009'

str

2009 : win

'2013'

str

2013 : loss

'2017'

str

2017 : loss

'2010'

str

2010 : loss

'2016'

str

2016 : loss

'2012'

str

2012 : loss

'2008'

str

2008 : loss

'1-10-0'

'Rodney Morris'

'2011'

str

2011 : loss

'2005'

str

2005 : win

'2006'

str

2006 : tie

'2007'

str

2007 : loss

'2013'

str

2013 : loss

'2010'

str

2010 : loss

'2016'

str

2016 : loss

'2003'

str

2003 : win

'2004'

str

2004 : win

'2008'

str

2008 : loss

'3-6-1'

'Corey Deuel'

'2014'

str

2014 : loss

'2015'

str

2015 : loss

'2006'

str

2006 : tie

'2000'

str

2000 : win

'2007'

str

2007 : loss

'2001'

str

2001 : win

'2009'

str

2009 : win

'2010'

str

2010 : loss

'2002'

str

2002 : loss

'3-5-1'

'Jeremy Jones'

'1999'

str

1999 : win

'2005'

str

2005 : win

'2000'

str

2000 : win

'2001'

str

2001 : win

'2003'

str

2003 : win

'2008'

str

2008 : loss

'2002'

str

2002 : loss

'5-2-0'

'Charlie Williams'

'2005'

str

2005 : win

'2001'

str

2001 : win

'2003'

str

2003 : win

'2004'

str

2004 : win

'2002'

str

2002 : loss

'4-1-0'

'Dennis Hatch'

'2013'

str

2013 : loss

'2009'

str

2009 : win

'2017'

str

2017 : loss

'2010'

str

2010 : loss

'2012'

str

2012 : loss

'1-4-0'

'Nick Varner'

'1998'

str

1998 : win

'2001'

str

2001 : win

'2002'

str

2002 : loss

'1997'

str

1997 : win

'3-1-0'

'Mike Dechaine'

'2016'

str

2016 : loss

'2012'

str

2012 : loss

'2011'

str

2011 : loss

'2015'

str

2015 : loss

'0-4-0'

'Kim Davenport'

'1998'

str

1998 : win

'1999'

str

1999 : win

'1997'

str

1997 : win

'3-0-0'

'Justin Bergman'

'2016'

str

2016 : loss

'2014'

str

2014 : loss

'2015'

str

2015 : loss

'0-3-0'

'James Rempe'

'1998'

str

1998 : win

'1999'

str

1999 : win

'1997'

str

1997 : win

'3-0-0'

'Skyler Woodward'

'2016'

str

2016 : loss

'2017'

str

2017 : loss

'2015'

str

2015 : loss

'0-3-0'

'Mark Wilson'

'1995'

str

1995 : loss

'1994'

str

1994 : win

'1-1-0'

'Lou Butera'

'1995'

str

1995 : loss

'1994'

str

1994 : win

'1-1-0'

'Michael Coltrain'

'2000'

str

2000 : win

'1999'

str

1999 : win

'2-0-0'

'Shannon Daulton'

'2000'

str

2000 : win

'1996'

str

1996 : win

'2-0-0'

'Mike Gulyassy'

'1995'

str

1995 : loss

'1994'

str

1994 : win

'1-1-0'

'Bobby Hunter'

'1995'

str

1995 : loss

'1994'

str

1994 : win

'1-1-0'

'Mike Massey'

'1995'

str

1995 : loss

'1996'

str

1996 : win

'1-1-0'

'Reed Pierce'

'1998'

str

1998 : win

'1997'

str

1997 : win

'2-0-0'

'Shawn Putnam'

'2011'

str

2011 : loss

'0-1-0'

'Tony Robles'

'2003'

str

2003 : win

'2004'

str

2004 : win

'2-0-0'

'John Schmidt'

'2006'

str

2006 : tie

'2014'

str

2014 : loss

'0-1-1'

'Dallas West'

'1995'

str

1995 : loss

'1994'

str

1994 : win

'1-1-0'

'Oscar Dominguez'

'2009'

str

2009 : win

'2017'

str

2017 : loss

'1-1-0'

'C.J. Wiley'

'1996'

str

1996 : win

'1-0-0'

'Mike Davis'

'2006'

str

2006 : tie

'0-0-1'

'John DiToro'

'1995'

str

1995 : loss

'0-1-0'

'Paul Gerni'

'1994'

str

1994 : win

'1-0-0'

'Roger Griffis'

'1996'

str

1996 : win

'1-0-0'

'Justin Hall'

'2014'

str

2014 : loss

'0-1-0'

'Danny Harriman'

'1996'

str

1996 : win

'1-0-0'

'Allen Hopkins'

'1996'

str

1996 : win

'1-0-0'

'Jeanette Lee'

'1994'

str

1994 : win

'1-0-0'

'Gabe Owen'

'2004'

str

2004 : win

'1-0-0'

'Brandon Shuff'

'2012'

str

2012 : loss

'0-1-0'

'Vivian Villarreal'

'1994'

str

1994 : win

'1-0-0'

'Billy Thorpe'

'2017'

str

2017 : loss

'0-1-0'

'Ralf Souquet'

2011 : win
1999 : loss
2000 : loss
2001 : loss
2006 : tie
2007 : win
2009 : loss
1994 : loss
2010 : win
1998 : loss
2003 : loss
2013 : win
1996 : loss
2017 : win
2008 : win
2002 : win
1997 : loss

'7-9-1'

'Mika Immonen'

1999 : loss
2005 : loss
2000 : loss
2001 : loss
2006 : tie
2009 : loss
2013 : win
2010 : win
1998 : loss
2003 : loss
1996 : loss
2004 : loss
2008 : win
2002 : win
1997 : loss

'4-10-1'

'Niels Feijen'

2014 : win
2011 : win
2005 : loss
2015 : win
2001 : loss
2007 : win
2009 : loss
2013 : win
2016 : win
2012 : win
2004 : loss
2008 : win

'8-4-0'

'Steve Davis'

1999 : loss
1995 : win
2000 : loss
2001 : loss
1994 : loss
1998 : loss
2003 : loss
1996 : loss
2004 : loss
2002 : win
1997 : loss

'2-9-0'

'Oliver Ortmann'

1999 : loss
1995 : win
1994 : loss
1998 : loss
1996 : loss
2004 : loss
2002 : win
1997 : loss

'2-6-0'

'Darren Appleton'

2014 : win
2011 : win
2015 : win
2013 : win
2009 : loss
2010 : win
2016 : win
2012 : win

'7-1-0'

'Nick van den Berg'

2011 : win
2015 : win
2006 : tie
2017 : win
2010 : win
2003 : loss
2012 : win
2002 : win

'6-1-1'

'Marcus Chamat'

2005 : loss
2000 : loss
2001 : loss
2003 : loss
2004 : loss
2002 : win

'1-5-0'

'Karl Boyes'

2010 : win
2014 : win
2013 : win
2015 : win

'4-0-0'

'Steve Knight'

1998 : loss
2000 : loss
2001 : loss
1999 : loss

'0-4-0'

'Thomas Engert'

2006 : tie
2000 : loss
2004 : loss

'0-2-1'

'Mark Gray'

2016 : win
2014 : win
2008 : win

'3-0-0'

'Thorsten Hohmann'

2003 : loss
2009 : loss
2005 : loss

'0-3-0'

'Alex Lely'

2005 : loss
1999 : loss

'0-2-0'

'Albin Ouschan'

2016 : win
2015 : win

'2-0-0'

'Tony Drago'

2008 : win
2007 : win

'2-0-0'

'Nick Ekonomopoulos'

2012 : win

'1-0-0'

'Chris Melling'

2012 : win
2011 : win

'2-0-0'

"Ronnie O'Sullivan"

1996 : loss
1997 : loss

'0-2-0'

'Daryl Peach'

1995 : win
2007 : win

'2-0-0'

'Tom Storm'

1995 : win
1994 : loss

'1-1-0'

'Jimmy White'

1995 : win
1994 : loss

'1-1-0'

'David Alcaide'

2006 : tie
2017 : win

'1-0-1'

'Jayson Shaw'

2016 : win
2017 : win

'2-0-0'

'Tommy Donlon'

1997 : loss

'0-1-0'

'Vincent Facquet'

1996 : loss

'0-1-0'

'Allison Fisher'

1994 : loss

'0-1-0'

'Alex Higgins'

1995 : win

'1-0-0'

'Raj Hundal'

2005 : loss

'0-1-0'

'Lee Kendall'

1995 : win

'1-0-0'

'Imran Majid'

2006 : tie

'0-0-1'

'Fabio Petroni'

1998 : loss

'0-1-0'

'Andy Richardson'

1996 : loss

'0-1-0'

'Franziska Stark'

1994 : loss

'0-1-0'

'Konstantin Stepanov'

2007 : win

'1-0-0'

'Lee Tucker'

1994 : loss

'0-1-0'

'Joshua Filler'

2017 : win

'1-0-0'

In [74]:
dic

{'Johnny Archer': '9-7-1',
 'Earl Strickland': '9-4-1',
 'Shane Van Boening': '1-10-0',
 'Rodney Morris': '3-6-1',
 'Corey Deuel': '3-5-1',
 'Jeremy Jones': '5-2-0',
 'Charlie Williams': '4-1-0',
 'Dennis Hatch': '1-4-0',
 'Nick Varner': '3-1-0',
 'Mike Dechaine': '0-4-0',
 'Kim Davenport': '3-0-0',
 'Justin Bergman': '0-3-0',
 'James Rempe': '3-0-0',
 'Skyler Woodward': '0-3-0',
 'Mark Wilson': '1-1-0',
 'Lou Butera': '1-1-0',
 'Michael Coltrain': '2-0-0',
 'Shannon Daulton': '2-0-0',
 'Mike Gulyassy': '1-1-0',
 'Bobby Hunter': '1-1-0',
 'Mike Massey': '1-1-0',
 'Reed Pierce': '2-0-0',
 'Shawn Putnam': '0-1-0',
 'Tony Robles': '2-0-0',
 'John Schmidt': '0-1-1',
 'Dallas West': '1-1-0',
 'Oscar Dominguez': '1-1-0',
 'C.J. Wiley': '1-0-0',
 'Mike Davis': '0-0-1',
 'John DiToro': '0-1-0',
 'Paul Gerni': '1-0-0',
 'Roger Griffis': '1-0-0',
 'Justin Hall': '0-1-0',
 'Danny Harriman': '1-0-0',
 'Allen Hopkins': '1-0-0',
 'Jeanette Lee': '1-0-0',
 'Gabe Owen': '1-0-0',
 'Brandon Shuff': '0-1-0',
 'Vivian Villarreal': '1-0-0',
 'Billy Thorpe': '0-1-0',
 'Ralf Souquet': '7-9-1',
 'Mika Immonen': '4-10-1',
 'Niels Feijen': '8-4-0',
 'Steve Davis': '2-9-0',
 'Oliver Ortmann': '2-6-0',
 'Darren Appleton': '7-1-0',
 'Nick van den Berg': '6-1-1',
 'Marcus Chamat': '1-5-0',
 'Karl Boyes': '4-0-0',
 'Steve Knight': '0-4-0',
 'Thomas Engert': '0-2-1',
 'Mark Gray': '3-0-0',
 'Thorsten Hohmann': '0-3-0',
 'Alex Lely': '0-2-0',
 'Albin Ouschan': '2-0-0',
 'Tony Drago': '2-0-0',
 'Nick Ekonomopoulos': '1-0-0',
 'Chris Melling': '2-0-0',
 "Ronnie O'Sullivan": '0-2-0',
 'Daryl Peach': '2-0-0',
 'Tom Storm': '1-1-0',
 'Jimmy White': '1-1-0',
 'David Alcaide': '1-0-1',
 'Jayson Shaw': '2-0-0',
 'Tommy Donlon': '0-1-0',
 'Vincent Facquet': '0-1-0',
 'Allison Fisher': '0-1-0',
 'Alex Higgins': '1-0-0',
 'Raj Hundal': '0-1-0',
 'Lee Kendall': '1-0-0',
 'Imran Majid': '0-0-1',
 'Fabio Petroni': '0-1-0',
 'Andy Richardson': '0-1-0',
 'Franziska Stark': '0-1-0',
 'Konstantin Stepanov': '1-0-0',
 'Lee Tucker': '0-1-0',
 'Joshua Filler': '1-0-0'}

In [75]:
players.head(2)

,Name,Location,Team,Appearances,Years
0,Johnny Archer,Georgia,America,17,"{2011, 1999, 2005, 2000, 2001, 2006, 2007, 200..."
1,Earl Strickland,North Carolina,America,14,"{1999, 2005, 2000, 2001, 2006, 2007, 2013, 199..."

In [76]:
players['Win-loss-tie'] = players['Name'].apply(lambda x: dic[x])

In [77]:
# drop players with no matches
# players[players['Appearances']==0]
# players.drop([40,77],inplace=True)

In [78]:
players.head(2)

,Name,Location,Team,Appearances,Years,Win-loss-tie
0,Johnny Archer,Georgia,America,17,"{2011, 1999, 2005, 2000, 2001, 2006, 2007, 200...",9-7-1
1,Earl Strickland,North Carolina,America,14,"{1999, 2005, 2000, 2001, 2006, 2007, 2013, 199...",9-4-1

In [79]:
players['Wins'] = players['Win-loss-tie'].str.split('-').str.get(0)

In [80]:
players['Losses'] =  players['Win-loss-tie'].str.split('-').str.get(1)

In [81]:
players['Wins'] = players['Wins'].astype(int)

In [82]:
players['Losses'] = players['Losses'].astype(int)

In [83]:
players['Pct'] = round(100* players['Wins'] / players['Appearances'],2)

In [84]:
player = players.drop('Years',axis=1)

In [87]:
player.to_sql('players',con,if_exists='replace',index=False)