In [142]:
import pandas as pd

In [143]:
import sqlite3

In [144]:
con = sqlite3.connect('../players.db')

In [145]:
sql = 'select * from results'
df = pd.read_sql(sql,con,index_col=['Year'])

In [146]:
sql = 'select * from yearly'
yearly = pd.read_sql(sql,con,index_col='Year')
yearly.drop('index',axis=1,inplace=True)

In [147]:
sql = 'select * from players'
players = pd.read_sql(sql,con)

In [148]:
am = list(players[players['Team']=='America']['Name'])

In [149]:
eu = list(players[players['Team']=='Europe']['Name'])

In [150]:
yearly

,Venue,Victors,Score,Losers,MVP
Year,,,,,
1994,"Romford, London, England",USA,16–12,Europe,None
1995,"Basildon, Essex, England",Europe,16–15,USA,None
1996,"Dagenham, London, England",USA,15–13,Europe,None
1997,"Bethnal Green, London, England",USA,13–8,Europe,None
1998,"Bethnal Green, London, England",USA,13–9,Europe,None
1999,"Bethnal Green, London, England",USA,12–7,Europe,None
2000,"Bethnal Green, London, England",USA,12–9,Europe,None
2001,"Bethnal Green, London, England",USA,12–1,Europe,None
2002,"Bethnal Green, London, England",Europe,12–9,USA,None
2003,"Las Vegas, Nevada, USA",USA,11–9,Europe,Mika Immonen
2004,"Egmond aan Zee, Netherlands",USA,12–9,Europe,Rodney Morris
2005,"Las Vegas, Nevada, USA",USA,11–6,Europe,Earl Strickland
2006,"Rotterdam, Netherlands",Tied,12–12,Tied,Corey Deuel
2007,"Las Vegas, Nevada, USA",Europe,11–8,USA,Tony Drago
2008,"St. Julian's, Malta",Europe,11–5,USA,Mika Immonen
2009,"Las Vegas, Nevada, USA",USA,11–7,Europe,Dennis Hatch
2010,"Bethnal Green, London, England",Europe,11–8,USA,Darren Appleton
2011,"Las Vegas, Nevada, USA",Europe,11–7,USA,Niels Feijen
2012,"Bethnal Green, London, England",Europe,11–9,USA,Chris Melling
2013,"Las Vegas, Nevada, USA",Europe,11–2,USA,Niels Feijen
2014,"Tower Circus, Blackpool, England",Europe,11–5,USA,Niels Feijen
2015,"Las Vegas, Nevada, USA",Europe,11–7,USA,Niels Feijen
2016,"Alexandra Palace, London, England",Europe,11–3,USA,Albin Ouschan

In [151]:
am_years = list(yearly[yearly['Victors'].str.contains('USA')].index)
eu_years = list(yearly[yearly['Victors'].str.contains('Europe')].index)

In [152]:
am_years

[1994, 1996, 1997, 1998, 1999, 2000, 2001, 2003, 2004, 2005, 2009]

In [153]:
eu_years

[1995, 2002, 2007, 2008, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

For each player, loop through results to find out which years that they played.

Should also find the american and european rosters for each year and add that to the yearly table

In [154]:
d={}

In [155]:
for player in am:
    s = set(df[df['American_player'].str.contains(player)].index)
    d[player]= s

In [156]:
for player in eu:
    s = set(df[df['European_player'].str.contains(player)].index)
    d[player]= s

In [158]:
players['Years']=players['Name'].apply(lambda x: d[x])

In [159]:
players['Appearances'] = players['Years'].apply(lambda x: len(x))

In [160]:
players

,Name,Location,Team,Years,Appearances
0,Johnny Archer,Georgia,America,"{1997, 1998, 1999, 2000, 2001, 2002, 2003, 200...",17
1,Earl Strickland,North Carolina,America,"{1996, 1997, 1998, 1999, 2000, 2001, 2002, 200...",14
2,Rodney Morris,California,America,"{2016, 2003, 2004, 2005, 2006, 2007, 2008, 201...",10
3,Shane Van Boening,South Dakota,America,"{2016, 2007, 2008, 2009, 2010, 2011, 2012, 201...",10
4,Corey Deuel,California,America,"{2000, 2001, 2002, 2006, 2007, 2009, 2010, 201...",9
5,Jeremy Jones,Texas,America,"{1999, 2000, 2001, 2002, 2003, 2005, 2008}",7
6,Charlie Williams,South Korea,America,"{2001, 2002, 2003, 2004, 2005}",5
7,Nick Varner,Kentucky,America,"{2001, 2002, 1997, 1998}",4
8,Mike Dechaine,Maine,America,"{2016, 2011, 2012, 2015}",4
9,Dennis Hatch,Michigan,America,"{2009, 2010, 2012, 2013}",4
10,Kim Davenport,Oklahoma,America,"{1997, 1998, 1999}",3
11,Justin Bergman,Illinois,America,"{2016, 2014, 2015}",3
12,James Rempe,Pennsylvania,America,"{1997, 1998, 1999}",3
13,Mark Wilson,Missouri,America,"{1994, 1995}",2
14,Lou Butera,Pennsylvania,America,"{1994, 1995}",2
15,Michael Coltrain,North Carolina,America,"{2000, 1999}",2
16,Shannon Daulton,Kentucky,America,"{2000, 1996}",2
17,Mike Gulyassy,Ohio,America,"{1994, 1995}",2
18,Robert Hunter,Michigan,America,{1995},1
19,Mike Massey,Tennessee,America,"{1995, 1996}",2
20,Reed Pierce,Mississippi,America,"{1997, 1998}",2
21,Shawn Putnam,Pennsylvania,America,{2011},1
22,Tony Robles,New York,America,"{2003, 2004}",2
23,John Schmidt,California,America,"{2014, 2006}",2
24,Dallas West,Illinois,America,"{1994, 1995}",2
25,Skyler Woodward,Kentucky,America,"{2016, 2015}",2
26,C.J. Wiley,Texas,America,{1996},1
27,Mike Davis,North Carolina,America,{2006},1
28,John DiToro,Florida,America,{1995},1
29,Oscar Dominguez,California,America,{2009},1
...,...,...,...,...,...
48,Marcus Chamat,Sweden,Europe,"{2000, 2001, 2002, 2003, 2004, 2005}",6
49,Karl Boyes,England,Europe,"{2010, 2013, 2014, 2015}",4
50,Steve Knight,England,Europe,"{2000, 2001, 1998, 1999}",4
51,Thomas Engert,Germany,Europe,"{2000, 2004, 2006}",3
52,Mark Gray,England,Europe,"{2008, 2016, 2014}",3
53,Thorsten Hohmann,Germany,Europe,"{2009, 2003, 2005}",3
54,Alex Lely,Netherlands,Europe,"{2005, 1999}",2
55,Albin Ouschan,Austria,Europe,"{2016, 2015}",2
56,Tony Drago,Malta,Europe,"{2008, 2007}",2
57,Nick Ekonomopoulos,Greece,Europe,{2012},1
58,Chris Melling,England,Europe,"{2011, 2012}",2
59,Ronnie O'Sullivan,England,Europe,"{1996, 1997}",2
60,Daryl Peach,England,Europe,"{1995, 2007}",2
61,Tom Storm,Sweden,Europe,"{1994, 1995}",2
62,Jimmy White,England,Europe,"{1994, 1995}",2
63,David Alcaide,Spain,Europe,{2006},1
64,Tommy Donlon,Ireland,Europe,{1997},1
65,Vincent Facquet,France,Europe,{1996},1
66,Allison Fisher,England,Europe,{1994},1
67,Alex Higgins,Northern Ireland,Europe,{1995},1
68,Raj Hundal,England,Europe,{2005},1
69,Lee Kendall,England,Europe,{1995},1
70,Imran Majid,England,Europe,{2006},1
71,Fabio Petroni,Italy,Europe,{1998},1
72,Andy Richardson,England,Europe,{1996},1
73,Jayson Shaw,Scotland,Europe,{2016},1
74,Franziska Stark,Germany,Europe,{1994},1
75,Konstantin Stepanov,Russia,Europe,{2007},1
76,Lee Tucker,England,Europe,{1994},1
77,Johan Ruijsink,Netherlands,Europe,{},0

In [177]:
dic={}
for item in d.items():
    player = item[0]
    player
    if player in am:
        wc,lc,tc = 0,0,0
        for year in item[1]:
            if year in am_years:
                wc += 1
                print(year,': win')
            elif year in eu_years:
                lc += 1
                print(year,': loss')
            else:
                tc += 1
                print(year,": tie")
        out = '{}-{}-{}'.format(wc,lc,tc)
        dic[player]= out
        out
    else:
        wc,lc,tc = 0,0,0
        for year in item[1]:
            if year in eu_years:
                wc += 1
                print(year,': win')
            elif year in am_years:
                lc += 1
                print(year,': loss')
            else:
                tc += 1
                print(year,": tie")
        out = '{}-{}-{}'.format(wc,lc,tc)
        dic[player]= out
        out

'Corey Deuel'

2000 : win
2001 : win
2002 : loss
2006 : tie
2007 : loss
2009 : win
2010 : loss
2014 : loss
2015 : loss

'3-5-1'

'Nick Varner'

2001 : win
2002 : loss
1997 : win
1998 : win

'3-1-0'

'Tony Robles'

2003 : win
2004 : win

'2-0-0'

'Steve Davis'

1994 : loss
1995 : win
1996 : loss
1997 : loss
1998 : loss
1999 : loss
2000 : loss
2001 : loss
2002 : win
2003 : loss
2004 : loss

'2-9-0'

'Vincent Facquet'

1996 : loss

'0-1-0'

'Oscar Dominguez'

2009 : win

'1-0-0'

'Ralf Souquet'

1994 : loss
1996 : loss
1997 : loss
1998 : loss
1999 : loss
2000 : loss
2001 : loss
2002 : win
2003 : loss
2006 : tie
2007 : win
2008 : win
2009 : loss
2010 : win
2011 : win
2013 : win

'6-9-1'

'Marcus Chamat'

2000 : loss
2001 : loss
2002 : win
2003 : loss
2004 : loss
2005 : loss

'1-5-0'

'Reed Pierce'

1997 : win
1998 : win

'2-0-0'

'Mark Wilson'

1994 : win
1995 : loss

'1-1-0'

'Chris Melling'

2011 : win
2012 : win

'2-0-0'

"Ronnie O'Sullivan"

1996 : loss
1997 : loss

'0-2-0'

'Rodney Morris'

2016 : loss
2003 : win
2004 : win
2005 : win
2006 : tie
2007 : loss
2008 : loss
2010 : loss
2011 : loss
2013 : loss

'3-6-1'

'Jeremy Jones'

1999 : win
2000 : win
2001 : win
2002 : loss
2003 : win
2005 : win
2008 : loss

'5-2-0'

'James Rempe'

1997 : win
1998 : win
1999 : win

'3-0-0'

'Thorsten Hohmann'

2009 : loss
2003 : loss
2005 : loss

'0-3-0'

'Paul Gerni'

1994 : win

'1-0-0'

'Tom Storm'

1994 : loss
1995 : win

'1-1-0'

'Bobby Hunter'

1994 : win
1995 : loss

'1-1-0'

'Allison Fisher'

1994 : loss

'0-1-0'

'Skyler Woodward'

2016 : loss
2015 : loss

'0-2-0'

'Mark Gray'

2008 : win
2016 : win
2014 : win

'3-0-0'

'Fabio Petroni'

1998 : loss

'0-1-0'

'Lee Kendall'

1995 : win

'1-0-0'

'John DiToro'

1995 : loss

'0-1-0'

'Albin Ouschan'

2016 : win
2015 : win

'2-0-0'

'Buddy Hall'

'0-0-0'

'Gabe Owen'

2004 : win

'1-0-0'

'Tony Drago'

2008 : win
2007 : win

'2-0-0'

'Darren Appleton'

2016 : win
2009 : loss
2010 : win
2011 : win
2012 : win
2013 : win
2014 : win
2015 : win

'7-1-0'

'Konstantin Stepanov'

2007 : win

'1-0-0'

'Nick Ekonomopoulos'

2012 : win

'1-0-0'

'Mike Massey'

1995 : loss
1996 : win

'1-1-0'

'Mika Immonen'

1996 : loss
1997 : loss
1998 : loss
1999 : loss
2000 : loss
2001 : loss
2002 : win
2003 : loss
2004 : loss
2005 : loss
2006 : tie
2008 : win
2009 : loss
2010 : win
2013 : win

'4-10-1'

'Vivian Villarreal'

1994 : win

'1-0-0'

'Brandon Shuff'

2012 : loss

'0-1-0'

'Roger Griffis'

1996 : win

'1-0-0'

'Imran Majid'

2006 : tie

'0-0-1'

'Michael Coltrain'

2000 : win
1999 : win

'2-0-0'

'Niels Feijen'

2016 : win
2001 : loss
2004 : loss
2005 : loss
2007 : win
2008 : win
2009 : loss
2011 : win
2012 : win
2013 : win
2014 : win
2015 : win

'8-4-0'

'David Alcaide'

2006 : tie

'0-0-1'

'C.J. Wiley'

1996 : win

'1-0-0'

'Shannon Daulton'

2000 : win
1996 : win

'2-0-0'

'Johan Ruijsink'

'0-0-0'

'Allen Hopkins'

1996 : win

'1-0-0'

'Raj Hundal'

2005 : loss

'0-1-0'

'Mike Dechaine'

2016 : loss
2011 : loss
2012 : loss
2015 : loss

'0-4-0'

'Jimmy White'

1994 : loss
1995 : win

'1-1-0'

'Nick van den Berg'

2002 : win
2003 : loss
2006 : tie
2010 : win
2011 : win
2012 : win
2015 : win

'5-1-1'

'Alex Higgins'

1995 : win

'1-0-0'

'Oliver Ortmann'

1994 : loss
1995 : win
1996 : loss
1997 : loss
1998 : loss
1999 : loss
2002 : win
2004 : loss

'2-6-0'

'Danny Harriman'

1996 : win

'1-0-0'

'Kim Davenport'

1997 : win
1998 : win
1999 : win

'3-0-0'

'Steve Knight'

2000 : loss
2001 : loss
1998 : loss
1999 : loss

'0-4-0'

'Andy Richardson'

1996 : loss

'0-1-0'

'Johnny Archer'

1997 : win
1998 : win
1999 : win
2000 : win
2001 : win
2002 : loss
2003 : win
2004 : win
2005 : win
2006 : tie
2007 : loss
2008 : loss
2009 : win
2010 : loss
2011 : loss
2012 : loss
2013 : loss

'9-7-1'

'Franziska Stark'

1994 : loss

'0-1-0'

'Jeanette Lee'

1994 : win

'1-0-0'

'John Schmidt'

2014 : loss
2006 : tie

'0-1-1'

'Earl Strickland'

1996 : win
1997 : win
1998 : win
1999 : win
2000 : win
2001 : win
2002 : loss
2003 : win
2004 : win
2005 : win
2006 : tie
2007 : loss
2008 : loss
2013 : loss

'9-4-1'

'Dallas West'

1994 : win
1995 : loss

'1-1-0'

'Justin Hall'

2014 : loss

'0-1-0'

'Lee Tucker'

1994 : loss

'0-1-0'

'Lou Butera'

1994 : win
1995 : loss

'1-1-0'

'Jayson Shaw'

2016 : win

'1-0-0'

'Daryl Peach'

1995 : win
2007 : win

'2-0-0'

'Charlie Williams'

2001 : win
2002 : loss
2003 : win
2004 : win
2005 : win

'4-1-0'

'Thomas Engert'

2000 : loss
2004 : loss
2006 : tie

'0-2-1'

'Shawn Putnam'

2011 : loss

'0-1-0'

'Mike Davis'

2006 : tie

'0-0-1'

'Robert Hunter'

1995 : loss

'0-1-0'

'Mike Gulyassy'

1994 : win
1995 : loss

'1-1-0'

'Justin Bergman'

2016 : loss
2014 : loss
2015 : loss

'0-3-0'

'Dennis Hatch'

2009 : win
2010 : loss
2012 : loss
2013 : loss

'1-3-0'

'Alex Lely'

2005 : loss
1999 : loss

'0-2-0'

'Karl Boyes'

2010 : win
2013 : win
2014 : win
2015 : win

'4-0-0'

'Shane Van Boening'

2016 : loss
2007 : loss
2008 : loss
2009 : win
2010 : loss
2011 : loss
2012 : loss
2013 : loss
2014 : loss
2015 : loss

'1-9-0'

'Tommy Donlon'

1997 : loss

'0-1-0'

In [178]:
dic

{'Albin Ouschan': '2-0-0',
 'Alex Higgins': '1-0-0',
 'Alex Lely': '0-2-0',
 'Allen Hopkins': '1-0-0',
 'Allison Fisher': '0-1-0',
 'Andy Richardson': '0-1-0',
 'Bobby Hunter': '1-1-0',
 'Brandon Shuff': '0-1-0',
 'Buddy Hall': '0-0-0',
 'C.J. Wiley': '1-0-0',
 'Charlie Williams': '4-1-0',
 'Chris Melling': '2-0-0',
 'Corey Deuel': '3-5-1',
 'Dallas West': '1-1-0',
 'Danny Harriman': '1-0-0',
 'Darren Appleton': '7-1-0',
 'Daryl Peach': '2-0-0',
 'David Alcaide': '0-0-1',
 'Dennis Hatch': '1-3-0',
 'Earl Strickland': '9-4-1',
 'Fabio Petroni': '0-1-0',
 'Franziska Stark': '0-1-0',
 'Gabe Owen': '1-0-0',
 'Imran Majid': '0-0-1',
 'James Rempe': '3-0-0',
 'Jayson Shaw': '1-0-0',
 'Jeanette Lee': '1-0-0',
 'Jeremy Jones': '5-2-0',
 'Jimmy White': '1-1-0',
 'Johan Ruijsink': '0-0-0',
 'John DiToro': '0-1-0',
 'John Schmidt': '0-1-1',
 'Johnny Archer': '9-7-1',
 'Justin Bergman': '0-3-0',
 'Justin Hall': '0-1-0',
 'Karl Boyes': '4-0-0',
 'Kim Davenport': '3-0-0',
 'Konstantin Stepanov': '1-0-0',
 'Lee Kendall': '1-0-0',
 'Lee Tucker': '0-1-0',
 'Lou Butera': '1-1-0',
 'Marcus Chamat': '1-5-0',
 'Mark Gray': '3-0-0',
 'Mark Wilson': '1-1-0',
 'Michael Coltrain': '2-0-0',
 'Mika Immonen': '4-10-1',
 'Mike Davis': '0-0-1',
 'Mike Dechaine': '0-4-0',
 'Mike Gulyassy': '1-1-0',
 'Mike Massey': '1-1-0',
 'Nick Ekonomopoulos': '1-0-0',
 'Nick Varner': '3-1-0',
 'Nick van den Berg': '5-1-1',
 'Niels Feijen': '8-4-0',
 'Oliver Ortmann': '2-6-0',
 'Oscar Dominguez': '1-0-0',
 'Paul Gerni': '1-0-0',
 'Raj Hundal': '0-1-0',
 'Ralf Souquet': '6-9-1',
 'Reed Pierce': '2-0-0',
 'Robert Hunter': '0-1-0',
 'Rodney Morris': '3-6-1',
 'Roger Griffis': '1-0-0',
 "Ronnie O'Sullivan": '0-2-0',
 'Shane Van Boening': '1-9-0',
 'Shannon Daulton': '2-0-0',
 'Shawn Putnam': '0-1-0',
 'Skyler Woodward': '0-2-0',
 'Steve Davis': '2-9-0',
 'Steve Knight': '0-4-0',
 'Thomas Engert': '0-2-1',
 'Thorsten Hohmann': '0-3-0',
 'Tom Storm': '1-1-0',
 'Tommy Donlon': '0-1-0',
 'Tony Drago': '2-0-0',
 'Tony Robles': '2-0-0',
 'Vincent Facquet': '0-1-0',
 'Vivian Villarreal': '1-0-0'}

In [180]:
players.head(2)

,Name,Location,Team,Years,Appearances
0,Johnny Archer,Georgia,America,"{1997, 1998, 1999, 2000, 2001, 2002, 2003, 200...",17
1,Earl Strickland,North Carolina,America,"{1996, 1997, 1998, 1999, 2000, 2001, 2002, 200...",14

In [182]:
players['Win-loss-tie'] = players['Name'].apply(lambda x: dic[x])

In [186]:
# drop players with no matches
# players[players['Appearances']==0]
# players.drop([40,77],inplace=True)

              Name     Location     Team Years  Appearances Win-loss-tie
40      Buddy Hall     Illinois  America    {}            0        0-0-0
77  Johan Ruijsink  Netherlands   Europe    {}            0        0-0-0

In [194]:
players.head(2)

,Name,Location,Team,Years,Appearances,Win-loss-tie
0,Johnny Archer,Georgia,America,"{1997, 1998, 1999, 2000, 2001, 2002, 2003, 200...",17,9-7-1
1,Earl Strickland,North Carolina,America,"{1996, 1997, 1998, 1999, 2000, 2001, 2002, 200...",14,9-4-1

In [198]:
players['Wins'] = players['Win-loss-tie'].str.split('-').str.get(0)

In [200]:
players['Losses'] =  players['Win-loss-tie'].str.split('-').str.get(1)

In [ ]:
players['Wins'] = players['Wins'].astype(int)

In [206]:
players['Losses'] = players['Losses'].astype(int)

In [211]:
players['Pct'] = round(100* players['Wins'] / players['Appearances'],2)

In [214]:
player = players.drop('Years',axis=1)

In [216]:
player.to_sql('players',con,if_exists='replace',index=False)