### **Purpose: **

In [19]:
player = 'Earl Strickland'
team = 'a'

In [25]:
from perf_mod import *

In [26]:
df = setup_df(player,team)

C:\Users\andrew\Desktop\mosconi\In_depth_Player_Performance_Analysis\perf_mod.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['Europe_lost'] = ~ df['Europe_won']

### Lets have a quick look at his overall stats by checking out his singles, doubles, and team stats.

In [27]:
df

                                            Format  \
Year Location                       Match
1996 Dagenham, London, England      5      Singles
                                    12     Singles
                                    20     Singles
                                    25     Singles
                                    27     Doubles
1997 Bethnal Green, London, England 2      Doubles
                                    4      Doubles
                                    8      Singles
                                    9      Doubles
                                    17     Singles
1998 Bethnal Green, London, England 1      Doubles
                                    3      Doubles
                                    7      Singles
                                    10     Doubles
                                    15     Singles
1999 Bethnal Green, London, England 1      Doubles
                                    4      Doubles
                                    7      Singles
                                    11     Doubles
2000 Bethnal Green, London, England 2      Doubles
                                    4      Doubles
                                    11     Doubles
                                    14     Singles
                                    20     Singles
2001 Bethnal Green, London, England 2      Doubles
                                    3      Doubles
                                    10     Singles
2002 Bethnal Green, London, England 2      Doubles
                                    5      Doubles
                                    6      Singles
...                                            ...
2004 Egmond aan Zee, Netherlands    14     Singles
                                    19     Singles
2005 Las Vegas, Nevada, USA         4      Doubles
                                    9      Doubles
                                    12     Doubles
                                    13     Singles
2006 Rotterdam, Netherlands         0        Teams
                                    2      Trebles
                                    5      Doubles
                                    10     Doubles
                                    13     Singles
                                    15       Teams
                                    16     Triples
                                    21     Singles
2007 Las Vegas, Nevada, USA         0        Teams
                                    3      Doubles
                                    5      Doubles
                                    9      Doubles
                                    14     Singles
                                    17     Singles
2008 St. Julian's, Malta            0        Teams
                                    3      Doubles
                                    5      Singles
                                    7      Singles
                                    8      Doubles
2013 Las Vegas, Nevada, USA         0        Teams
                                    1      Doubles
                                    7      Doubles
                                    10     Doubles
                                    11     Singles

                                                                             European_player  \
Year Location                       Match
1996 Dagenham, London, England      5                                        Oliver Ortmann
                                    12                                         Mika Immonen
                                    20                                    Ronnie O'Sullivan
                                    25                                         Ralf Souquet
                                    27                        Steve Davis Ronnie O'Sullivan
1997 Bethnal Green, London, England 2                            Oliver Ortmann Steve Davis
                                    4                         Steve Davis Ronnie O'Sullivan
                                    8                                          Ralf Souquet
                                    9                           Tommy Donlon Oliver Ortmann
                                    17                                         Ralf Souquet
1998 Bethnal Green, London, England 1                            Oliver Ortmann Steve Knight
                                    3                              Mika Immonen Ralf Souquet
                                    7                                           Steve Knight
                                    10                           Steve Knight Oliver Ortmann
                                    15                                          Mika Immonen
1999 Bethnal Green, London, England 1                               Oliver Ortmann Alex Lely
                                    4                              Steve Knight Mika Immonen
                                    7                                           Ralf Souquet
                                    11                                 Steve Davis Alex Lely
2000 Bethnal Green, London, England 2                               Steve Davis Steve Knight
                                    4                               Steve Davis Mika Immonen
                                    11                              Steve Davis Mika Immonen
                                    14                                          Ralf Souquet
                                    20                                         Thomas Engert
2001 Bethnal Green, London, England 2                               Steve Davis Ralf Souquet
                                    3                               Steve Davis Ralf Souquet
                                    10                                          Niels Feijen
2002 Bethnal Green, London, England 2                          Steve Davis Nick van den Berg
                                    5                          Steve Davis Nick van den Berg
                                    6                                          Marcus Chamat
...                                                                                      ...
2004 Egmond aan Zee, Netherlands    14                                         Marcus Chamat
                                    19                                        Oliver Ortmann
2005 Las Vegas, Nevada, USA         4                             Mika Immonen Marcus Chamat
                                    9                                   Alex Lely Raj Hundal
                                    12                            Marcus Chamat Mika Immonen
                                    13                                         Marcus Chamat
2006 Rotterdam, Netherlands         0      Nick van den Berg, David Alcaide, Thomas Enger...
                                    2            Imran Majid Thomas Engert Nick van den Berg
                                    5                          Nick van den Berg Imran Majid
                                    10                            Mika Immonen David Alcaide
                                    13                                         Thomas Engert
                                    15     Nick van den Berg, David Alcaide, Thomas Enger...
                                    16           Imran Majid Thomas Engert Nick van den Berg
                                    21                                     Nick van den Berg
2007 Las Vegas, Nevada, USA         0      Daryl Peach, Tony Drago, Konstantin Stepanov, ...
                                    3                         Tony Drago Konstantin Stepanov
                                    5                               Daryl Peach Ralf Souquet
                                    9                               Daryl Peach Ralf Souquet
                                    14                                          Ralf Souquet
                                    17                                           Daryl Peach
2008 St. Julian's, Malta            0      Niels Feijen, Tony Drago, Mika Immonen, Ralf S...
                                    3                                   Tony Drago Mark Gray
                                    5                                             Tony Drago
                                    7                                           Mika Immonen
                                    8                              Niels Feijen Ralf Souquet
2013 Las Vegas, Nevada, USA         0      Karl Boyes, Niels Feijen, Ralf Souquet, Mika I...
                                    1                             Darren Appleton Karl Boyes
                                    7                           Darren Appleton Mika Immonen
                                    10                          Darren Appleton Ralf Souquet
                                    11                                            Karl Boyes

                                          European_score American_score  \
Year Location                       Match
1996 Dagenham, London, England      5                  2              1
                                    12                 0              2
                                    20                 2              1
                                    25                 1              0
                                    27                 0              1
1997 Bethnal Green, London, England 2                  1              2
                                    4                  1              2
                                    8                  1              2
                                    9                  1              2
                                    17                 0              2
1998 Bethnal Green, London, England 1                  7              6
                                    3                  7              3
                                    7                  3              7
                                    10                 6              7
                                    15                 4              7
1999 Bethnal Green, London, England 1                  2              5
                                    4                  5              2
                                    7                  5              2
                                    11                 3              5
2000 Bethnal Green, London, England 2                  2              5
                                    4                  5              2
                                    11                 1              5
                                    14                 1              5
                                    20                 2              5
2001 Bethnal Green, London, England 2                  2              5
                                    3                  2              5
                                    10                 2              5
2002 Bethnal Green, London, England 2                  5              4
                                    5                  5              0
                                    6                  2              5
...                                                  ...            ...
2004 Egmond aan Zee, Netherlands    14                 5              2
                                    19                 5              1
2005 Las Vegas, Nevada, USA         4                  4              5
                                    9                  2              5
                                    12                 2              5
                                    13                 2              5
2006 Rotterdam, Netherlands         0                  5              6
                                    2                  2              6
                                    5                  6              5
                                    10                 6              4
                                    13                 4              7
                                    15                 3              6
                                    16                 5              6
                                    21                 5              4
2007 Las Vegas, Nevada, USA         0                  4              6
                                    3                  5              6
                                    5                  6              0
                                    9                  5              6
                                    14                 6              4
                                    17                 3              6
2008 St. Julian's, Malta            0                  5              3
                                    3                  3              5
                                    5                  4              5
                                    7                  5              0
                                    8                  5              1
2013 Las Vegas, Nevada, USA         0                  6              3
                                    1                  6              3
                                    7                  5              6
                                    10                 6              3
                                    11                 6              4

                                                                             American_player  \
Year Location                       Match
1996 Dagenham, London, England      5                                       Earl Strickland
                                    12                                      Earl Strickland
                                    20                                      Earl Strickland
                                    25                                      Earl Strickland
                                    27                           Earl Strickland C.J. Wiley
1997 Bethnal Green, London, England 2                           Earl Strickland James Rempe
                                    4                           Earl Strickland James Rempe
                                    8                                       Earl Strickland
                                    9                           Earl Strickland James Rempe
                                    17                                      Earl Strickland
1998 Bethnal Green, London, England 1                            James Rempe Earl Strickland
                                    3                            James Rempe Earl Strickland
                                    7                                        Earl Strickland
                                    10                         Earl Strickland Kim Davenport
                                    15                                       Earl Strickland
1999 Bethnal Green, London, England 1                            Earl Strickland James Rempe
                                    4                            Earl Strickland James Rempe
                                    7                                        Earl Strickland
                                    11                         Earl Strickland Johnny Archer
2000 Bethnal Green, London, England 2                            Earl Strickland Corey Deuel
                                    4                            Earl Strickland Corey Deuel
                                    11                          Earl Strickland Jeremy Jones
                                    14                                       Earl Strickland
                                    20                                       Earl Strickland
2001 Bethnal Green, London, England 2                           Earl Strickland Jeremy Jones
                                    3                           Earl Strickland Jeremy Jones
                                    10                                       Earl Strickland
2002 Bethnal Green, London, England 2                           Earl Strickland Jeremy Jones
                                    5                           Earl Strickland Jeremy Jones
                                    6                                        Earl Strickland
...                                                                                      ...
2004 Egmond aan Zee, Netherlands    14                                       Earl Strickland
                                    19                                       Earl Strickland
2005 Las Vegas, Nevada, USA         4                          Earl Strickland Rodney Morris
                                    9                          Earl Strickland Rodney Morris
                                    12                         Rodney Morris Earl Strickland
                                    13                                       Earl Strickland
2006 Rotterdam, Netherlands         0      Rodney Morris, John Schmidt, Corey Deuel, Earl...
                                    2              Corey Deuel Earl Strickland Rodney Morris
                                    5                          Earl Strickland Rodney Morris
                                    10                         Rodney Morris Earl Strickland
                                    13                                       Earl Strickland
                                    15     Rodney Morris, John Schmidt, Corey Deuel, Earl...
                                    16              Corey Deuel Earl Strickland John Schmidt
                                    21                                       Earl Strickland
2007 Las Vegas, Nevada, USA         0      Corey Deuel, Earl Strickland, Shane Van Boenin...
                                    3                            Earl Strickland Corey Deuel
                                    5                      Earl Strickland Shane Van Boening
                                    9                          Rodney Morris Earl Strickland
                                    14                                       Earl Strickland
                                    17                                       Earl Strickland
2008 St. Julian's, Malta            0      Earl Strickland, Jeremy Jones, Rodney Morris, ...
                                    3                          Earl Strickland Johnny Archer
                                    5                                        Earl Strickland
                                    7                                        Earl Strickland
                                    8                          Earl Strickland Rodney Morris
2013 Las Vegas, Nevada, USA         0      Dennis Hatch, Earl Strickland, Shane Van Boeni...
                                    1                          Rodney Morris Earl Strickland
                                    7                      Earl Strickland Shane Van Boening
                                    10                          Earl Strickland Dennis Hatch
                                    11                                       Earl Strickland

                                          America_won America_lost
Year Location                       Match
1996 Dagenham, London, England      5           False         True
                                    12           True        False
                                    20          False         True
                                    25          False         True
                                    27           True        False
1997 Bethnal Green, London, England 2            True        False
                                    4            True        False
                                    8            True        False

In [28]:
sing,dub,teams,triples = overall_stats(df)

No matches to display
No matches to display
No matches to display
No matches to display
No matches to display

In [29]:
stats(df,'a')

TypeError: stats() takes 1 positional argument but 2 were given

In [30]:
sing

                                            Format     European_player  \
Year Location                       Match
1996 Dagenham, London, England      5      Singles     Oliver Ortmann
                                    12     Singles       Mika Immonen
                                    20     Singles  Ronnie O'Sullivan
                                    25     Singles       Ralf Souquet
1997 Bethnal Green, London, England 8      Singles       Ralf Souquet
                                    17     Singles       Ralf Souquet
1998 Bethnal Green, London, England 7      Singles        Steve Knight
                                    15     Singles        Mika Immonen
1999 Bethnal Green, London, England 7      Singles        Ralf Souquet
2000 Bethnal Green, London, England 14     Singles        Ralf Souquet
                                    20     Singles       Thomas Engert
2001 Bethnal Green, London, England 10     Singles        Niels Feijen
2002 Bethnal Green, London, England 6      Singles       Marcus Chamat
                                    20     Singles         Steve Davis
2003 Las Vegas, Nevada, USA         11     Singles         Steve Davis
                                    16     Singles   Nick van den Berg
2004 Egmond aan Zee, Netherlands    14     Singles       Marcus Chamat
                                    19     Singles      Oliver Ortmann
2005 Las Vegas, Nevada, USA         13     Singles       Marcus Chamat
2006 Rotterdam, Netherlands         13     Singles       Thomas Engert
                                    21     Singles   Nick van den Berg
2007 Las Vegas, Nevada, USA         14     Singles        Ralf Souquet
                                    17     Singles         Daryl Peach
2008 St. Julian's, Malta            5      Singles          Tony Drago
                                    7      Singles        Mika Immonen
2013 Las Vegas, Nevada, USA         11     Singles          Karl Boyes

                                          European_score American_score  \
Year Location                       Match
1996 Dagenham, London, England      5                  2              1
                                    12                 0              2
                                    20                 2              1
                                    25                 1              0
1997 Bethnal Green, London, England 8                  1              2
                                    17                 0              2
1998 Bethnal Green, London, England 7                  3              7
                                    15                 4              7
1999 Bethnal Green, London, England 7                  5              2
2000 Bethnal Green, London, England 14                 1              5
                                    20                 2              5
2001 Bethnal Green, London, England 10                 2              5
2002 Bethnal Green, London, England 6                  2              5
                                    20                 5              4
2003 Las Vegas, Nevada, USA         11                 5              0
                                    16                 4              5
2004 Egmond aan Zee, Netherlands    14                 5              2
                                    19                 5              1
2005 Las Vegas, Nevada, USA         13                 2              5
2006 Rotterdam, Netherlands         13                 4              7
                                    21                 5              4
2007 Las Vegas, Nevada, USA         14                 6              4
                                    17                 3              6
2008 St. Julian's, Malta            5                  4              5
                                    7                  5              0
2013 Las Vegas, Nevada, USA         11                 6              4

                                            American_player America_won  \
Year Location                       Match
1996 Dagenham, London, England      5      Earl Strickland        False
                                    12     Earl Strickland         True
                                    20     Earl Strickland        False
                                    25     Earl Strickland        False
1997 Bethnal Green, London, England 8      Earl Strickland         True
                                    17     Earl Strickland         True
1998 Bethnal Green, London, England 7       Earl Strickland        True
                                    15      Earl Strickland        True
1999 Bethnal Green, London, England 7       Earl Strickland       False
2000 Bethnal Green, London, England 14      Earl Strickland        True
                                    20      Earl Strickland        True
2001 Bethnal Green, London, England 10      Earl Strickland        True
2002 Bethnal Green, London, England 6       Earl Strickland        True
                                    20      Earl Strickland       False
2003 Las Vegas, Nevada, USA         11      Earl Strickland       False
                                    16      Earl Strickland        True
2004 Egmond aan Zee, Netherlands    14      Earl Strickland       False
                                    19      Earl Strickland       False
2005 Las Vegas, Nevada, USA         13      Earl Strickland        True
2006 Rotterdam, Netherlands         13      Earl Strickland        True
                                    21      Earl Strickland       False
2007 Las Vegas, Nevada, USA         14      Earl Strickland       False
                                    17      Earl Strickland        True
2008 St. Julian's, Malta            5       Earl Strickland        True
                                    7       Earl Strickland       False
2013 Las Vegas, Nevada, USA         11      Earl Strickland       False

                                          America_lost
Year Location                       Match
1996 Dagenham, London, England      5             True
                                    12           False
                                    20            True
                                    25            True
1997 Bethnal Green, London, England 8            False
                                    17           False
1998 Bethnal Green, London, England 7            False
                                    15           False
1999 Bethnal Green, London, England 7             True
2000 Bethnal Green, London, England 14           False
                                    20           False
2001 Bethnal Green, London, England 10           False
2002 Bethnal Green, London, England 6            False
                                    20            True
2003 Las Vegas, Nevada, USA         11            True
                                    16           False
2004 Egmond aan Zee, Netherlands    14            True
                                    19            True
2005 Las Vegas, Nevada, USA         13           False
2006 Rotterdam, Netherlands         13           False
                                    21            True
2007 Las Vegas, Nevada, USA         14            True
                                    17           False
2008 St. Julian's, Malta            5            False
                                    7             True
2013 Las Vegas, Nevada, USA         11            True

## So he plays very well in doubles matches (67% vs. 54%) 
### Let's see if he plays better with certain partners.

In [ ]:
partners()

### Nothing really jumps out. Looks like he plays rather well with Archer, Jones, Deuel, and Morris.

## Let's see if he performs better or worse against certain opponents in singles matches.

In [ ]:
opponents()

## Nothing too conclusive.
## Let's see what his record was for each year.

In [ ]:
yearly_plot()

### So it appears his level of play has tracked downwards as of late (worst years are most recent: 2008, 2013).
### Let's check how the team did each year he played.

In [ ]:
wincount()

### So America went 9-4-1 with him on the team.
### Let's dig a bit deeper to see how big of a factor location has been for his performance.

In [ ]:
location()

### So he plays about equally well at home or away

### Let's drill down a bit further to parse out his singles and doubles matches for both home and away

In [ ]:
location_split()

### Home doubles is very high, as is away doubles.

# Summary
- Overall win percentage of 62%
- Plays slightly better in doubles than singles (67% vs 54%)
- Plays equally well home or away
- Home doubles record is very strong! (73%)
- Played great up until 2007, then played poorly in his latest two appearances (2008:(2-3), 2013:(1-4))

In [ ]:
call_em('Johnny Archer','a')