In [344]:
import pandas as pd

In [345]:
pkl=r'C:\Users\andrew\Desktop\mosconi\new_inc_2015_fixed'
df= pd.read_pickle(pkl)

In [346]:
df['Europe_won']=df.European_score>df.American_score

In [347]:
df.describe()

,American_player,American_score,Europe_won,European_player,European_score,Format
count,335,335,335,335,335,335
unique,101,8,2,102,8,5
top,Johnny Archer,5,True,Mika Immonen,5,Singles
freq,28,122,169,27,126,183

In [348]:
df.Format.unique()

array(['Doubles', 'Singles', 'Teams', 'Trebles', 'Triples'], dtype=object)

In [349]:
trips = df.Format =='Triples' 
df[trips]

,American_player,American_score,Europe_won,European_player,European_score,Format
16,Corey Deuel Earl Strickland John Schmidt,6,False,Imran Majid Thomas Engert Nick van den Berg,5,Triples
17,Johnny Archer Rodney Morris Mike Davis,6,False,Ralf Souquet Mika Immonen David Alcaide,1,Triples

Note: Found it unusual that there are five types of format. Turns out there are four triples matches: two named 'Triples' and two named 'Trebles'

Find a way to loop thru all players and make the boolean queries to return their matches played

In [350]:
with open('euro_players_scrape.txt', 'r') as rf:
    euro_players=[]
    for line in rf:
        n=line.split('  ')
        euro_players.append(n[0])
with open('am_players_scrape.txt', 'r') as rf:
    am_players=[]
    for line in rf:
        n=line.split('  ')
        am_players.append(n[0])

In [351]:
#remove non-playing captains and fix oscar's name
am_players.remove('Ã“scar DomÃ\xadnguez')
am_players.append('Óscar Domínguez')
am_players.remove('Buddy Hall')
# am_players.remove('Don Wardell')
euro_players.remove('Johan Ruijsink')

In [352]:
singles = df['Format']=='Singles'
doubles = df['Format']=='Doubles'
teams = df['Format']=='Teams'

europe_won = df['Europe_won'] == True
america_won = df['Europe_won'] == False

In [353]:
#create dict to index df by player
d={}
for player in am_players:
    d[player] = df['American_player'].str.contains(player)
for player in euro_players:
    d[player] = df['European_player'].str.contains(player)

In [354]:
players = am_players + euro_players

In [355]:
c=0
f=0
nodata=[]
hasdata=[]
for player in am_players:
    _=df[d[player]]
    if _.empty:
        f+=1
        nodata.append(player)
    else:
        c+=1
        hasdata.append(player)
print(c,f)

25 16

In [356]:
nodata

['Mark Wilson',
 'Lou Butera',
 'Mike Gulyassy',
 'Robert Hunter',
 'Mike Massey',
 'Dallas West',
 'C.J. Wiley',
 'John DiToro',
 'Paul Gerni',
 'Roger Griffis',
 'Danny Harriman',
 'Allen Hopkins',
 'Bobby Hunter',
 'Jeanette Lee',
 'Vivian Villarreal',
 'Don Wardell ']

The above players have no matches from 1998 onwards (they played between 1994-1998)

In [357]:
def singleswinloss(player,country):
    if 'a' in country:
        win=df[america_won&singles&player].shape[0]
        loss=df[player&~america_won&singles].shape[0]
    else:
        loss=df[player&america_won&singles].shape[0]
        win=df[player&~america_won&singles].shape[0]        
    swl='{}-{}'.format(win,loss)
    return(wl)
def doubleswinloss(player,country):
    if 'a' in country:
        win=df[player&america_won&doubles].shape[0]
        loss=df[player&~america_won&doubles].shape[0]
    else:
        loss=df[player&america_won&doubles].shape[0]
        win=df[player&~america_won&doubles].shape[0] 
    dwl='{}-{}'.format(win,loss)
    return(wl)
def combinedwinloss(player,country):
    if 'a' in country:
        dwin=df[player&america_won&doubles].shape[0]
        dloss=df[player&~america_won&doubles].shape[0]
        swin=df[player&america_won&singles].shape[0]
        sloss=df[player&~america_won&singles].shape[0]
    else:
        dloss=df[player&america_won&doubles].shape[0]
        dwin=df[player&~america_won&doubles].shape[0]
        sloss=df[player&america_won&singles].shape[0]
        swin=df[player&~america_won&singles].shape[0]
    win=dwin+swin
    loss=dloss+sloss
    cwl='{}-{}'.format(win,loss)
    return(wl)

In [358]:
def winloss(player, country):
    
    #singles
    if 'a' in country:
        win=df[america_won&singles&player].shape[0]
        loss=df[player&~america_won&singles].shape[0]
    else:
        loss=df[player&america_won&singles].shape[0]
        win=df[player&~america_won&singles].shape[0]        
    swl='{}-{}'.format(win,loss)
    spct=win*100/(win+loss)

    #doubles
    if 'a' in country:
        win=df[player&america_won&doubles].shape[0]
        loss=df[player&~america_won&doubles].shape[0]
    else:
        loss=df[player&america_won&doubles].shape[0]
        win=df[player&~america_won&doubles].shape[0] 
    dwl='{}-{}'.format(win,loss)
    dpct=win*100/(win+loss)

    #combined
    if 'a' in country:
        dwin=df[player&america_won&doubles].shape[0]
        dloss=df[player&~america_won&doubles].shape[0]
        swin=df[player&america_won&singles].shape[0]
        sloss=df[player&~america_won&singles].shape[0]
    else:
        dloss=df[player&america_won&doubles].shape[0]
        dwin=df[player&~america_won&doubles].shape[0]
        sloss=df[player&america_won&singles].shape[0]
        swin=df[player&~america_won&singles].shape[0]
    win=dwin+swin
    loss=dloss+sloss
    cwl='{}-{}'.format(win,loss)
    cpct=win*100/(win+loss)
    print("singles: {}   pct:{}   doubles: {}  pct:{}    combined: {}  pct:{}".format(swl,spct,dwl,dpct,cwl,cpct))
    return(swl,dwl,cwl)

In [359]:
winlosslist('Niels Feijen','eu')

['Niels Feijen',
 'eu',
 11,
 8,
 '11-8',
 57.89,
 22,
 9,
 '22-9',
 70.97,
 33,
 17,
 '33-17',
 66.0]

In [360]:
def wl(win,loss):
    swl='{}-{}'.format(win,loss)
    return(swl)
def winpct(win,loss):
    pct=win*100/(win+loss)
    return(pct)
def wlpct(win,loss):
    wl = '{}-{}'.format(win,loss)
    pct = win*100/(win+loss)
    return(wl,pct)

In [361]:
def winlosslist(player, country):
    
    #singles
    if 'a' in country:
        swin=df[america_won&singles&d[player]].shape[0]
        sloss=df[d[player]&~america_won&singles].shape[0]
    else:
        sloss=df[d[player]&america_won&singles].shape[0]
        swin=df[d[player]&~america_won&singles].shape[0]        
    swl='{}-{}'.format(swin,sloss)
    spct=swin*100/(swin+sloss)

    #doubles
    if 'a' in country:
        dwin=df[d[player]&america_won&doubles].shape[0]
        dloss=df[d[player]&~america_won&doubles].shape[0]
    else:
        dloss=df[d[player]&america_won&doubles].shape[0]
        dwin=df[d[player]&~america_won&doubles].shape[0] 
    dwl='{}-{}'.format(dwin,dloss)
    dpct=dwin*100/(dwin+dloss)

    #combined
    cwin=dwin+swin
    closs=dloss+sloss
    cwl='{}-{}'.format(cwin,closs)
    cpct=cwin*100/(cwin+closs)
    l=[player,country,swin,sloss,swl,round(spct,2),dwin,dloss,dwl,round(dpct,2),cwin,closs,cwl,round(cpct,2)]
    return(l)

In [362]:
def wtf(player, country):
    
    #singles
    if 'a' in country:
        swin=df[america_won&singles&d[player]].shape[0]
        sloss=df[d[player]&~america_won&singles].shape[0]
    else:
        sloss=df[d[player]&america_won&singles].shape[0]
        swin=df[d[player]&~america_won&singles].shape[0]        
    swl='{}-{}'.format(swin,sloss)
    spct=swin*100/(swin+sloss)

    #doubles
    if 'a' in country:
        dwin=df[d[player]&america_won&doubles].shape[0]
        dloss=df[d[player]&~america_won&doubles].shape[0]
    else:
        dloss=df[d[player]&america_won&doubles].shape[0]
        dwin=df[d[player]&~america_won&doubles].shape[0] 
    dwl='{}-{}'.format(dwin,dloss)
    dpct=dwin*100/(dwin+dloss)

    #combined
    cwin=dwin+swin
    closs=dloss+sloss
    cwl='{}-{}'.format(cwin,closs)
    cpct=cwin*100/(cwin+closs)
    print("singles: {}   pct:{}   doubles: {}  pct:{}    combined: {}  pct:{}".format(swl,round(spct),dwl,round(dpct),cwl,round(cpct)))

In [363]:
wtf('Niels Feijen','eu')

singles: 11-8   pct:58   doubles: 22-9  pct:71    combined: 33-17  pct:66

In [364]:
def playerinfo(player,country):
    wl=winlosslist(player,country)
    frame=df[d[player]]
    print(winloss(player,country))
    return(frame)

In [365]:
stat_l = []
for player in am_players:
    try:
        unit = winlosslist(player,'America')
        stat_l.append(unit)
    except:
        pass
for player in euro_players:
    try:
        unit = winlosslist(player,'Europe')
        stat_l.append(unit)
    except:
        pass

In [366]:
stat_cols = ['player','team','s_wins','s_loss', 's_winloss', 's_pct','d_wins','d_loss', 'd_winloss', 'd_pct','c_wins','c_loss', 'c_winloss', 'c_pct']

In [367]:
#Most combined wins
stats_df = pd.DataFrame(data=stat_l, columns = stat_cols)
stats_df[['player','c_winloss','c_pct','c_wins']].sort_values('c_wins',ascending=False).reset_index(drop=True)

                 player c_winloss  c_pct  c_wins
0         Johnny Archer     42-33  56.00      42
1          Ralf Souquet     38-25  60.32      38
2          Niels Feijen     33-17  66.00      33
3          Mika Immonen     32-30  51.61      32
4       Earl Strickland     31-21  59.62      31
5     Shane Van Boening     21-25  45.65      21
6         Rodney Morris     20-23  46.51      20
7           Corey Deuel     20-18  52.63      20
8          Jeremy Jones     17-16  51.52      17
9       Darren Appleton     17-17  50.00      17
10           Karl Boyes      14-4  77.78      14
11          Steve Davis     13-19  40.62      13
12    Nick van den Berg     13-19  40.62      13
13     Charlie Williams      12-9  57.14      12
14        Marcus Chamat     11-15  42.31      11
15         Dennis Hatch      9-10  47.37       9
16         Steve Knight      8-10  44.44       8
17        Kim Davenport       8-2  80.00       8
18       Oliver Ortmann      7-12  36.84       7
19        Chris Melling       6-4  60.00       6
20     Thorsten Hohmann       6-8  42.86       6
21          Nick Varner       6-8  42.86       6
22     Michael Coltrain       4-6  40.00       4
23            Gabe Owen       4-1  80.00       4
24           Tony Drago       4-4  50.00       4
25        Albin Ouschan       4-1  80.00       4
26        Thomas Engert      4-10  28.57       4
27        Mike Dechaine      3-10  23.08       3
28       Justin Bergman       3-6  33.33       3
29          James Rempe       3-6  33.33       3
30   Nick Ekonomopoulos       3-2  60.00       3
31          Justin Hall       3-1  75.00       3
32          Reed Pierce       3-2  60.00       3
33          Tony Robles       3-6  33.33       3
34      Shannon Daulton       3-2  60.00       3
35          Imran Majid       2-2  50.00       2
36        David Alcaide       2-2  50.00       2
37            Alex Lely       2-6  25.00       2
38      Óscar Domínguez       2-3  40.00       2
39            Mark Gray       2-5  28.57       2
40           Mike Davis       2-2  50.00       2
41      Skyler Woodward       2-3  40.00       2
42         Shawn Putnam       2-2  50.00       2
43  Konstantin Stepanov       2-3  40.00       2
44        Brandon Shuff       1-5  16.67       1
45          Daryl Peach       1-4  20.00       1
46         John Schmidt       1-7  12.50       1
47           Raj Hundal       1-3  25.00       1
48        Fabio Petroni       1-4  20.00       1

In [368]:
#Best combined win percentage
stats_df = pd.DataFrame(data=stat_l, columns = stat_cols)
stats_df[['player','c_winloss','c_pct']].sort_values('c_pct',ascending=False).head(20).reset_index(drop=True)

                player c_winloss  c_pct
0        Albin Ouschan       4-1  80.00
1            Gabe Owen       4-1  80.00
2        Kim Davenport       8-2  80.00
3           Karl Boyes      14-4  77.78
4          Justin Hall       3-1  75.00
5         Niels Feijen     33-17  66.00
6         Ralf Souquet     38-25  60.32
7        Chris Melling       6-4  60.00
8   Nick Ekonomopoulos       3-2  60.00
9      Shannon Daulton       3-2  60.00
10         Reed Pierce       3-2  60.00
11     Earl Strickland     31-21  59.62
12    Charlie Williams      12-9  57.14
13       Johnny Archer     42-33  56.00
14         Corey Deuel     20-18  52.63
15        Mika Immonen     32-30  51.61
16        Jeremy Jones     17-16  51.52
17          Mike Davis       2-2  50.00
18     Darren Appleton     17-17  50.00
19        Shawn Putnam       2-2  50.00

In [369]:
#Most singles wins
stats_df = pd.DataFrame(data=stat_l, columns = stat_cols)
stats_df[['player','s_winloss','s_wins']].sort_values('s_wins',ascending=False).head(11).reset_index(drop=True)

               player s_winloss  s_wins
0       Johnny Archer     15-13      15
1        Ralf Souquet     15-10      15
2        Mika Immonen     14-13      14
3     Earl Strickland      11-9      11
4        Niels Feijen      11-8      11
5   Shane Van Boening     10-14      10
6       Rodney Morris       9-8       9
7     Darren Appleton       9-4       9
8        Jeremy Jones       7-7       7
9         Corey Deuel       7-6       7
10   Charlie Williams       6-2       6

In [370]:
#Best singles win percentage
stats_df = pd.DataFrame(data=stat_l, columns = stat_cols)
stats_df[['player','s_winloss','s_pct']].sort_values('s_pct',ascending=False).head(20).reset_index(drop=True)

              player s_winloss   s_pct
0        Justin Hall       1-0  100.00
1      Chris Melling       5-0  100.00
2        Reed Pierce       2-0  100.00
3         Raj Hundal       1-0  100.00
4      Kim Davenport       4-0  100.00
5          Gabe Owen       2-0  100.00
6      Albin Ouschan       2-0  100.00
7   Charlie Williams       6-2   75.00
8    Darren Appleton       9-4   69.23
9         Karl Boyes       4-2   66.67
10        Tony Drago       4-2   66.67
11      Ralf Souquet     15-10   60.00
12      Niels Feijen      11-8   57.89
13      Steve Knight       4-3   57.14
14      Dennis Hatch       4-3   57.14
15   Earl Strickland      11-9   55.00
16       Corey Deuel       7-6   53.85
17     Johnny Archer     15-13   53.57
18     Rodney Morris       9-8   52.94
19      Mika Immonen     14-13   51.85

In [371]:
#Most doubles wins
stats_df = pd.DataFrame(data=stat_l, columns = stat_cols)
stats_df[['player','d_winloss','d_wins']].sort_values('d_wins',ascending=False).reset_index(drop=True).head(10)

              player d_winloss  d_wins
0      Johnny Archer     27-20      27
1       Ralf Souquet     23-15      23
2       Niels Feijen      22-9      22
3    Earl Strickland     20-12      20
4       Mika Immonen     18-17      18
5        Corey Deuel     13-12      13
6      Rodney Morris     11-15      11
7  Shane Van Boening     11-11      11
8       Jeremy Jones      10-9      10
9         Karl Boyes      10-2      10

In [372]:
#Best doubles win percentage
stats_df = pd.DataFrame(data=stat_l, columns = stat_cols)
stats_df[['player','d_winloss','d_pct']].sort_values('d_pct',ascending=False).head(20).reset_index(drop=True)

                player d_winloss  d_pct
0           Karl Boyes      10-2  83.33
1         Niels Feijen      22-9  70.97
2      Óscar Domínguez       2-1  66.67
3      Shannon Daulton       2-1  66.67
4   Nick Ekonomopoulos       2-1  66.67
5        Albin Ouschan       2-1  66.67
6            Gabe Owen       2-1  66.67
7          Justin Hall       2-1  66.67
8        Kim Davenport       4-2  66.67
9      Skyler Woodward       2-1  66.67
10        Shawn Putnam       2-1  66.67
11     Earl Strickland     20-12  62.50
12        Ralf Souquet     23-15  60.53
13       Johnny Archer     27-20  57.45
14         Nick Varner       5-4  55.56
15        Jeremy Jones      10-9  52.63
16         Corey Deuel     13-12  52.00
17        Mika Immonen     18-17  51.43
18    Michael Coltrain       3-3  50.00
19         Imran Majid       1-1  50.00

In [373]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [374]:
playerinfo('Mike Dechaine','am')

TypeError: cannot compare a dtyped [bool] array with a scalar of type [bool]