Goal: Create db table with mvp data

In [34]:
import pandas as pd
import os

In [35]:
import sqlalchemy

In [36]:
parent=os.path.abspath('..')

In [37]:
path = os.path.join(parent,'players.db')
engine = sqlalchemy.create_engine('sqlite:///{}'.format(path))
conn = engine.connect()

In [38]:
df = pd.read_sql('yearly',conn,index_col='index')

In [39]:
df.set_index('Year',inplace=True)

In [40]:
df

,Venue,Victors,Score,Losers,MVP
Year,,,,,
1994,"Romford, London, England",USA,16–12,Europe,None
1995,"Basildon, Essex, England",Europe,16–15,USA,None
1996,"Dagenham, London, England",USA,15–13,Europe,None
1997,"Bethnal Green, London, England",USA,13–8,Europe,None
1998,"Bethnal Green, London, England",USA,13–9,Europe,None
1999,"Bethnal Green, London, England",USA,12–7,Europe,None
2000,"Bethnal Green, London, England",USA,12–9,Europe,None
2001,"Bethnal Green, London, England",USA,12–1,Europe,None
2002,"Bethnal Green, London, England",Europe,12–9,USA,None
2003,"Las Vegas, Nevada, USA",USA,11–9,Europe,Mika Immonen
2004,"Egmond aan Zee, Netherlands",USA,12–9,Europe,Rodney Morris
2005,"Las Vegas, Nevada, USA",USA,11–6,Europe,Earl Strickland
2006,"Rotterdam, Netherlands",Tied,12–12,Tied,Corey Deuel
2007,"Las Vegas, Nevada, USA",Europe,11–8,USA,Tony Drago
2008,"St. Julian's, Malta",Europe,11–5,USA,Mika Immonen
2009,"Las Vegas, Nevada, USA",USA,11–7,Europe,Dennis Hatch
2010,"Bethnal Green, London, England",Europe,11–8,USA,Darren Appleton
2011,"Las Vegas, Nevada, USA",Europe,11–7,USA,Niels Feijen
2012,"Bethnal Green, London, England",Europe,11–9,USA,Chris Melling
2013,"Las Vegas, Nevada, USA",Europe,11–2,USA,Niels Feijen
2014,"Tower Circus, Blackpool, England",Europe,11–5,USA,Niels Feijen
2015,"Las Vegas, Nevada, USA",Europe,11–7,USA,Niels Feijen
2016,"Alexandra Palace, London, England",Europe,11–3,USA,Albin Ouschan

In [41]:
sql='select MVP,Victors as Team,count(*)as Count FROM yearly GROUP BY MVP HAVING not MVP Is null order by Count desc'
# sql= 'select * from yearly where not MVP is null'

In [42]:
mvp= pd.read_sql(sql,conn)

In [43]:
mvp

               MVP     Team  Count
0     Niels Feijen   Europe      4
1     Mika Immonen   Europe      2
2    Albin Ouschan   Europe      1
3    Chris Melling   Europe      1
4      Corey Deuel     Tied      1
5  Darren Appleton   Europe      1
6     Dennis Hatch      USA      1
7  Earl Strickland      USA      1
8    Rodney Morris      USA      1
9       Tony Drago   Europe      1

Fix unicode issues

In [44]:
import unicodedata

In [45]:
def fcn(x):
    import unicodedata
    str.strip(unicodedata.normalize("NFKD", x))

In [46]:
mvp['Team']=mvp['Team'].apply(lambda x: str.strip(unicodedata.normalize("NFKD",x)))

In [47]:
mvp['Team'][4]='USA'

c:\users\andrew\appdata\local\programs\python\python35\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [48]:
mvp['Team']

0    Europe
1    Europe
2    Europe
3    Europe
4       USA
5    Europe
6       USA
7       USA
8       USA
9    Europe
Name: Team, dtype: object

SAVE changes to db

In [49]:
mvp.to_sql('mvp',conn,if_exists='replace')

In [50]:
conn.execute('select * from mvp').fetchall()

[(0, 'Niels Feijen', 'Europe', 4),
 (1, 'Mika Immonen', 'Europe', 2),
 (2, 'Albin Ouschan', 'Europe', 1),
 (3, 'Chris Melling', 'Europe', 1),
 (4, 'Corey Deuel', 'USA', 1),
 (5, 'Darren Appleton', 'Europe', 1),
 (6, 'Dennis Hatch', 'USA', 1),
 (7, 'Earl Strickland', 'USA', 1),
 (8, 'Rodney Morris', 'USA', 1),
 (9, 'Tony Drago', 'Europe', 1)]

In [51]:
conn.close()