In [1]:
import os
parent=os.path.abspath('..')
file='players.db'
path=os.path.join(parent,file)

In [24]:
import sqlalchemy
engine=sqlalchemy.create_engine('sqlite:///{}'.format(path))
con=engine.connect()

In [4]:
import pandas as pd

Started with players table, repeat playerstats table (reused code)

In [32]:
sql='update playerstats set Player= "Oscar Dominguez" where Player = "Óscar Domínguez"'

In [33]:
con.execute(sql)

In [37]:
name=pd.read_sql('select * from playerstats where Player = "Oscar Dominguez"',con)

In [38]:
name

,Player,Team,Smp,Swin,Sloss,Swl,Spct,Dmp,Dwin,Dloss,Dwl,Dpct,Twl,Trwl,Cmp,Cwin,Closs,Cwl,Cpct
0,Oscar Dominguez,America,2,0,2,0-2,0.0,3,2,1,2-1,66.67,1-0,0-0,6,3,3,3-3,50.0

--------------------------------------------------------------------------------------------------

Now we have to update the results table. Let's import into df, fix df, then resave

In [58]:
df = pd.read_sql('select * from results',con,index_col=['Year','Match'])

In [59]:
df['American_player'] = df['American_player'].str.replace('Óscar Domínguez','Oscar Dominguez')

In [64]:
df.to_sql('results',con,if_exists='replace',index_label=['Year','Match'])

In [65]:
df = pd.read_sql('select * from results',con,index_col=['Year','Match'])

In [68]:
con.close()