In [1]:
import sqlite3 as sq

In [2]:
import pandas as pd

In [3]:
sql = 'select * from players'

In [4]:
con = sq.connect('../players.db')

In [5]:
df = pd.read_sql(sql,con)

In [7]:
df[df.Name.str.contains('Hunter')]

,Name,Location,Team,Appearances,Win-loss-tie,Wins,Losses,Pct
18,Robert Hunter,Michigan,America,1,0-1-0,0,1,0.0
35,Bobby Hunter,Michigan,America,2,1-1-0,1,1,50.0

In [8]:
f = pd.read_sql('select * from results',con)

In [27]:
f.loc[f.American_player=='Robert Hunter ','American_player']='Bobby Hunter'

In [30]:
f.loc[f.American_player.str.contains('Robert Hunter'),'American_player']='Bobby Hunter, Mike Massey'

In [32]:
f.loc[f.American_player.str.contains('Robert Hunter')]

Empty DataFrame
Columns: [index, Year, Match, Format, European_player, European_score, American_score, American_player, Europe_won]
Index: []

To do: 
1. make sure all player's names have been stripped of spaces (done)
2. make sure all players have commas in between names for doubles etc
1. make players names wrap for team matches

In [36]:
f['European_player']=f['European_player'].str.strip()

In [37]:
f['American_player']=f['American_player'].str.strip()

In [50]:
f.drop('index',inplace=True,axis=1)

In [51]:
f.to_sql('results',con,if_exists='replace')

,Year,Match,Format,European_player,European_score,American_score,American_player,Europe_won
0,1994,0,Singles,Tom Storm,2,0,Bobby Hunter,1
1,1994,1,Singles,Oliver Ortmann,2,0,Mark Wilson,1
2,1994,2,Singles,Lee Tucker,1,2,Lou Butera,0
3,1994,3,Singles,Allison Fisher,0,2,Vivian Villarreal,0
4,1994,4,Singles,Steve Davis,2,1,Mike Gulyassy,1
5,1994,5,Singles,Tom Storm,2,0,Lou Butera,1
6,1994,6,Doubles,Ralf Souquet Franziska Stark,0,2,Dallas West Vivian Villarreal,0
7,1994,7,Singles,Lee Tucker,2,0,Mark Wilson,1
8,1994,8,Singles,Franziska Stark,1,2,Vivian Villarreal,0
9,1994,9,Singles,Ralf Souquet,2,0,Dallas West,1
10,1994,10,Doubles,Oliver Ortmann Allison Fisher,0,2,Bobby Hunter Jeanette Lee,0
11,1994,11,Singles,Tom Storm,2,1,Dallas West,1
12,1994,12,Singles,Jimmy White,2,0,Paul Gerni,1
13,1994,13,Doubles,Franziska Stark Allison Fisher,0,2,Jeanette Lee Vivian Villarreal,0
14,1994,14,Singles,Ralf Souquet,2,0,Bobby Hunter,1
15,1994,15,Singles,Steve Davis,1,2,Lou Butera,0
16,1994,16,Singles,Franziska Stark,0,2,Jeanette Lee,0
17,1994,17,Singles,Jimmy White,0,2,Lou Butera,0
18,1994,18,Singles,Steve Davis,1,2,Jeanette Lee,0
19,1994,19,Singles,Lee Tucker,0,2,Vivian Villarreal,0
20,1994,20,Singles,Steve Davis,2,1,Paul Gerni,1
21,1994,21,Singles,Oliver Ortmann,1,2,Dallas West,0
22,1994,22,Singles,Tom Storm,0,2,Mark Wilson,0
23,1994,23,Singles,Oliver Ortmann,2,0,Bobby Hunter,1
24,1994,24,Singles,Jimmy White,1,2,Mike Gulyassy,0
25,1994,25,Doubles,Ralf Souquet Franziska Stark,1,2,Bobby Hunter Jeanette Lee,0
26,1994,26,Singles,Lee Tucker,2,0,Paul Gerni,1
27,1994,27,Doubles,Jimmy White Steve Davis,0,2,Mark Wilson Lou Butera,0
28,1995,0,Singles,Steve Davis,2,0,Mike Massey,1
29,1995,1,Singles,Daryl Peach,1,2,Bobby Hunter,0
...,...,...,...,...,...,...,...,...
442,2015,17,Singles,Albin Ouschan,5,4,Skyler Woodward,1
443,2016,0,Teams,"Darren Appleton, Niels Feijen, Albin Ouschan, ...",5,2,"Rodney Morris, Justin Bergman, Skyler Woodward...",1
444,2016,1,Doubles,Mark Gray Albin Ouschan,5,2,Shane Van Boening Rodney Morris,1
445,2016,2,Singles,Niels Feijen,5,2,Mike Dechaine,1
446,2016,3,Doubles,Jayson Shaw Darren Appleton,1,5,Skyler Woodward Justin Bergman,0
447,2016,4,Singles,Darren Appleton,5,3,Shane Van Boening,1
448,2016,5,Doubles,Niels Feijen Mark Gray,5,2,Shane Van Boening Skyler Woodward,1
449,2016,6,Singles,Jayson Shaw,3,5,Rodney Morris,0
450,2016,7,Doubles,Albin Ouschan Darren Appleton,5,4,Mike Dechaine Justin Bergman,1
451,2016,8,Singles,Mark Gray,5,1,Justin Bergman,1
452,2016,9,Doubles,Darren Appleton Niels Feijen,5,2,Mike Dechaine Shane Van Boening,1
453,2016,10,Doubles,Jayson Shaw Albin Ouschan,5,3,Rodney Morris Skyler Woodward,1
454,2016,11,Singles,Albin Ouschan,5,4,Skyler Woodward,1
455,2016,12,Doubles,Mark Gray Darren Appleton,4,5,Justin Bergman Rodney Morris,0
456,2016,13,Singles,Jayson Shaw,5,1,Mike Dechaine,1
457,2017,0,Teams,"Nick van den Berg, Jayson Shaw, David Alcaide,...",5,3,"Dennis Hatch, Billy Thorpe, Shane Van Boening,...",1
458,2017,1,Doubles,"David Alcaide, Jayson Shaw",5,3,"Billy Thorpe, Skyler Woodward",1
459,2017,2,Singles,Joshua Filler,5,4,Dennis Hatch,1
460,2017,3,Doubles,"Ralf Souquet, Nick van den Berg",5,3,"Shane Van Boening, Oscar Dominguez",1
461,2017,4,Singles,Jayson Shaw,1,5,Shane Van Boening,0
462,2017,5,Doubles,"David Alcaide, Nick van den Berg",4,5,"Dennis Hatch, Billy Thorpe",0
463,2017,6,Singles,Ralf Souquet,5,3,Oscar Dominguez,1
464,2017,7,Doubles,"Joshua Filler, Jayson Shaw",5,1,"Shane Van Boening, Skyler Woodward",1
465,2017,8,Singles,David Alcaide,5,1,Skyler Woodward,1
466,2017,9,Doubles,"Joshua Filler, Nick van den Berg",5,0,"Shane Van Boening, Billy Thorpe",1
467,2017,10,Doubles,"Jayson Shaw, Ralf Souquet",4,5,"Oscar Dominguez, Dennis Hatch",0
468,2017,11,Singles,Nick van den Berg,4,5,Billy Thorpe,0
469,2017,12,Doubles,"David Alcaide, Ralf Souquet",5,2,"Skyler Woodward, Oscar Dominguez",1
470,2017,13,Singles,Jayson Shaw,5,4,Shane Van Boening,1
471,2017,14,Singles,Joshua Filler,5,3,Dennis Hatch,1